@model AdministrarCredencialesViewModel
@{
    //Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/ckeditor.js?v=" + Html.GetVersion());
    //Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/adapters/jquery.js?v=" + Html.GetVersion());
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
}
<div class="content">
    <form id="formulario" action="javascript:void(0)" method="post">
        <div class="container">

            <label><b>@Html.GetText("USUARIOS", "USUARIO")</b></label>
            <input type="text" id="userID" placeholder="@Html.GetText("SOLICITARCAMBIOPASSWORD", "INTRODUCENOMBREUSU")" name="pNombreUsuario" required>

            <label><b>@Html.GetText("LOGIN", "CONTRASEÑA")</b></label>
            <input type="password" id="passID" placeholder="@Html.GetText("SOLICITARCAMBIOPASSWORD", "INTRODUZCAPASSWORD")" name="pPass" required>

            <button id="GuardarTodo" type="submit">@Html.GetText("LOGIN", "LOGIN")</button>
        </div>
    </form>

</div>

<style>
    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }
</style>
<script>
    var OperativaAcciones = {
        init: function () {
            this.config();
            this.engancharComportamiento();
        },
        config: function (panelID) {
            this.urlPagina = document.location.href;
            return;
        },
        mostrarGuardadoOK: function () {
            $('#formulario').after('<div class="ok general">Los cambios se han guardado correctamente</div>');
        },
        mostrarErrorGuardado: function () {
            $('#formulario').after('<div class="error">@Html.GetText("LOGIN", "CLAVEERRONEA")</div>');
        },
        guardar: function () {
            var that = this;
            MostrarUpdateProgress();
            GnossPeticionAjax(
            that.urlPagina + '/Save',
            that.Options,
            true
            ).done(function (data) {
                that.mostrarGuardadoOK();
            }).fail(function (data) {
                var error = data.split('|||');
                that.mostrarErrorGuardado();
            }).always(function () {
                OcultarUpdateProgress();
            });
        },
        engancharComportamiento: function () {
            var that = this;
            $('#GuardarTodo').click(function () {
                that.guardarTodo();
            });
            return;
        },
        guardarTodo: function () {
            var that = this;
            $('.ok.general').remove();
            $('.error').remove();
            if (!that.comprobarErroresGuardado()) {
                that.Options = {};
                that.obtenerDatos();
                that.guardar();
            }
        },
        obtenerDatos: function () {
            var that = this;
            that.Options['pUsername'] = $("#userID").val();
            that.Options['pPass'] = $("#passID").val();
        },
        comprobarErroresGuardado: function () {
            return $('#userID').val() == '' || $('#passID').val() == '';
        },
    }

    $(document).ready(function () {
        OperativaAcciones.init();
    });
</script>


