@model ResourceViewModel

@helper PintarCategoria(CategoryModel pCategoriaTesauro)
{
    ResourceModel fichaRecurso = Model.Resource;
    
    <div>
        @{
            bool tieneHijos = ((List<CategoryModel>)Model.Categories).Count(cat => cat.ParentCategoryKey == pCategoriaTesauro.Key) > 0;
        }

        @if (tieneHijos)
        {
            <img style="border-width:0px;margin-right:5px;cursor:pointer;" src="@Html.GetBaseUrlStatic()/img/verMas.gif" onclick="javascript:MVCDesplegarTreeView(this);" />
        }
        else{
	        <img style="border-width:0px;" src="@Html.GetBaseUrlStatic()/img/miniWhiteSpace.gif" />
        }
        <span class="@pCategoriaTesauro.Key">
            @{
                string accionClick = "MVCMarcarElementoSelCat(this, 'despAccionRec_" + fichaRecurso.Key + "');";
                string cadenaChecked = "";
                string cadenaDisabled = "";
                if (fichaRecurso.Categories != null && fichaRecurso.Categories.Count(cat => cat.Key == pCategoriaTesauro.Key) > 0)
                {
                    cadenaChecked = "checked=\"checked\"";
                    if (!Model.AllowEditCategories)
                    {
                        cadenaDisabled = "disabled=\"disabled\"";
                    }
                }
            }
        
            <input type="checkbox" onclick="@accionClick" @cadenaChecked @cadenaDisabled/>
            <label for="">@pCategoriaTesauro.Name</label>
        </span>
        @if (tieneHijos)
        {
            <div style="display:none; margin-left:15px;" class="panHijos">
                @foreach (CategoryModel categoria in ((List<CategoryModel>)Model.Categories).Where(cat => cat.ParentCategoryKey == pCategoriaTesauro.Key).OrderBy(cat => cat.Order))
                {
                     @PintarCategoria(categoria);
                }
            </div>
        }
    </div>
}

@foreach (CategoryModel categoria in ((List<CategoryModel>)Model.Categories).Where(cat => cat.ParentCategoryKey == Guid.Empty).OrderBy(cat => cat.Order))
{
    @PintarCategoria(categoria);
}