@model VotesModel

@if (!Model.IsOwnedAuthor)
{
    <p class="votos">
        <span class="literal">Valoración</span>
        <strong id="numVotos">@if(Model.NumVotes > 0){<text>+</text>}@Model.NumVotes</strong>

        @if (Model.IsVotedPositive)
        {
            if (Model.AllowNegativeVotes)
            {
                <a onclick="AccionRecurso_VotarEliminar(this, '@Model.UrlDeleteVote')" class="megusta eleccionUsuario iconizer"><span class="icono"></span>@Html.GetText("PERFILBASERECURSOSFICHA", "MEGUSTA")</a>
            }
            else
            {
                <a onclick="AccionRecurso_VotarEliminar(this, '@Model.UrlDeleteVote')" class="megusta eleccionUsuario iconizer"><span class="icono"></span>@Html.GetText("PERFILBASERECURSOSFICHA", "TEGUSTA")</a>                
            }
        }
        else
        {
            <a onclick="AccionRecurso_VotarPositivo(this, '@Model.UrlVotePositive')" class="megusta iconizer"><span class="icono"></span>@Html.GetText("PERFILBASERECURSOSFICHA", "MEGUSTA")</a>
        }
        
        @if (Model.AllowNegativeVotes)
        {
            if (Model.IsVotedNegative)
            {
                <a onclick="AccionRecurso_VotarEliminar(this, '@Model.UrlDeleteVote')" class="nomegusta eleccionUsuario iconizer"><span class="icono"></span>@Html.GetText("PERFILBASERECURSOSFICHA", "NOMEGUSTA")</a>
            }
            else
            {
                <a onclick="AccionRecurso_VotarNegativo(this, '@Model.UrlVoteNegative')" class="nomegusta iconizer"><span class="icono"></span>@Html.GetText("PERFILBASERECURSOSFICHA", "NOMEGUSTA")</a>
            }
        }
    </p>
}

@if (Model.ShowVoters && (Model.IsVotedPositive || Model.IsVotedNegative || Model.IsOwnedAuthor))
{
    <p class="votosPositivos">
        <a href="#panelVotosAmpliado">@Html.GetText("PERFILBASERECURSOSFICHA", "QUIENHAVOTADO")</a>
    </p>
    <div id="panelVotosSimple" class="panelVotosSimple">
        <div id="panelVotosSimpleInt" class="wrap"></div>
        @if (Model.Voters != null)
        {
            <ul>
            @foreach (VotesModel.VoterModel votante in Model.Voters)
            {
                string voto = "positivo";
                if (votante.Vote == -1)
                {
                    voto = "negativo";
                }
                <li class="@voto"><span>@votante.Name</span></li>
            }
            </ul>
        }
    </div>

    <div id="panelVotosAmpliado" class="panelVotosAmpliado no-data-panel">
        <div class="wrap">
            <div id="panelVotantes"></div>
        </div>
    </div>
}