@*[security|||asignatura|||materialeducativo]*@
@model ResourceViewModel
@{
    ResourceModel FichaDocumento = Model.Resource;
    CommunityModel Comunidad = ViewBag.Comunidad;
    UserIdentityModel IdentidadActual = ViewBag.IdentidadActual;
	UserProfileModel perfil = ViewBag.Perfil;
	ViewBag.PintarH1 = false;

	ViewBag.BodyClass = "page-resource layout02 listadoComunidad comGnoss asignatura semanticoResource " + FichaDocumento.RdfType + "Resource";

    if (FichaDocumento.ItemLinkedFotoVersion != 0 && !string.IsNullOrEmpty
        (FichaDocumento.ItemLinked.ToString()) && FichaDocumento.ItemLinked != Guid.Empty)
    {
        ViewBag.ListaCSS.Add(ViewBag.BaseUrlContent + "/" + Es.Riam.Util.UtilArchivos.ContentOntologias + "/Archivos/" + FichaDocumento.ItemLinked.ToString().Substring(0, 3) + "/" + FichaDocumento.ItemLinked.ToString() + ".css?v=" + FichaDocumento.ItemLinkedFotoVersion);
        ViewBag.ListaJS.Add(ViewBag.BaseUrlContent + "/" + Es.Riam.Util.UtilArchivos.ContentOntologias + "/Archivos/" + FichaDocumento.ItemLinked.ToString().Substring(0, 3) + "/" + FichaDocumento.ItemLinked.ToString() + ".js?v=" + FichaDocumento.ItemLinkedFotoVersion);
    }
}

@section breadcrumb{
    <div class="breadcrumb" id="breadcrumb">
        <div class="box">
            <p>@Html.GetText("COMMON", "ESTASEN")</p>
            <ol>
                <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
                @{
                    string urlPestanya = Comunidad.Url + "/" + ViewBag.NombreUrlPestanya;
                    string nombrePestanya = ViewBag.NombrePestanya;
                }
                <li><a href="@urlPestanya">@nombrePestanya</a></li>
                <li>@FichaDocumento.Title</li>
            </ol>
        </div>
    </div>
}

<div id="col02" class="col col-xs-12 col-md-9">
    <div>
        <div>
            @if (!FichaDocumento.LastVersion.Equals(FichaDocumento.Key))
            {
                <div>
                    <div class="group utils-1 noUltVer">
                        <img src="@ViewBag.BaseUrlStatic/img/comunidades/icoNoVigilado.gif" />
                        <p>@Html.Raw(Html.GetText("PERFILBASERECURSOSFICHA", "NOULTIMAVERSION", (string)ViewBag.UrlPagina.Replace(FichaDocumento.Key.ToString(), FichaDocumento.LastVersion.ToString())))</p>      
	                </div>
                </div>
            }
            <div typeof="sioc_t:Item" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:sioc_t="http://rdfs.org/sioc/types#" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:sioc="http://rdfs.org/sioc/ns#" class="resource resource-main">
                <div class="box description">
                    <div class="wrapDescription">
                        @{
                            string titulo = FichaDocumento.Title;
                            string rdfaTitulo = "";
							
							SemanticPropertyModel propTitulo = Model.SemanticFrom.GetPropertyByPath("http://ltsc.ieee.org/rdf/lomv1p0/lom#title");
							
							if (propTitulo != null)
							{
								titulo = propTitulo.FirstPropertyValue.Value;
								rdfaTitulo = propTitulo.GetRDFA();
							}
							
							string claseCssAsignatura = "";
							claseCssAsignatura = Es.Riam.Util.UtilCadenas.RemoveAccentsWithRegEx(titulo.Substring(0, titulo.IndexOf(" ")).ToLower());

                            SemanticPropertyModel propNivelEduca = Model.SemanticFrom.GetPropertyByPath("http://didactalia.net/Ontologia/asignatura.owl#educationalLevel");

                            string nivelEduca = "";
                            if (propNivelEduca != null)
                            {
                                nivelEduca = propNivelEduca.FirstPropertyValue.Value;
                            }
								
							<div class="group title groupTitleCabecera">
                                <p class="pageTitle"><a href="https://didactalia.net/comunidad/materialeducativo/lecciones">@Html.Translate("Lecciones de didactalia")</a></p>
								<h1  property="dcterms:title" class="@claseCssAsignatura">
                                    <span class="icono"></span>
									<span @rdfaTitulo>@titulo</span>        
								</h1>

								<p class="resourceType semantico @FichaDocumento.RdfType">
									<span>@Html.Translate("tipo de documento")</span>
									<a>@FichaDocumento.RdfTypeName</a>
								</p>
							</div>
                        }
                             
						<div class="componenteAutorUtilsAccionesRedes clearfix">
                            @if (FichaDocumento.Publisher!= null)
                            {
							<div class="group author">
								@Html.PartialView("_FichaPublicador", FichaDocumento)
								@if (FichaDocumento.Publisher.Key != IdentidadActual.KeyIdentity && FichaDocumento.Publisher.TypeProfile != ProfileType.Organization && FichaDocumento.Publisher.TypeProfile != ProfileType.ProfessionalCorporate)
								{
									<p class="acc_seguir @(FichaDocumento.Publisher.Actions!=null && FichaDocumento.Publisher.Actions.FollowingProfile?"activo":"")">
									@if (!IdentidadActual.IsGuestIdentity)
									{
										if (FichaDocumento.Publisher.Actions!=null && FichaDocumento.Publisher.Actions.FollowingProfile)
										{
											<a onclick="Didactalia_AccionPerfil_NoSeguir(this, '@FichaDocumento.Publisher.ListActions.UrlUnfollow')">@Html.GetText("COMMON", "NOSEGUIR")<span class="icono"></span></a>
										}
										else
										{
											<a onclick="Didactalia_AccionPerfil_Seguir(this, '@FichaDocumento.Publisher.ListActions.UrlFollow')">@Html.GetText("COMMON", "SEGUIR")<span class="icono"></span></a>
										}
									}
									</p>
								}
							</div>
                            }
							<div class="resource-utils clearfix">
								<ul>
									@Html.PartialView("_FichaVotos", FichaDocumento.Votes)
									@{
										string textoVisitas = Html.GetText("LISTARECURSOS", "VISITAS");
										if (FichaDocumento.NameImage == "video" || FichaDocumento.NameImage == "audio")
										{
											textoVisitas = Html.GetText("LISTARECURSOS", "REPRODUCCIONES");
										}
									}
									@if (!Model.HideWebsiteVisits)
									{
										<li class="visitas">
											<span class="literal">@textoVisitas </span>
											<strong>@FichaDocumento.NumVisits</strong>
										</li>
									}
									<li class="comentarios">
										<span class="literal">@Html.GetText("CONFIGURACIONFACETADO", "CONTCOMR")</span>
										<strong>@FichaDocumento.NumComments</strong>
									</li>
									@if ((FichaDocumento.Actions != null && FichaDocumento.Actions.AddToMyPersonalSpace) || FichaDocumento.IsInMyPersonalSpace)
									{
										string accionAgregarAMiEspacio = "";
										if(!FichaDocumento.IsInMyPersonalSpace)
										{
											if (!IdentidadActual.IsGuestUser)
											{
												@*FichaDocumento.ListActions.UrlLoadActionAddToPersonalSpace*@
												accionAgregarAMiEspacio = "DesplegarAccionMVC('" + FichaDocumento.CompletCardLink + "/load-action/add-personal-space', this, 'despAccionRec_" + FichaDocumento.Key + "', 'AccionRecurso_AgregarABR');operativaVentanaModalEspacioPersonal($(this));";
											}
											else
											{
												accionAgregarAMiEspacio = "lanzarRegistroAccionInvitado.init();";
											}
										}
										<li class="guardar @(FichaDocumento.IsInMyPersonalSpace?"activo":"")">
											<a onclick="@accionAgregarAMiEspacio" data-toggle="modal" data-target="#recursoModal_@FichaDocumento.Key" class="guardar_@FichaDocumento.Key">
												<span class="literal">@Html.GetText("PERFILBASERECURSOSFICHA", "AGREGARABRPERSONAL")</span>
											</a>
										</li>
									}
									@Html.PartialView("_FichaAccionesMenu", Model)
								</ul>
							</div>
						</div>
                        
                        @if (!Model.HideUtilsResource)
                        {
                            <div id="panUtils1" class="group utils-1 js-activado">
                                <p class="info"><strong>@Html.GetText("PERFILBASERECURSOSFICHA", "ACERCADEESTERECURSO")</strong></p>
                                
                                @if (FichaDocumento.Certification.Key != Guid.Empty)
                                {
                                    <div id="contCertificado">
                                        <p class="certificado">
                                            @Html.GetText("PERFILBASERECURSOSFICHA", "RECURSOCERTIFICADO"):
                                            <strong>@MvcHtmlString.Create(FichaDocumento.Certification.Value)</strong>
                                        </p>
                                    </div>
                                }
								
                            </div>
                        }

                        @{
                            SemanticPropertyModel propUnidadesDidacticas = Model.SemanticFrom.GetPropertyByPath("http://rdfs.org/sioc/ns#topic");

                            if (propUnidadesDidacticas != null && propUnidadesDidacticas.PropertyValues != null && propUnidadesDidacticas.PropertyValues.Count() > 0)
                            {
                                int numLeccion = 1;
                                <div class="contEnt contEnt_Subject">
                                    <div class="group">
                                        <div class="contentgroup">
                                            <div class="componenteResultadosBusqueda resource-list clearfix gridView">
                                                @foreach (SemanticPropertyModel.PropertyValue propUnidad in propUnidadesDidacticas.PropertyValues)
                                                {
                                                    SemanticPropertyModel propURL = propUnidad.RelatedEntity.GetPropertyByPath("http://didactalia.net/Ontologia/asignatura.owl#topicURL");

                                                    if (propURL != null)
                                                    { 
                                                        List<SemanticPropertyModel.ResourceLinkedToEntitySelector> listaUnidadesDidacticas = propURL.OntologyPropInfo.EntitySelector.LinkedResources;

                                                        if (listaUnidadesDidacticas != null && listaUnidadesDidacticas.Count() > 0)
                                                        {
                                                            foreach (SemanticPropertyModel.ResourceLinkedToEntitySelector unidad in listaUnidadesDidacticas)
                                                            {  
                                                                if (unidad != null)
                                                                { 
                                                                    string tituloUnidadDidactica = unidad.Title;
                                                                    string enlaceUnidadDidactica = unidad.Link;
                                                                    @*Guid claveUnidadDidactica = unidad.Key;*@
                                                                    string imagenUnidadDidactica = unidad.ImageUrl;

                                                                    if (!string.IsNullOrEmpty(tituloUnidadDidactica))
                                                                    {
                                                                        <div class="divTemaWrapper col-xs-12 col-sm-6 col-md-4">
                                                                            <div class="divTema">
                                                                                <div class="divImage">
																					<p class="miniatura">
																						<a href="@enlaceUnidadDidactica">
                                                                                    @if (!string.IsNullOrEmpty(imagenUnidadDidactica))
                                                                                    {
																						<img alt="@tituloUnidadDidactica" src="@imagenUnidadDidactica" />
                                                                                    }
																					else
																					{
																						<img alt="@tituloUnidadDidactica" src="@ViewBag.BaseUrlStatic/personalizacion/theme/resources/lecciones.png" />
																					}
																						</a>
																					</p>
                                                                                </div>
                                                                                <div class="divContenido input-group">
                                                                                    <div class="divNumeroLeccion input-group-btn">
                                                                                        <span class="value">@numLeccion</span>
                                                                                    </div>
                                                                                    <div class="divNombreLeccion input-group-btn">
                                                                                        <a href="@enlaceUnidadDidactica" class="value">@tituloUnidadDidactica</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                            numLeccion++;
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <script type="text/javascript">
                            $(document).ready(function () {
                                MontarFechas();
                                cargarGadgets();
                            });

                            function cargarGadgets() {
                                var gadgets = "";
                                $('#divContPanGadgets div.group.resources:empty').each(function () {
                                    if ($(this).attr("id") != undefined && $(this).attr("id") != "") {
                                        gadgets += $(this).attr("id") + ",";
                                    }
                                });

                                if (gadgets != "") {
                                    var dataPostGadgets = {
                                        callback: "CargarGadgets",
                                        gadgetsID: gadgets
                                    }

                                    $.post('@ViewBag.UrlPagina', dataPostGadgets, function (data) {
                                        for (var i in data) {
                                            if (data[i].updateTargetId.indexOf("FichaGadget_") == 0) {
                                                var panID = data[i].updateTargetId.substr(12);
                                                var htmlGadget = data[i].html;
                                                if (htmlGadget == "") {
                                                    $('#divContPanGadgets').find("#" + panID).remove();
                                                }
                                                else {
                                                    $('#divContPanGadgets').find("#" + panID).replaceWith(htmlGadget);
                                                }
                                            }
                                        }
                                        cargarGadgets();
                                    });
                                }
                                else {
                                    customizarCol01DivDoblePestana.init();
                                }
                            }

                            @if (FichaDocumento.Graphs.Count > 0)
                            {
                                @:var urlPaginaCallBackGrafos = '@FichaDocumento.ListActions.UrlCallbackGraph';
                                                                                    
                                Guid docID = FichaDocumento.Key;
                                string tituloGrafo = FichaDocumento.Title.Replace("'", "\\'");
                                Guid proyID = Comunidad.Key;
                                string UrlIntragnoss = Model.UrlIntragnoss;

                                ViewBag.ListaJS.Add(ViewBag.BaseURL + "/jsweb/arbor.js?v=" + ViewBag.Version);
                                ViewBag.ListaJS.Add(ViewBag.BaseURLStatic + "/jsNuevo/grafos/js/grafo.gnoss.js?v=" + ViewBag.Version);
                                ViewBag.ListaJS.Add(ViewBag.BaseURLStatic + "/jsNuevo/grafos/js/jquery.qtip.min.js?v=" + ViewBag.Version);
                                ViewBag.ListaCSS.Add(ViewBag.BaseURLStatic + "/jsNuevo/grafos/css/jquery.qtip.min.css?v=" + ViewBag.Version);

                                foreach (ResourceModel.GrafoRecurso grafo in FichaDocumento.Graphs)
                                {
                                    @Html.Raw(" var dataPost = {urlintragnoss: '" + UrlIntragnoss + "', propEnlace: '" + grafo.PropEnlace + "', nodosLimiteNivel: 30,extra: '" + grafo.Extra + "', idioma: $('input.inpt_Idioma').val(), tipoRecurso: '" + grafo.TipoRecurso + "'};");

                                    @Html.Raw(" $(function(){MontarGrafoFicRec('" + docID + "', '" + tituloGrafo + "', '" + proyID + "', '" + grafo.PropEnlace + "', 30, '" + UrlIntragnoss + "', '" + grafo.Extra + "', '" + grafo.UrlBusqueda + "', '" + grafo.TipoRecurso + "'); GnossPeticionAjax('" + FichaDocumento.ListActions.UrlLoadGraph + "', dataPost, true).done(function(data){FinTraerDatosGrafoAJAX(data)});});");
                                }
                            }
                        </script>

                        @if (FichaDocumento.Graphs.Count > 0)
                        {
                        <div class="group grafo-relaciones" style="display:none">
                            <p class="group-title">@Html.Translate("Mapa Conceptual sobre") @FichaDocumento.Title</p>
                            <a class="lanzarVentana" href="#">@Html.Translate("Ver grafo a pantalla completa")</a>
                            <div id="divContGrafo"></div>
                            <div>
                                <div>
                                    <div class="leyendaGrafo" id="leyendaGrafo">
                                        @Html.Raw(Html.Translate("FICHA_RECURSOS_LEYENDA_GRAFO"))
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        @if (!Model.HideUtilsResource && Model.Resource.Actions.Edit)
                        {
                            <div class="group utils-2" id="contAutoresEditoresLectores">
                                @Html.PartialView("_FichaAutoresEditoresLectores", FichaDocumento)
                            </div>
                        }

                        @Html.PartialView("_FichaCategorias", FichaDocumento)

                        @Html.PartialView("_FichaEtiquetas", FichaDocumento)

                        @if (FichaDocumento.Version > 0)
                        {
                            <div class="group version">
				                <p>
				                    @Html.GetText("LISTARECURSOS", "VERSIONES")@FichaDocumento.Version
				                </p> 
			                </div>
                        }
                    
                        @if (FichaDocumento.Licence != "")
                        {
                            <div class="group license">
                                <p class="licencia creativeCommonds">@Html.Raw(FichaDocumento.Licence)</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (FichaDocumento.Comments != null)
    {
        <div class="resource-comments">
            <div class="box comments" id="comments">
                <div class="commentsTop input-group">
                    <div class="comentariosLiteral">
                        <p>@Html.Translate("Comentar")</p>
                    </div>  
                    <div class="totalComentarios">
                        <p class="what"><span class="icono"></span>@FichaDocumento.NumComments</p>
                    </div>				
				</div>
				@if (!IdentidadActual.IsGuestIdentity)
    {
        if (FichaDocumento.AllowComments)
        {
            ViewBag.ListaJS.Add(ViewBag.BaseURL + "/ckeditor/ckeditor.js?v=" + ViewBag.Version);
            ViewBag.ListaJS.Add(ViewBag.BaseURL + "/ckeditor/adapters/jquery.js?v=" + ViewBag.Version);


            string urlFotoUsuario = "";
            if (string.IsNullOrEmpty(perfil.Foto))
            {
                urlFotoUsuario = Html.GetBaseUrlStatic() + "/personalizacion/theme/resources/anonimo_peque.png";
            }
            else
            {
                urlFotoUsuario = ViewBag.BaseUrlContent + perfil.Foto;
            }


            string urlUsuario = "";
            string nombreUsuario = perfil.Name;
						
						<div class="divEscribirComentario">
							<div class="userImage">
								<a class="userComment" href="@urlUsuario"><img src="@urlFotoUsuario"></a>
							</div>
							<div class="datosUsuario">
								<a href="@urlUsuario" typeof="foaf:Person"><span property="foaf:name">@nombreUsuario</span></a>
								<textarea class="cke comentarios" id="txtNuevoComentario_@FichaDocumento.Key" rows="2" cols="20"></textarea>
								@{
            string funcionComentario_CrearComentario = "Comentario_CrearComentario('" + FichaDocumento.ListActions.UrlCreateComment + "', '" + FichaDocumento.Key + "');"; 
								}
								<input type="button" class="text medium" value="@Html.GetText("COMMON", "ENVIAR") >" onclick="@funcionComentario_CrearComentario" />
							</div>
						</div>
        }
        else
        {
						<label><span>@Html.GetText("CONTROLESDOCUMENTACION", "COMENTARIOSBLOQUEADOS")</span></label>
        }
    }
    else
    {   
				<div class="inicioSesionComentarios">
                    <p>@Html.GetText("CONTROLESDOCUMENTACION", "QUIERESCOMENTAR") <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMMON", "REGISTRARSE")</a> @Html.GetText("PERFIL", "VISITANTEPERFILO") <a href="@Comunidad.Url/@Html.GetText("URLSEM", "LOGIN")">@Html.GetText("COMINICIOLOGIN", "INICIASESION")</a></p>
                </div>
    }
				<div id="panComentarios">
				@foreach (CommentModel comentario in FichaDocumento.Comments)
    {
					@Html.PartialView("_FichaComentario", comentario)
    }
				</div>
				@if (FichaDocumento.Comments.Count > 2)
    {
				<div class="desplegarComentarios">
                    <span class="literal">@Html.Translate("Ver todos")<span class="icono"></span></span>
                </div>
                 
    }
            </div>
        </div>
    }
</div>
<div id="col01" class="col col-xs-12 col-md-3">
	@if (ViewBag.FormularioRegistro != null)
 {
		<div>
			@Html.PartialView("_FormularioRegistroShared", (AutenticationModel)(ViewBag.FormularioRegistro))
		</div>
 }
	<div id="panVinculadosInt">
        @Html.PartialView("_FichaVinculados", FichaDocumento)
    </div>
    @if (FichaDocumento.Gadgets != null && FichaDocumento.Gadgets.Count > 0)
    {
        <div id="divContPanGadgets" class="recursosGadgets">
            @foreach (GadgetModel gadget in ((List<GadgetModel>)FichaDocumento.Gadgets).OrderBy(gadget => gadget.Order))
            {
                @Html.PartialView("ControlesMVC/_FichaGadget", gadget)
            }
        </div>
    }
</div>
<div id="palco" class="palco @FichaDocumento.RdfType" style="display: none;">
    <div class="palcoHead">
        <div class="headRow01 input-group">
            <div class="corporativo btn btn-default btn-descubre input-group-btn" id="corporativo">
                <div class="content ">
                    <div class="logoCustomRIAM">
						<a href="@Comunidad.Url">                                
							<img style="height:21px;" src="@ViewBag.BaseUrlStatic/personalizacion/theme/resources/logo-didactalia-blanco-movil.png" title="@Comunidad.Name" alt="@Comunidad.Name" class="logoMovil" />
						</a>
					</div>
                </div>
            </div>
            <div class="webSiteTitle btn btn-default btn-descubre input-group-btn" id="webSiteTitle">
                <h2>
                    @if (string.IsNullOrEmpty(FichaDocumento.UrlDocument))
                    {
                        @FichaDocumento.Title
                    }
                    else
                    {
                        string claseEnviarAccGogAnac = "";
                        if (FichaDocumento.TypeDocument == Es.Riam.Gnoss.Web.MVC.Models.ResourceModel.DocumentType.Imagen || FichaDocumento.TypeDocument == Es.Riam.Gnoss.Web.MVC.Models.ResourceModel.DocumentType.FicheroServidor)
                        {
                            claseEnviarAccGogAnac = "class=\"linkDescargaFichero\"";
                        }

                        if (FichaDocumento.OpenInNewWindow)
                        {
                            @FichaDocumento.Title
                        }
                        else
                        {
                            @FichaDocumento.Title
                        }
                    }
                </h2>
            </div>
            <div class="closeButton btn btn-default btn-descubre input-group-btn" id="closeButton">
                <a href="#" class="cerrar">x</a>
            </div>            
        </div>
    </div>
    <div class="grafoContent"></div>
</div>
