@*[security|||educationalresource|||crfp]*@

@model ResourceViewModel
@{
    ResourceModel FichaDocumento = Model.Resource;
    SemanticResourceModel semCmsModel = Model.SemanticFrom;
    CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    if (Comunidad.IsCatalog)
    {
        Html.SetBodyClass("layout03 fichaComunidad fichaCatalogo comGnoss fichaRecursoEducativo fichaRecursoMediateca");
    }
    else if (FichaDocumento.TypeDocument == ResourceModel.DocumentType.Semantico)
    {
        Html.SetBodyClass("layout03 fichaComunidad fichaRecurso fichaCatalogo comGnoss fichaRecursoEducativo fichaRecursoMediateca");
    }
    else
    {
        Html.SetBodyClass("layout03 fichaComunidad fichaRecurso comGnoss fichaRecursoEducativo fichaRecursoMediateca");
    }

    if (FichaDocumento.ItemLinkedFotoVersion != 0 && !string.IsNullOrEmpty
        (FichaDocumento.ItemLinked.ToString()) && FichaDocumento.ItemLinked != Guid.Empty)
    {
        Html.GetListaCSS().Add(Html.GetBaseUrlContent() + "/" + Es.Riam.Util.UtilArchivos.ContentOntologias + "/Archivos/" + FichaDocumento.ItemLinked.ToString().Substring(0, 3) + "/" + FichaDocumento.ItemLinked.ToString() + ".css?v=" + FichaDocumento.ItemLinkedFotoVersion);
        Html.GetListaJS().Add(Html.GetBaseUrlContent() + "/" + Es.Riam.Util.UtilArchivos.ContentOntologias + "/Archivos/" + FichaDocumento.ItemLinked.ToString().Substring(0, 3) + "/" + FichaDocumento.ItemLinked.ToString() + ".js?v=" + FichaDocumento.ItemLinkedFotoVersion);
    }

    if (FichaDocumento.TypeDocument == ResourceModel.DocumentType.Semantico)
    {
        Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/jsNuevo/formsemactic.js?v=" + Html.GetVersion());
        Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/formsemactic.css?v=" + Html.GetVersion());
    }

    bool PresentacionNoSocial = Comunidad.ProyectType == CommunityModel.TypeProyect.CatalogoNoSocial || Comunidad.ProyectType == CommunityModel.TypeProyect.CatalogoNoSocialConUnTipoDeRecurso;
    Recurso recurso = new Recurso(semCmsModel, FichaDocumento, Html.GetBaseUrlContent() + "/");
    string classPrincipal = "";
    if (semCmsModel.ReadMode)
    {
        classPrincipal = "formSemLectura";

        if (semCmsModel.RootEntities != null && semCmsModel.RootEntities.Count > 0)
        {
            classPrincipal += " formSemLectura_" + semCmsModel.RootEntities[0].Entity.TipoEntidadGeneracionClases;
        }
    }
}

@section breadcrumb{
    <div class="breadcrumb" id="breadcrumb">
        <div class="box">
            <p>@Html.GetText("COMMON", "ESTASEN")</p>
            <ol>
                <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
                @{
                    string urlPestanya = Comunidad.Url + "/" + Html.GetNombreUrlPestanya();
                    string nombrePestanya = Html.GetNombrePestanya();
                }
                <li><a href="@urlPestanya">@nombrePestanya</a></li>
                <li>@FichaDocumento.Title</li>
            </ol>
        </div>
    </div>
}

<div id="col02">
    <div>
        <div class="@classPrincipal">
            @{
                if (!FichaDocumento.LastVersion.Equals(FichaDocumento.Key))
                {
                    <div>
                        <div class="group utils-1 noUltVer">
                            <img src="@Html.GetBaseUrlStatic()/img/comunidades/icoNoVigilado.gif" />
                            <p>@Html.Raw(Html.GetText("PERFILBASERECURSOSFICHA", "NOULTIMAVERSION", Html.GetUrlPagina().Replace(FichaDocumento.Key.ToString(), FichaDocumento.LastVersion.ToString())))</p>
                        </div>
                    </div>
                }

                string claseItem = "resource";

                if (FichaDocumento.IsDraft)
                {
                    claseItem += " resourceDraft";
                }
            }


            <div typeof="sioc_t:Item" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:sioc_t="http://rdfs.org/sioc/types#" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:sioc="http://rdfs.org/sioc/ns#" class="@claseItem">
                <div class="box description">
                    <div class="wrapDescription">
                        <div class="contentGroup contenidoPrincipal">

                            <div class="group title">
                                <h1 property="dcterms:title" content="@FichaDocumento.Title">
                                    @if (string.IsNullOrEmpty(FichaDocumento.UrlDocument))
                                        {
                                        @FichaDocumento.Title
                                        }
                                        else
                                        {
                                            string claseEnviarAccGogAnac = "";
                                            if (FichaDocumento.TypeDocument == Es.Riam.Gnoss.Web.MVC.Models.ResourceModel.DocumentType.Imagen || FichaDocumento.TypeDocument == Es.Riam.Gnoss.Web.MVC.Models.ResourceModel.DocumentType.FicheroServidor)
                                            {
                                                claseEnviarAccGogAnac = "class=\"linkDescargaFichero\"";
                                            }

                                            if (FichaDocumento.OpenInNewWindow)
                                            {
                                        <a target="_blank" title="@Html.GetText("PERFILBASE", "ABREVENTANANUEVA")" href="@FichaDocumento.UrlDocument" @Html.Raw(claseEnviarAccGogAnac)>@FichaDocumento.Title</a>
                                            }
                                            else
                                            {
                                        <a href="@FichaDocumento.UrlDocument" @Html.Raw(claseEnviarAccGogAnac)>@FichaDocumento.Title</a>
                                            }
                                        }
                                </h1>

                                @{
                                        string privado = "";
                                        if (FichaDocumento.Private)
                                        {
                                            privado = "privado";
                                        }
                                }
                            </div>

                            <div class="valoracion">
                                <div class="starrr"></div>
                                <div class="info-valoracion">
                                    <a href="#" class="toggle"><span class="fa fa-caret-down"></span></a>
                                    <div class="dropdown">

                                        <div class="info">
                                            <p><strong>@recurso.meanScore</strong> de un máximo de <strong>5 puntos</strong></p>
                                            <p id="starsNumber" class="oculto">@recurso.starsNumber</p>
                                            <p id="isVoted" class="oculto">@FichaDocumento.Votes.IsVotedPositive</p>
                                            @if (!@FichaDocumento.Votes.IsVotedPositive)
                                                {
                                                <p class="desc">
                                                    Puede valorar el recurso pulsando en la parte superior en la estrella que considere.
                                                </p>
                                                }
                                                else
                                                {
                                                <p class="desc">
                                                    Ya ha realizado una votación en el recurso.
                                                </p>
                                                }
                                            @if (FichaDocumento.Votes != null && FichaDocumento.AllowVotes)
                                                {
                                                <br />
                                                <p class="nVotos">
                                                    Nº de votos: <span id="votesNumber">@recurso.votesNumber</span>
                                                </p>
                                                }
                                        </div>
                                        <div class="pregunta oculto">
                                            <p>@Html.Translate("¿Desea valorar el recurso?")</p>
                                            <a href="#" class="btn-si">@Html.Translate("Si")</a>
                                            <a href="#" class="btn-no">@Html.Translate("No")</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-panel-info">
                            <div class="circulo">
                                <span></span>
                            </div>
                            @if (Model.Resource.Publisher != null)
                            {
                                <p id="panelPublicador" class="oculto">
                                    @Html.PartialView("_FichaPublicador", FichaDocumento)
                                </p>
                                <div class="autor">
                                    <p class="literal">Publicado por</p>
                                    <p class="usuario"></p>
                                </div>
                            }
                            @if (!Model.HideUtilsResource)
                            {
                                if (!PresentacionNoSocial)
                                {
                                    string textoVisitas = Html.GetText("LISTARECURSOS", "VISITAS");
                                    if (FichaDocumento.NameImage == "video" || FichaDocumento.NameImage == "audio")
                                    {
                                        textoVisitas = Html.GetText("LISTARECURSOS", "REPRODUCCIONES");
                                    }

                                    if (!Model.HideWebsiteVisits)
                                    {
                                        <div class="visitas">
                                            <p class="literal">@textoVisitas</p>
                                            <p class="dato">@FichaDocumento.NumVisits</p>
                                        </div>
                                    }
                                }
                            }
                            <div class="fecha">
                                <p class="literal">Fecha</p>
                                <p class="dato">@FichaDocumento.PublishDate.ToString("d/M/yyyy")</p>
                            </div>
                        </div>

                        <script type="text/javascript">
                            var urlActionSemCms = '@FichaDocumento.ListActions.UrlActionSemCms';

                            $(document).ready(function () {
                                MontarFechas();

                                cargarGadgets();
                            });

                            function cargarGadgets() {
                                var gadgets = "";
                                $('#divContPanGadgets div.group.resources:empty').each(function () {
                                    if ($(this).attr("id") != undefined && $(this).attr("id") != "") {
                                        gadgets += $(this).attr("id") + ",";
                                    }
                                });

                                if (gadgets != "") {
                                    var dataPostGadgets = {
                                        callback: "CargarGadgets",
                                        gadgetsID: gadgets
                                    }

                                    @*$.post('@FichaDocumento.CompletCardLink', dataPostGadgets, function (data) {*@
                                    $.post('@Html.GetUrlContext(FichaDocumento.CompletCardLink, FichaDocumento.Key, Html.GetComunidad().ShortName)', dataPostGadgets, function (data) {
                                        for (var i in data) {
                                            if (data[i].updateTargetId.indexOf("FichaGadget_") == 0) {
                                                var panID = data[i].updateTargetId.substr(12);
                                                var htmlGadget = data[i].html;
                                                if (htmlGadget == "") {
                                                    $('#divContPanGadgets').find("#" + panID).remove();
                                                }
                                                else {
                                                    $('#divContPanGadgets').find("#" + panID).replaceWith(htmlGadget);
                                                }
                                            }
                                        }
                                        cargarGadgets();
                                    });
                                }
                                else {
                                    CompletadaCargaContextos();
                                }
                            }

                            @if (FichaDocumento.Graphs.Count > 0)
                            {
                                @:var urlPaginaCallBackGrafos = '@FichaDocumento.ListActions.UrlCallbackGraph';

                                Guid docID = FichaDocumento.Key;
                                string titulo = FichaDocumento.Title.Replace("'", "\\'");
                                Guid proyID = Comunidad.Key;
                                string UrlIntragnoss = Model.UrlIntragnoss;

                                Html.GetListaJS().Add(Html.GetBaseUrl() + "/jsweb/arbor.js?v=" + Html.GetVersion());
                                Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/jsNuevo/grafos/js/grafo.gnoss.js?v=" + Html.GetVersion());
                                Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/jsNuevo/grafos/js/jquery.qtip.min.js?v=" + Html.GetVersion());
                                Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/jsNuevo/grafos/css/jquery.qtip.min.css?v=" + Html.GetVersion());

                                foreach (ResourceModel.GrafoRecurso grafo in FichaDocumento.Graphs)
                                {
                                    //@Html.Raw(" var dataPost = {callback: 'peticionajaxrelacionesgrafoficharec',urlintragnoss: '" + UrlIntragnoss + "',proyectoID: '" + proyID + "', documentoID: '" + docID + "', propEnlace: '" + grafo.PropEnlace + "', nodosLimiteNivel: 30,extra: '" + grafo.Extra + "', idioma: $('input.inpt_Idioma').val(), tipoRecurso: '" + grafo.TipoRecurso + "'};");
                                    @Html.Raw(" var dataPost = {urlintragnoss: '" + UrlIntragnoss + "', propEnlace: '" + grafo.PropEnlace + "', nodosLimiteNivel: 30,extra: '" + grafo.Extra + "', idioma: $('input.inpt_Idioma').val(), tipoRecurso: '" + grafo.TipoRecurso + "'};");

                                    //@Html.Raw(" $(function(){MontarGrafoFicRec('" + docID + "', '" + titulo + "', '" + proyID + "', '" + grafo.PropEnlace + "', 30, '" + UrlIntragnoss + "', '" + grafo.Extra + "', '" + grafo.UrlBusqueda + "', '" + grafo.TipoRecurso + "'); $.post('" + Html.GetUrlPagina() + "', dataPost, FinTraerDatosGrafoAJAX);});");
                                    @Html.Raw(" $(function(){MontarGrafoFicRec('" + docID + "', '" + titulo + "', '" + proyID + "', '" + grafo.PropEnlace + "', 30, '" + UrlIntragnoss + "', '" + grafo.Extra + "', '" + grafo.UrlBusqueda + "', '" + grafo.TipoRecurso + "'); GnossPeticionAjax('" + FichaDocumento.ListActions.UrlLoadGraph + "', dataPost, true).done(function(data){FinTraerDatosGrafoAJAX(data)});});");
                                }
                            }
                        </script>

                        <div class="group content semanticView">
                            @if ((recurso.type == "http://crfp.gnoss.com/items/TYPE_LINK" && !recurso.esVideo) || (recurso.type == "http://crfp.gnoss.com/items/TYPE_FILE"))
                            {
                            <div class="row-botones">
                                @if ((recurso.type == "http://crfp.gnoss.com/items/TYPE_LINK"))
                                    {
                                    <a href="@recurso.link" class="btn">
                                        Ir a la página del enlace
                                        <span class="material-icons">keyboard_arrow_right</span>
                                    </a>
                                    }
                                @if ((recurso.type == "http://crfp.gnoss.com/items/TYPE_FILE"))
                                    {
                                    <a href="@recurso.file" class="btn" download="">
                                        Descargar fichero adjunto
                                        <span class="material-icons">keyboard_arrow_down</span>
                                    </a>
                                    }

                            </div>
                            }
                            @if (recurso.esVideo)
                            {    <div class="row-incrustados">
                                @if (recurso.embebedLink.EmbebedLinkYoutube != null)
                                {
                            <iframe src="@recurso.embebedLink.EmbebedLinkYoutube" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                }
                                else if (recurso.embebedLink.EmbebedLinkVimeo != null)
                                {
                            <iframe src="@recurso.embebedLink.EmbebedLinkVimeo" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                }
                                else if (recurso.embebedLink.EmbebedLinkSlideshare != null)
                                {
                            <iframe src="@recurso.embebedLink.EmbebedLinkSlideshare" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen=""> </iframe>
                                }
                            </div>
                            }

                            <div class="prop prop_description">
                                <div class="value" about="@Html.GetUrlPagina()" property="dc:description" datatype="xsd:string">
                                    @Html.Raw(recurso.description)
                                </div>
                            </div>
                        </div>


                        @if (!Model.HideUtilsResource)
                        {
                            <div class="group utils-2" id="contAutoresEditoresLectores">
                                @Html.PartialView("_FichaAutoresEditoresLectores", FichaDocumento)
                            </div>
                        }


                        @*Autores*@
                        <div class="group " id="contAutores">
                            @if (FichaDocumento.Authors != null && FichaDocumento.Authors.Count > 0)
                            {
                                <div class="group categorias">
                                    <p>@Html.GetText("COMMON", "AUTORES"): </p>
                                    <ul class="listTags">
                                        @foreach (string autor in FichaDocumento.Authors.Keys)
                                        {
                                            <li>
                                                <a href="@FichaDocumento.Authors[autor]" property="dc:creator">@autor</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                        }
                        </div>

                        @Html.PartialView("_FichaCategorias", FichaDocumento)

                        @Html.PartialView("_FichaEtiquetas", FichaDocumento)

                        @if (FichaDocumento.Version > 0)
                        {
                            <div class="group version">
                                <p>
                                    @Html.GetText("LISTARECURSOS", "VERSIONES")@FichaDocumento.Version
                                </p>
                            </div>
                        }
                        @if (!PresentacionNoSocial || IdentidadActual.IsProyectAdmin || IdentidadActual.IsProyectSupervisor)
                        {
                            @Html.PartialView("_FichaAccionesMenu", Model)
                        }
                        @if (!Model.HideSharedCommunities)
                        {
                            <div class="group compartida" id="divCompartido">
                                @Html.PartialView("_FichaCompartidos", FichaDocumento)
                            </div>
                        }

                        @if (FichaDocumento.TypeDocument == ResourceModel.DocumentType.Newsletter)
                        {
                            <div class="group newsletter">
                                <p>
                                    <a href="@FichaDocumento.UrlSearch?gnoss:hastipodoc=11">@Html.GetText("PERFILBASERECURSOSFICHA", "VERTODASNEWSLETTERS")</a>
                                </p>
                            </div>
                        }

                        @if (FichaDocumento.Licence != "")
                        {
                            <div class="group license">
                                <p class="licencia creativeCommonds">@Html.Raw(FichaDocumento.Licence)</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (FichaDocumento.Comments != null)
    {
        <div class="resource">
            <div class="box comments" id="comments">
                <div>
                    <div>
                        <p class="what"><strong><span id="numComentarios">@FichaDocumento.NumComments</span> Comentarios</strong></p>
                        @if (!IdentidadActual.IsGuestIdentity)
                        {
                            if (FichaDocumento.AllowComments)
                            {
                                Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/ckeditor.js?v=" + Html.GetVersion());
                                Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/adapters/jquery.js?v=" + Html.GetVersion());
                                <div>
                                    <div class="comment-content">
                                        <fieldset class="mediumLabels">
                                            <legend>
                                                @Html.GetText("PERFILBASERECURSOSFICHA", "PUBLICARCOMENTARIO")
                                            </legend>
                                            <p>
                                                <textarea cols="20" rows="2" id="txtNuevoComentario_@FichaDocumento.Key" class="cke comentarios"></textarea>
                                            </p>
                                            <p id="error_@FichaDocumento.Key" class="error"></p>
                                            @{
                                                string funcionComentario_CrearComentario = "Comentario_CrearComentario('" + FichaDocumento.ListActions.UrlCreateComment + "', '" + FichaDocumento.Key + "');";
                                            }
                                            <input type="button" class="text medium" value="@Html.GetText("COMMON", "ENVIAR")" onclick="@funcionComentario_CrearComentario" />
                                            @*<p></p>*@
                                        </fieldset>
                                    </div>
                                </div>
                                                }
                                                else
                                                {
                                                    <label><span>@Html.GetText("CONTROLESDOCUMENTACION", "COMENTARIOSBLOQUEADOS")</span></label>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>@Html.GetText("CONTROLESDOCUMENTACION", "QUIERESCOMENTAR") <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMMON", "REGISTRARSE")</a> @Html.GetText("PERFIL", "VISITANTEPERFILO") <a href="@Comunidad.Url/@Html.GetText("URLSEM", "LOGIN")">@Html.GetText("COMINICIOLOGIN", "INICIASESION")</a></p>
                                                }
                        @if (FichaDocumento.Comments != null)
                        {
                            <div id="panComentarios">
                                @foreach (CommentModel comentario in FichaDocumento.Comments)
                                {
                                    @Html.PartialView("_FichaComentario", comentario)
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <input type="hidden" value="@Html.GetText("FREEBASE", "AVISOLEGAL")" class="inpt_avisoLegal" />
        </div>
                                                }
</div>
<div id="col01">
    <div id="panVinculadosInt">
        @Html.PartialView("_FichaVinculados", FichaDocumento)
    </div>
    @if (FichaDocumento.Gadgets != null && FichaDocumento.Gadgets.Count > 0)
    {
        <div id="divContPanGadgets">
            @foreach (GadgetModel gadget in ((List<GadgetModel>)FichaDocumento.Gadgets).OrderBy(gadget => gadget.Order))
            {
                @Html.PartialView("ControlesMVC/_FichaGadget", gadget)
            }
        </div>
    }


</div>

@if (Model.SemanticFrom != null && Model.SemanticFrom.MapAgregated)
{
    <div class="listado-mapa">
        <div id="listing-preview-map"></div>
    </div>
}


<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        MontarFechaCliente();
    });

</script>

<script type="text/javascript">
    @Html.Raw(Html.GetJSExtra());
</script>

@functions
{
    public class Recurso
    {
        public const string crfp = "http://onto.educa.jccm.es/crfp#";
        public const string dc = "http://purl.org/dc/elements/1.1/";
        public const string emlo = "http://onto.educa.jccm.es/emlo#";

        public Recurso(SemanticResourceModel pSemCmsModel, ResourceModel pFichaDocumento, string pUrlContent)
        {
            string crfp = "http://onto.educa.jccm.es/crfp#";
            string emlo = "http://onto.educa.jccm.es/emlo#";
            string dc = "http://purl.org/dc/elements/1.1/";

            this.titulo = pSemCmsModel.GetFirstValuePropertyByPath(dc + "title");
            this.description = pSemCmsModel.GetFirstValuePropertyByPath(dc + "description");
            this.type = pSemCmsModel.GetFirstValuePropertyByPath(dc + "type");

            esVideo = false;
            if (pSemCmsModel.GetFirstValuePropertyByPath(emlo + "link") != null)
            {
                this.link = pSemCmsModel.GetFirstValuePropertyByPath(emlo + "link");
                this.embebedLink = pSemCmsModel.GetPropertyByPath(emlo + "link").PropertyValues[0];
                if (this.embebedLink.EmbebedLinkYoutube != null || this.embebedLink.EmbebedLinkVimeo != null || this.embebedLink.EmbebedLinkSlideshare != null)
                {
                    esVideo = true;
                }
            }
            if (pSemCmsModel.GetFirstValuePropertyByPath(emlo + "file") != null)
            {
                this.file = pSemCmsModel.GetPropertyByPath(emlo + "file").PropertyValues[0].DownloadUrl;
            }
            if (pSemCmsModel.GetFirstValuePropertyByPath(crfp + "meanScore") != null)
            {
                this.meanScore = pSemCmsModel.GetFirstValuePropertyByPath(crfp + "meanScore");
                this.starsNumber = Convert.ToInt32(Math.Floor(double.Parse(meanScore, System.Globalization.CultureInfo.InvariantCulture)));
            }
            else
            {
                this.meanScore = "-";
                this.starsNumber = 0;
            }
            if (pSemCmsModel.GetFirstValuePropertyByPath(crfp + "votesNumber") != null)
            {
                this.votesNumber = pSemCmsModel.GetFirstValuePropertyByPath(crfp + "votesNumber");
            }
            else
            {
                this.votesNumber = "0";
            }


        }

        #region propiedades
        public string titulo { get; set; }
        public string description { get; set; }
        public string type { get; set; }
        public bool esVideo { get; set; }

        public string link { get; set; }
        public SemanticPropertyModel.PropertyValue embebedLink { get; set; }
        public string file { get; set; }

        public string meanScore { get; set; }
        public int starsNumber { get; set; }
        public string votesNumber { get; set; }
        #endregion

    }
}
