@model ResourceModel

<fieldset>
    @{int numVotos = 0;}
    <ul class="radioList">
        
        @foreach (ResourceModel.PollModel.PollOptionsModel opcionEncuesta in Model.Poll.PollOptions)
        {
            numVotos += opcionEncuesta.NumberOfVotes;
        }

        @foreach (ResourceModel.PollModel.PollOptionsModel opcionEncuesta in Model.Poll.PollOptions)
        {
            float porcentaje = 0;
            if (opcionEncuesta.NumberOfVotes > 0)
            {
                porcentaje = (opcionEncuesta.NumberOfVotes * 100 / numVotos);
            }
            <li>
                <div style="background-color: #F5F5F5;padding: 5px;position: relative;">
                    @if (Model.Poll.ViewPollResults)
                    { 
				        <div style="background-color: #D9D9D9;height: 100%;left: -1px;position: absolute; top: -1px;width:@porcentaje%"></div>
                    }
                    <div style="position: relative;">
				        @if (!Model.Poll.Voted)
                        {
                            <input type="radio" value="@opcionEncuesta.NumberOfVotes" id="@opcionEncuesta.Key" name="respuestas" />
                        }
                        @opcionEncuesta.Name @if (Model.Poll.ViewPollResults){<text>(@porcentaje%)</text>}
				    </div>
			    </div>
			</li>
        }
	</ul>
    <div class="resultado">
        @if (!Model.Poll.Voted)
        {
            string funcionAccionRecurso_Encuesta_Votar = "AccionRecurso_Encuesta_Votar('" + Model.CompletCardLink + "', '" + Model.Key + "')";
		    <p>

                <input type="button" onclick="@funcionAccionRecurso_Encuesta_Votar" class="btn btn-primary" value="Enviar voto" />
		    </p>
         }
        @*<p class="resumen">
            <strong>@numVotos Votos</strong>
            @if (!Model.Poll.ViewPollResults)
            { 
                <a onclick="AccionRecurso_Encuesta_VerResultados('@Model.CompletCardLink', '@Model.Key')">Ver resultados</a>
            }
        </p>*@
	</div>
</fieldset>
