@model ResourceModel

@if (Model.Authors != null && Model.Authors.Count > 0)
{
    <div class="group categorias">
        <strong>@Html.GetText("COMMON", "AUTORES"): </strong>
        @{
            int numAutores = 0;
        }
        <ul>
            @foreach (string autor in Model.Authors.Keys)
            {
                <li>
                    @if (numAutores > 0)
                    {
                        <text>,</text>
                    }
                    <a href="@Model.Authors[autor]" property="dc:creator"><span>@autor</span></a>
                </li>
                
                    numAutores++;
                
            }
        </ul>
    </div>
}

@if (Model.Editors != null && Model.Editors.Count > 0)
{
    int numEditores = 0;
    <p id="parrafoEditores">
        <strong>@Html.GetText("USUARIOS", "EDITORES"):</strong>
        <ul>
            @foreach (string editor in Model.Editors.Keys)
            {
                <li>
                    @if (numEditores > 0)
                    {
                    <text>,</text>
                    }
                    @if (Model.Editors[editor] != "")
                    {
                    <a href="@Model.Editors[editor]"><span>@editor</span></a>
                    }
                    else
                    {
                    <span>@editor</span>
                    }
                    @{numEditores++;}
                </li>
            }
        </ul>
    </p>
}

@if (Model.Readers != null && Model.Readers.Count > 0)
{
    int numLectores = 0;
    <p id="parrafoLectores">
        <strong>@Html.GetText("USUARIOS", "LECTORES"):</strong> 
        <ul>
            @foreach (string lector in Model.Readers.Keys)
            {
                <li>
                    @if (numLectores > 0)
                    {
                    <text>,</text>
                    }
                    @if (Model.Readers[lector] != "")
                    {
                    <a href="@Model.Readers[lector]"><span>@lector</span></a>
                    }
                    else
                    {
                    <span>@lector</span>
                    }
                    @{numLectores++;}
                </li>
            }
        </ul>
    </p>
}