@model AdminCatEspacioPersonalModel

<div id="updPanCrearCategoria">
    <div id="panCrearCategoria" style="display: none" class="box">
        <div id="panCrearCategoriaCategoriaInterior" class="fieldset">
            <fieldset class="labels">
                <div class="fieldsetContent">
                    <p>
                        @Html.GetText("COMADMINCATEGORIAS", "CREAREN")
                        <select id="cmbCrearCategoriaEn">
                            @foreach (Guid categoriaID in Model.ParentCategoriesForCreateNewsCategories.Keys)
                            {
                                <option value="@categoriaID.ToString()">@Model.ParentCategoriesForCreateNewsCategories[categoriaID]</option>
                            }
                        </select>
                        @Html.GetText("COMADMINCATEGORIAS", "NOMBRE")
                        <input type="text" id="txtNombreCatPadreCreacion" />
                        <input id="lbCrearCategoria" class="submit" type="button" value="@Html.GetText("COMADMINCATEGORIAS", "CREAR")" />
                    </p>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div id="updPanCambiarNombre">
    <div id="panCambiarNombreCategoria" style="display: none" class="box">
        <div id="panCambiarNombreCategoriaInterior" class="fieldset">
            <fieldset class="labels">
                <div class="fieldsetContent">
                    <p>
                        @Html.GetText("COMADMINCATEGORIAS", "RENOMBRARCAT")
                        <span ID="lblNombreAntiguoCat"></span>
                        @Html.GetText("COMADMINCATEGORIAS", "RENOMBRARCATA")   
                    </p>                                    
                    <p>
                        <input type="text" id="txtNuevoNombre" />
                        <input id="lbCambiarNombreCategoria" class="submit" type="button" value="@Html.GetText("COMADMINCATEGORIAS", "RENOMBRAR")"/>
                    </p>
                </div>   
            </fieldset>
        </div>
    </div>
</div>
<div id="updMoverCategorias">
    @if (Model.CategoryNamesToMove != null && Model.CategoryNamesToMove.Count > 0)
    {
        <div id="panMoverCategoria" style="display: none" class="box">
            <div id="panMoverCategoriaInterior" class="fieldset">
                <fieldset class="labels">
                    <div class="fieldsetContent">
                        <p>
                            @if (Model.CategoryNamesToMove.Count == 1)
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "MOVERCATTEXT")
                            }
                            else
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "MOVERCATSTEXT")
                            }
                            @{
                                string sep = "";
                                
                                foreach (string nombreCatMover in Model.CategoryNamesToMove)
                                {
                                    @Html.Raw(sep + nombreCatMover);
                                    sep = ", ";
                                }
                            }
                            @Html.GetText("COMADMINCATEGORIAS", "YAMOVER")
                        </p>
                    </div>
                    <div>
                        <select id="cmbCategoriasMover">
                            @foreach (Guid categoriaID in Model.ParentCategoriesForMoveCategories.Keys)
                            {
                                <option value="@categoriaID.ToString()">@Model.ParentCategoriesForMoveCategories[categoriaID]</option>
                            }
                        </select>
                        <input id="lbMoverCategoria" class="submit" type="button" value="@Html.GetText("COMADMINCATEGORIAS", "MOVER")"/>
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>
<div id="updOrdenarCategorias">
    @if (Model.CategoryNamesToOrder != null && Model.CategoryNamesToOrder.Count > 0)
    {
        <div id="panOrdenarCategoria" style="display: none" class="box">
            <div id="panOrdenarCategoriaInterior" class="fieldset">
                <fieldset class="labels">
                    <div class="fieldsetContent">
                        <p>
                            @if (Model.CategoryNamesToOrder.Count == 1)
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "ORDENARCATTEXT")
                            }
                            else
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "ORDENARCATSTEXT")
                            }

                            @{
                                string sep = "";
                                
                                foreach (string nombreCatOrdenar in Model.CategoryNamesToOrder)
                                {
                                    @Html.Raw(sep + nombreCatOrdenar);
                                    sep = ", ";
                                }
                            }
                            
                            @if (Model.CategoryNamesToOrder.Count == 1)
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "AORDENAR")
                            }
                            else
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "AORDENARLAS")
                            }
                        </p>
                    </div>
                    <div>
                        <select id="cmbCategoriasOrdenar">
                            @foreach (Guid categoriaID in Model.ParentCategoriesForOrderCategories.Keys)
                            {
                                <option value="@categoriaID.ToString()">@Model.ParentCategoriesForOrderCategories[categoriaID]</option>
                            }
                        </select>
                        <input id="lbOrdenarCategoria" class="submit" type="button" value="@Html.GetText("COMADMINCATEGORIAS", "ORDENAR")"/>
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>
<div id="udpPanEliminar">
    @if (Model.CategoryNamesToDelete != null && Model.CategoryNamesToDelete.Count > 0)
    {
        <div id="panEliminarCategoria" style="display: none" class="box">
            <div id="panEliminarCategoriaInterior" class="fieldset">
                <fieldset class="labels">
                    <div class="fieldsetContent">
                        <p>
                            @if (Model.CategoryNamesToDelete.Count == 1)
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "ELIMINARCATTEXT")
                            }
                            else
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "ELIMINARCATSTEXT")
                            }

                            @{
                                string sep = "";

                                foreach (string nombreCatElim in Model.CategoryNamesToDelete)
                                {
                                    @Html.Raw(sep + nombreCatElim);
                                    sep = ", ";
                                }
                            }

                            @Html.GetText("COMADMINCATEGORIAS", "YMOVERELEMENTOSVIN")

                            @if (Model.ResourcesOfCategoriesDeletingAreNotOrphans)
                            {
                                <select id="cmbMoverElementosTrasBorrar">
                                    <option value="HUERFANOS">@Html.GetText("COMADMINCATEGORIAS", "YMOVERELEMENTOSVINHUERFANOSA")</option>
                                    <option value="TODOS">@Html.GetText("COMADMINCATEGORIAS", "YMOVERELEMENTOSVINA")</option>
                                </select>
                            }
                            else
                            {
                                @Html.GetText("COMADMINCATEGORIAS", "YMOVERELEMENTOSVINA")
                            }
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div>
                        <select id="cmbMoverATrasEliminar">
                            @foreach (Guid categoriaID in Model.ParentCategoriesForDeleteCategories.Keys)
                            {
                                <option value="@categoriaID.ToString()">@Model.ParentCategoriesForDeleteCategories[categoriaID]</option>
                            }
                        </select>
                        <span id="btMoverTrasEliminar">
                            <input id="lbMoverTodoTrasEliminarCategoria" class="submit" type="button" value="@Html.GetText("COMADMINCATEGORIAS", "MOVER")"/>
                        </span>
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>            
<div class="box">
    <fieldset>
        <input type="hidden" id="txtHackAccionActual" />
        <input type="hidden" id="txtCategoriasSeleccionadas" />
        <input type="hidden" id="txtCategoriasExpandidas" />
        <input type="hidden" id="txtHackSaltarValidacion" />
        <input type="hidden" id="txtAccionesTesauroHack" value="@Model.ActionsBackUp" />
        <div id="updLblError">
            <div id="divlblError"></div>
            <div id="adminAnyadirCategorias" class="box">
                <div id="updTesauro">
                    <div ID="PanParaSelectorCategorias">
                        @Html.PartialView("EditorTesauro/_EditorTesauro", Model.ThesaurusEditorModel)
                    </div>
                </div>
            </div>
        </div>  
    </fieldset>
</div>
