@model List<PlantillaOntologicaViewModel>
@if (Model.Count > 0)
{
    <table class="tablePlantillas">
        <thead>
            <tr>
                <th style="width:150px;">Nombre</th>
                <th>Imagen</th>
                <th style="width:300px;">Descripcion</th>
                @*<th style="text-align:center">Bloqueada</th>*@
                <th style="text-align:center">Cargas masivas disponibles</th>
                <th style="width:100px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PlantillaOntologicaViewModel template in Model)
            {
                <tr class="filaplantilla" id="@template.OntologyID">
                    <td><a style="cursor:default;text-decoration: none;">@template.Name</a></td>
                    <td style="text-align:center">
                    @if(!string.IsNullOrEmpty(template.Image))
                    {
                        <img src="@Html.GetBaseUrlContent()/@template.Image"  style="max-width: 60px; max-height: 60px;"/>
                    }
                    </td>
                    <td valign="middle" >@Html.Raw(template.Description)</td>
                    @*<td class="protect" valign="middle" style="text-align:center"><input type="checkbox" @Html.Raw(template.Protected ? "checked=\"checked\"" : "") /></td>*@
                    <td class="allowMasiveUpload" valign="middle" style="text-align:center"><input type="checkbox" @Html.Raw(template.AllowMasiveUpload ? "checked=\"checked\"" : "") /></td>
                    <td class="accionesPlantillas" >
                        <span class="action editar">@Html.GetText("COMMON", "EDITAR")</span>
                        <span class="action eliminar @(template.HasResources ? "disabled" : "")">@Html.GetText("COMMON", "ELIMINAR")</span>
                        @{
                            string nombreOnto = template.Name;
                            nombreOnto = Es.Riam.Util.UtilCadenas.ObtenerTextoDeIdioma(nombreOnto, Html.GetUtilIdiomas().LanguageCode, null);
                            nombreOnto = Es.Riam.Util.UtilCadenas.EliminarCaracteresUrlSem(nombreOnto);

                            string urlActionCompartir = Html.GetComunidad().Url + "/recurso/" + nombreOnto + "/" + template.OntologyID + "/load-action/share";
                        }
                        <a onclick="CompartirPlantilla('@urlActionCompartir', this, '@template.OntologyID');">
                            <span class="action compartir">Compartir</span>
                        </a>
                        <span class="action mas">Mas</span>
                        <div class="editarElemento">
                            <ul class="descargarArchivosPlantilla">
                                <li class="descargarArchivosPlantilla"><a href="/VisualizarDocumento.aspx?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@template.OntologyID&nombre=@(template.OntologyName).owl&ext=.owl&ID=@Html.GetIdentidadActual().KeyIdentity">Descargar plantilla</a></li>
                                @if (template.HasXmlFile)
                                {
                                <li class="descargarArchivosPlantilla"><a href="/VisualizarDocumento.aspx?tipo=Ontologia&proy=@Html.GetComunidad().Key&doc=@template.OntologyID&nombre=@(template.OntologyName).xml&ext=.xml&ID=@Html.GetIdentidadActual().KeyIdentity">Descargar archivo de configuración</a></li>
                                }
                            </ul>
                        </div>
                        <div id="despAccionRec_@template.OntologyID" style="display: none;">
                            <div id="panels" class="stateShowForm" style="display: none;">
                                <div id="loading" class="loading">
                                    <p>Cargando formulario, un momento por favor</p>
                                </div>
                                <div id="menssages">
                                    <div class="ok"></div>
                                    <div class="ko"></div>
                                </div>
                                <div id="action" class="box form activeForm"></div>
                                <p class="cerrar"><a title="cerrar formulario">cerrar x</a></p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}