@model ThesaurusEditorModel

@{
    string displayBox = "";
    
    if (Model.HideTreeListSelector)
    {
        displayBox = "style=display:none";
    }
}

<div class="box" @displayBox>
    <label>@Html.GetText("CONTROLESSELCATEGORIASBUSQUEDDAS", "SELCATEGORIAS"): </label>
    <input id="rbArbol" type="radio" name="ModoSelector" checked="checked" onclick="$('.divTesArbol')[0].style.display = ''; $('.divTesLista')[0].style.display = 'none';" />
    <label for="rbArbol">@Html.GetText("TESAURO", "VERARBOL")</label>
    <input id="rbLista" type="radio" name="ModoSelector" onclick="$('.divTesArbol')[0].style.display = 'none'; $('.divTesLista')[0].style.display = '';" />
    <label for="rbLista">@Html.GetText("TESAURO", "VERLISTA")</label>
</div>
<div class="divTesArbol">
    @Html.PartialView("EditorTesauro/_EditorTesauro_CatArbol", Model)
</div>
<div class="divTesLista" id="divSelCatLista" style="display:none;">
     @Html.PartialView("EditorTesauro/_EditorTesauro_CatLista", Model)
</div>

@{
    string valoresAg = "";

    foreach (Guid catID in Model.SelectedCategories)
    {
        valoresAg += catID + ",";
    }
}

<input type="hidden" id="txtHackCatTesSel" class="hackCatTesSel" value="@valoresAg" />
