@model AdministrarComunidadUtilidades

<h4>@Html.GetText("COMADMIN", "CERTIFICACION")</h4>
<p>@Html.GetText("COMADMIN", "DESCRIPCIONNIVELES")</p>
<p>
    <input type="checkbox" @Html.Raw(Model.NivelesCertificacionDisponibles ? "checked=\"checked\"" : "") name="chkActivarNivelesCertificacion" id="chkActivarNivelesCertificacion">
    <label for="chkActivarNivelesCertificacion">@Html.GetText("COMADMIN", "ACTIVARCERTIFICACION")</label>
</p>
<div  @Html.Raw(Model.NivelesCertificacionDisponibles ? "" : "style=\"display:none\"") id="nivelesCertificacion">
    <p>@Html.GetText("COMADMIN", "PERSONALIZAR")</p>
    <input type="hidden" id="txtIdsTextBoxHack" name="txtIdsTextBoxHack">
    <div id="shortableNiveles">
        @foreach (AdministrarComunidadUtilidades.NivelCertificacion nivelCertificacion in Model.NivelesCertificacion.OrderBy(nivel => nivel.Orden))
        {
            <div class="panNivel" id="@nivelCertificacion.CertificacionID">
                <span class="handle">:::</span>
                <input type="text" value="@nivelCertificacion.Nombre" name="NombreNivel" />
                <a style="margin-right:10px;" class="eliminar@(nivelCertificacion.TieneDocsAsociados ? " docsAsociados" : "")" >@Html.GetText("COMMON", "ELIMINAR")</a>
            </div>
        }
        <span style="display: none" id="lblAdvertenciaInf">@Html.GetText("COMADMIN", "ADVERTENCIANIVELCERTIFICACIONVACIO");</span>
    </div>
    <div id="addNivel">
        <a id="btnAddNivel">@Html.GetText("PERFILBASESUBIR", "AGREGAR")</a>
    </div>

    <span id="lblPoliticaCertificacion">@Html.GetText("COMADMIN", "PERSONALIZARCERTIFICACION")</span>

    <textarea class="cke mensajes" id="txtPoliticaCertificacion" cols="20" rows="2" name="txtPoliticaCertificacion">@Model.PoliticaCertificacion</textarea>
</div>