@model bool

@{
    bool compactView = Model;

    UserProfileModel Perfil = Html.GetPerfil();
    
    Html.SetBodyClass("layout02 listadoMyGnoss listadoMensajesMyGnoss");

    Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/jsUnificar/MVC.Mensajes.js?v=" + Html.GetVersion());
}

<div id="col01">
    <div class="mgHerramientas">
        @Html.PartialView("../Shared/ControlesMVC/_Novedades", "Messages")
        <div style="display: none" class="resaltarAccion" id="facetaEncuentra">
            <h2>@Html.GetText("BUSCADORFACETADO", "ENCUENTRA")</h2>
        </div>
        <div id="divFac"></div>
    </div>
</div>
<div id="col02">
    <h2>
        <span id="litTituloPag">@Html.GetText("BANDEJAENTRADA", "MISMENSAJES")</span>
    </h2>
    <input type="hidden" value="recibidos" class="tipoBandeja" />

    <div class="operativa widthTabs listadoMensajes" id="panListado">
        <div id="messagetools" class="messagetools listToolBar">
            <div class="toolbar">
                <ul>
                    <li class="looksbutton principal"><a href="@Perfil.Url@Html.GetText("URLSEM", "MENSAJES")?nuevo">@Html.GetText("CORREO", "NUEVO")</a></li>
                    <li class="toolsGroup"><span class="titleToolsGroup">@Html.GetText("CONTROLESCVSEM", "SELECCIONAR")</span>
                        <ul class="lookslinks">
                            <li><a onclick="javascript:MarcarTodosCorreos(true, true);" style="cursor: pointer;">@Html.GetText("CORREO", "TODOS")</a>, </li>
                            <li><a onclick="javascript:MarcarTodosCorreos(false, false);" style="cursor: pointer;">@Html.GetText("CORREO", "NINGUNO")</a>, </li>
                            <li><a onclick="javascript:MarcarTodosCorreos(true, false);" style="cursor: pointer;">@Html.GetText("CORREO", "LEIDOS")</a>, </li>
                            <li><a onclick="javascript:MarcarTodosCorreos(false, true);" style="cursor: pointer;">@Html.GetText("CORREO", "NOLEIDOS")</a></li>
                        </ul>
                    </li>
                    <li class="looksLink delete"><a onclick="javascript:EliminarCorreos();" style="cursor: pointer;">@Html.GetText("COMMON", "ELIMINAR")</a></li>  
                </ul>
            </div>
        </div>
        <div id="finderUtils" class="finderUtils">
            <div class="group filterSpace">
                <div id="divFiltros" style="display: none;">
                    <p style="display: none;" class="searchBy">
                        <span>@Html.GetText("COMBUSQUEDAAVANZADA", "FILTROS"): </span>
                        <a style="margin-left: 5px;" class="limpiarfiltros">@Html.GetText("COMBUSQUEDAAVANZADA", "LIMPIARFILTROS")</a>
                    </p>
                </div>
                <ul class="facetedSearch tags" id="panListadoFiltrosPulgarcito"></ul>
                <p id="divNumResultadosBusqueda"></p>
            </div>
            <div class="panelOrdenContenedor">
                <div>
                    <label>
                        <span>@Html.GetText("COMMON", "ORDENADOPOR") </span>
                        <select class="filtro" id="cmbOrdenarPor">
                            <option value="nmo:sentDate">@Html.GetText("COMMON", "FECHA")</option>
                            <option value="nmo:from">@Html.GetText("CORREO", "REMITENTE")</option>

                        </select>
                    </label>
                    <ul>
                        <li class="ordenDescendente">
                            <a class="filtro" name="orden|desc"></a></li>
                        <li class="ordenAscendente">
                            <a class="filtro" name="orden|asc"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vistaNormalCompactada">
            <ul>
                <li class="normal @(compactView ? "" : "activa")">
                    <a href="javascript:CambiarVistaActiva('hypVistaNormal', 'hypVistaCompactada', 'panelResultados', false); " id="hypVistaNormal" style="@(compactView ? "" : "pointer-events: none; cursor: default;")" >@Html.GetText("CORREO", "NORMAL")</a></li>
                <li class="compactada @(compactView ? "activa" : "")">
                    <a href="javascript:CambiarVistaActiva('hypVistaCompactada', 'hypVistaNormal', 'panelResultados', true); " id="hypVistaCompactada" style="@(compactView ? "pointer-events: none; cursor: default;" : "")" >@Html.GetText("CORREO", "COMPACTADA")</a></li>
            </ul>
        </div>
        <div class="resource-list withSelector @(compactView ? "compactview" : "")" id="panelResultados">
            <div id="divRel"></div>
        </div>
        <div id="navegadorBusqueda"></div>
    </div>
</div>

<script defer="defer" lang="javascript" type="text/javascript">
    $(function () {
        FiltrarBandejaMensajes(ObtenerHash2());
    });

    function FiltrarBandejaMensajes(filtro) {
        filtro = filtro.replace(/&/g, '|');

        //cada vez que entro limpio div id="divContexto" del contexto anterior
        $('#divContexto').html('');
        $('#divContenedorContexto').css('display', 'none');

        var url = document.location.href;
        var filtrar = (url.indexOf('/redirect#nuevo') == -1);

        if (filtrar) {
            if (filtro != '') {
                SubirPagina();

                var esListado = filtro.indexOf('recibidos') == 0 || filtro.indexOf('enviados') == 0 || filtro.indexOf('eliminados') == 0;

                if (esListado) {
                    MostrarUpdateProgress();

                    $('#panListado').css('display', '');
                    $('#panVerCorreo').css('display', 'none');
                    $('#panEnviarCorreo').css('display', 'none');

                    var tipoBandeja = filtro;
                    if (tipoBandeja.indexOf('|') > -1) {
                        tipoBandeja = tipoBandeja.substr(0, tipoBandeja.indexOf('|'));
                    }
                    $('.tipoBandeja').val(tipoBandeja);

                    switch (tipoBandeja) {
                        case 'recibidos':
                            $('#litTituloPag').html(mensajes.recibidos);
                            break;
                        case 'enviados':
                            $('#litTituloPag').html(mensajes.enviados);
                            break;
                        case 'eliminados':
                            $('#litTituloPag').html(mensajes.eliminados);
                            break;
                    }

                    if (tipoBandeja != 'recibidos') {
                        $($('#cmbOrdenarPor').children()[1]).css('display', 'none');
                    }

                    EstablecerContadorMensajesNuevos(0);

                    FiltrarPorFacetasGenerico(filtro);
                }
                else {
                    var filtrosFacetas = $('.tipoBandeja').val();

                    filtrosPeticionActual = filtrosFacetas;
                    MontarFacetas(filtrosFacetas, false, 1, '#divFac', 'dce:type');
                }
            }
            else {
                if ($('.tipoBandeja').val() == "") {
                    $('.tipoBandeja').val('recibidos');
                }

                history.pushState('', 'New URL: ' + $('.tipoBandeja').val(), '?' + $('.tipoBandeja').val());
                FiltrarBandejaMensajes(ObtenerHash2());
            }
        }
    }

    function ReiniciarBandejaMensajes(pValorFaceta) {
        if (pValorFaceta == 'Entrada') {
            $('.tipoBandeja').val('recibidos');
        }
        else if (pValorFaceta == 'Enviados') {
            $('.tipoBandeja').val('enviados');
        }
        else if (pValorFaceta == 'Eliminados') {
            $('.tipoBandeja').val('eliminados');
        }
        var url = document.location.href;
        if (url.indexOf('?') != -1) {
            url = url.substring(0, url.indexOf('?'));
        }

        document.location.href = url + '?' + $('.tipoBandeja').val();
    }

    function MarcarTodosCorreos(leidos, noLeidos) {
        $.each($('input.ListaMensajesCheckBox:checkbox'), function () {
            if (leidos && noLeidos) {
                this.checked = true;
            } else if (!leidos && !noLeidos) {
                this.checked = false;
            } else if ($(this).parents('.nuevoMensaje').length > 0) {
                if (leidos) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            } else {
                if (leidos) {
                    this.checked = true;
                } else {
                    this.checked = false;
                }
            }
        });
    }

    function EliminarCorreos() {
        var numSeleccioados = 0;
        var correos = "";
        $.each($('input.ListaMensajesCheckBox:checkbox'), function () {
            if (this.checked) {
                correos += this.id.substr(4) + ',';
                numSeleccioados++;
            }
        });

        if (numSeleccioados > 0) {
            mostrarConfirmacionListado('panelResultados', '@Html.GetText("CORREO", "CONFIRMACIONELIMINAR")', function () {
                MostrarUpdateProgress();

                var params = {
                    listMessages: correos,
                    profileBox: $('.tipoBandeja').val()
                }
                GnossPeticionAjax("@Html.GetUrlPagina()/deleteMessages", params, true)
            });
        }
    }

    //configura los paneles de mensajes poniendolos a compactview y habilita/deshabilita los enlaces que intercambian
    //la vista de normal a compactada
    function CambiarVistaActiva(idLinkActivo, idLinkAnteriorActivo, idPanelResultados, claseCompactada) {
        $('#' + idLinkAnteriorActivo).parent().removeClass("activa");
        $('#' + idLinkAnteriorActivo).css("pointer-events", "");
        $('#' + idLinkAnteriorActivo).css("cursor", "");

        $('#' + idLinkActivo).parent().addClass("activa");
        $('#' + idLinkActivo).css("pointer-events", "none");
        $('#' + idLinkActivo).css("cursor", "default");

        if (claseCompactada) {
            $('#' + idPanelResultados).addClass('compactview');

            $('#col02 .resource-list .resource h4 a').each(function (indice) {
                var enlaceTitulo = $(this);
                var asunto = enlaceTitulo.attr("title");

                if (asunto != null && asunto.length > 33) {
                    enlaceTitulo.text(asunto.substring(0, 30) + "...");
                }
            });
        }
        else {
            $('#' + idPanelResultados).removeClass('compactview');

            $('#col02 .resource-list .resource h4 a').each(function (indice) {
                var enlaceTitulo = $(this);
                var asunto = enlaceTitulo.attr("title");
                enlaceTitulo.text(asunto);
            });
        }

        var vistaCompacta = $('#col02 .resource-list.compactview').length > 0;
        $('#col02 .resource-list').find('.resource').each(function (indice) {
            var mensaje = $(this);
            var utils = mensaje.find('.utils-2');
            var acciones = mensaje.find('.acciones');
            utils.show();
            acciones.show();
            mensaje.removeClass('over');
            if (vistaCompacta) {
                acciones.hide();
            }
            mensaje.hover(function () {
                $(this).removeClass('over');
                utils.show();
                acciones.show();
            }, function () {
                $(this).removeClass('over');
                utils.show();
                acciones.show();
            });
        });
        listadoMensajesMostrarAcciones.init();

        var params = {
            defaultView: (claseCompactada ? "compact" : "simple")
        }
        GnossPeticionAjax("@Html.GetUrlPagina()/selectView", params, false)
    }

    @Html.Raw(Html.GetJSExtra());

</script>