@model Error404ViewModel
@{
    HeaderModel cabecera = Html.GetCabecera();
}

<script type="text/javascript">
    var error = "404";  // Variable error para medir errores de páginas no encontradas 
    var error = "internal";  		// Variable error para medir errores internos 
</script>

<div class="info columms" id="info">
    <p class="title-panel-info"><span>Panel </span>@Model.Tittle</p>
    @if (Model.ResourcesList != null && Model.ResourcesList.Count > 0)
    {
        Html.SetBodyClass("layout03 ");
        <div id="col01">
            <div class="group resources grupoPaginado">
                <div class="group-title">
                    <h2>@Html.GetText("PERFILRECURSOSCOMPARTIDOSFICHA", "TEPUEDEINTERESAR")</h2>
                </div>
                <div class="resource-list">
                    @foreach (ResourceModel recurso in Model.ResourcesList)
                    {
                        @Html.PartialView("../Shared/ControlesMVC/_FichaRecursoMini", recurso)                        
                    }
                </div>
            </div>
        </div>  
    }
    <div id="col03">
        <div class="box">
        @try
        {
            @Html.Raw(Model.Error)
        }
        catch { }
        </div>
        @if (Model.StatusCode != "403" && cabecera != null)
        {
            foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
            {
                if (combo.Selected)
                {
            <div id="panBuscador" class="box 404">
                <fieldset class="searchGroup">
                    <legend>@Html.GetText("404", "QUEBUSCAS")</legend>
                    <p>
                        <label for="criterio">@Html.GetText("COMMON", "CRITERIOBUSQUEDA")</label>
                        <input type="text" origen="@combo.ID" class="text txtBusqueda autocompletar" id="criterio" name="txtBusqueda" autocomplete="off">
                        <input type="button" id="btnBuscar" class="encontrar" title="@Html.GetText("COMMON", "BUSCAR")" value="@Html.GetText("COMMON", "BUSCAR")"/>
                    </p>
                </fieldset>
            </div>
                }
            }

        }
    </div>
</div>
