@model ConfigurationModel

@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Areas/GnossTestView/Views/_LayoutAskUrl.cshtml";

    Response.Headers.Add("Cache-Control", "no-cache, no-store");

    ViewBag.BodyClass = "configuracion";
}

<h2>Configuraciones</h2>
<hr />

@using (Html.BeginForm("SaveConfiguration", "Configuration", FormMethod.Post, new { id="configurationForm" }))
{
    <div class="form-horizontal">
        <h3>Configuración general</h3>
        <div class="form-group general row">
            <label for="urlApiIntegracionEntornos" class="control-label col-md-2">API de Integracion de Entornos</label>
            <div class="col-md-10">
                <div class="textbox">
                    @Html.TextBox("urlApiIntegracionEntornos", Model.urlApiIntegracionEntornos, new { @autocomplete = "no" })
                </div>
            </div>
        </div>
        <div class="form-group general row">
            <label class="control-label col-md-2">Datos de acceso de usuario root GitLab</label>
            <div class="col-md-5">
                <div class="textbox">
                    @Html.TextBox("usuarioRootRepositorio.user", Model.usuarioRootRepositorio.user, new { @autocomplete = "no", @placeholder = "login" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="textbox">
                    @Html.Password("usuarioRootRepositorio.password", Model.usuarioRootRepositorio.password, new { @autocomplete = "no", @placeholder = "password" })
                </div>
            </div>
        </div>
        <div class="form-group general row">
            <label class="control-label col-md-2">Datos del servidor FTP para la subida de vistas y estilos</label>
            <div class="col-md-5">
                <div class="textbox">
                    @Html.TextBox("serverFtpUpload.server", Model.serverFtpUpload.server, new { @autocomplete = "no", @placeholder = "server" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="textbox">
                    @Html.TextBox("serverFtpUpload.port", Model.serverFtpUpload.port, new { @autocomplete = "no", @placeholder = "port" })
                </div>
            </div>
        </div>

        @if (Model.autorizacion.Count > 0)
        {
            int count = 0;
            <h3>Configurar autorizaciones</h3>
            foreach (ConfigurationModel.AutorizationModel autorization in Model.autorizacion)
            {
                <div class="form-group row">
                    <label class="control-label col-md-4"><span class="fa fa-trash@(autorization.url.Equals("default") ? " disabled" : "")" title="Eliminar"></span>@autorization.url</label>
                    @Html.Hidden($"autorizacion[{count}].url", autorization.url, new { @autocomplete = "no" })
                    <div class="col-md-4">
                        <div class="textbox">
                            @Html.TextBox($"autorizacion[{count}].user", autorization.user, new { @autocomplete = "no", @placeholder = "user" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="textbox">
                            @Html.Password($"autorizacion[{count}].password", autorization.password, new { @autocomplete = "no", @placeholder = "password" })
                        </div>
                    </div>
                </div>
                count++;
            }
        }

        @if (Model.proyectos.Any())
        {
            int count = 0;
            <h3>Administrar vistas y estilos de proyectos</h3>
            foreach (ConfigurationModel.ProyectoRamaModel proyecto in Model.proyectos)
            {
                string cambios = "";
                foreach (string file in proyecto.localChanges.Keys)
                {
                    string status = proyecto.localChanges[file].ToString();
                    string nameFile = file.Replace("Proyectos\\" + proyecto.nombreCortoProyecto + "\\", "");
                    cambios += "<span class='fa " + status + "' title='" + status.Replace("InWorkdir", "").Replace("FromWorkdir", "") + "'>" + nameFile + "</span>";
                }

                string nombreProy = proyecto.nombreCortoProyecto;
                <div class="form-group row">
                    <label class="control-label col-md-4">
                        <span class="fa fa-cloud-upload @(proyecto.hasRemoteChanges ? "disabled" : "")" title="Subir vistas y estilos" data-toggle="modal" data-proyecto="@nombreProy" data-target="#confirmationModal"></span>
                        <span class="fa fa-cloud-download" title="Descargar vistas y estilos" data-toggle="modal" data-proyecto="@nombreProy" data-target="#confirmationModal"></span>
                        @Html.Hidden($"proyecto[{count}].userFTP", proyecto.userFTP, new { @autocomplete = "no", @class = "userFTP" })
                        @Html.Hidden($"proyecto[{count}].passwordFTP", proyecto.passwordFTP, new { @autocomplete = "no", @class = "passwordFTP" })
                        @Html.Hidden($"proyecto[{count}].cambios", cambios, new { @autocomplete = "no", @class = "cambios" })
                        @nombreProy
                    </label>
                    <label class="control-label col-md-4">
                        @proyecto.rama
                    </label>
                    <label class="control-label col-md-4">
                        @proyecto.userFTP
                    </label>
                </div>
                count++;
            }
        }

        <div class="form-group save row">
            <div class="col-md-10">
                <button name="submit" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="upload">
                        Los cambios se subirán a la comundad por FTP. ¿Estas seguro?<br />
                        Introduce los datos del administrador para poder subir los cambios.<br />
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label for="userFTP" class="control-label col-md-6">Nombre de usuario</label>
                                <div class="col-md-6">
                                    <div class="textbox">
                                        @Html.TextBox("userFTP", "", new { @autocomplete = "no",  @placeholder = "Nombre de usuario" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="passwordFTP" class="control-label col-md-6">Password</label>
                                <div class="col-md-6">
                                    <div class="textbox">
                                        @Html.Password("passwordFTP", "", new { @autocomplete = "no", @placeholder = "Password" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row panCambios">
                                <label class="control-label col-md-12">Cambios en el repositorio local</label>
                                <div class="col-md-12 cambios"></div>
                            </div>
                        </div>
                    </div>
                    <div class="download">
                        Descargaremos los archivos del servidor y los fusionaremos con tus cambios.
                        <br />
                        Puede que tengas que resolver confiltos manualmente si varios usuarios habeis modificado los mismos ficheros.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
}



