@model ProfilePageViewModel
@{
    ProfileModel Perfil = Model.Profile;
    CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();

    string nombreCompleto = Html.ObtenerNombreCompletoDeFichaIdentidad(Perfil);
}


@section breadcrumb{
    <div class="breadcrumb" id="breadcrumb">
        <div class="box">
            <p>@Html.GetText("LOGIN", "ESTASEN")</p>
            <ol>
                <li><a href="@Comunidad.Url"><strong>@Html.GetText("COMMON", "HOME")</strong></a></li>
                <li><a href="@Comunidad.Url/@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")">@Html.GetText("COMMON", "PERSONASYORGANIZACIONES")</a></li>
                <li>@nombreCompleto</li>
            </ol>
        </div>
    </div>
}

<div id="col01">
    <div id="community">
        <div class="community box">
            <p class="imageUser">
                <a>
                    <img src="@Html.GetBaseUrlContent()/@Es.Riam.Util.UtilArchivos.ContentImagenes/@Es.Riam.Util.UtilArchivos.ContentImagenesPersonas/anonimo_grande.png" />
                </a>
            </p>
            <p style="display: none;">
                <em>@nombreCompleto</em>
            </p>
        </div>
    </div>
</div>

<div id="col02">
    <div class="summaryBio">
        <div style="height: auto;" class="resource">
            <div class="box description">
                <div class="group title">
                    <h3>@nombreCompleto</h3>
                </div>
                <div class="group content">
                    <p>
                        @if (IdentidadActual.IsGuestUser)
                        {
                            @Html.GetText("BUSQUEDAAVANZADA", "INICIOPERESPECIFICA")
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMINICIOLOGIN", "REGISTRATEPARTICIPA")</a>
                            @Html.GetText("COMADMINCATEGORIAS", "O")
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "LOGIN")">@Html.GetText("COMINICIOLOGIN", "INICIASESION")</a>
                        }
                        else
                        {
                            @Html.GetText("BUSQUEDAAVANZADA", "INICIOPERESPECIFICA")
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMINICIOLOGIN", "HACERSEMIEMBRO")</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="col03"></div>