@model ProfilePageViewModel

<div id="users">
    <h2 style="display: none;">Personas</h2>

    @if (Model.PeopleInOrganization != null && Model.PeopleInOrganization.Count > 0)
    {
        <div class="userList box">
            <h3>@Html.GetText("PERFIL", "PERSONAS")</h3>
            <ul>
            @{
                int contadorPersonasOrganizacion = 0;
                foreach (ProfileModel perfil in Model.PeopleInOrganization)
                {
                    if (contadorPersonasOrganizacion == 4)
                    {
                        break;
                    }

                    string nombreCompleto = perfil.NamePerson + " · " + perfil.NameOrganization;
                    
                    <li class="resourceType persona">
                        <a href="@perfil.UrlPerson" title="@nombreCompleto">
                            @if(!string.IsNullOrEmpty(perfil.UrlFoto))
                            {
                                <img title="@nombreCompleto" alt="@nombreCompleto" src="@Html.GetBaseUrlContent()@perfil.UrlFoto" />
                            }
                        </a>
                    </li>
                    contadorPersonasOrganizacion++;
                }
            }
            </ul>
            <p class="vertodos">
                <a onclick="javascript:AgregarFiltroPerfil('personas')">@Html.GetText("COMMON", "VERTODOS")</a>

            </p>
        </div>
    }

    @if (Model.ProfileContacts != null && Model.ProfileContacts.Count > 0)
    {
        int contadorContactos = 0;
        <div class="userList box">
            <h3>@Html.GetText("PERFIL", "CONTACTOS")</h3>
            <ul>
            @foreach (ProfileModel perfil in Model.ProfileContacts)
            {
                if (contadorContactos == 4)
                {
                    break;
                }
               
                string nombreCompleto = Html.ObtenerNombreCompletoDeFichaIdentidad(perfil);
                    
                <li class="resourceType persona">
                    <a href="@perfil.UrlPerson" title="@nombreCompleto">
                        @if(!string.IsNullOrEmpty(perfil.UrlFoto))
                        {
                            <img title="@nombreCompleto" alt="@nombreCompleto" src="@Html.GetBaseUrlContent()@perfil.UrlFoto" />
                        }
                    </a>
                </li>

                contadorContactos++;
            }
            </ul>
            <p class="vertodos">
                <a onclick="javascript:AgregarFiltroPerfil('contactos')">@Html.GetText("COMMON", "VERTODOS")</a>

            </p>
        </div>
    }

    @if (Model.ProfileFollowers != null && Model.ProfileFollowers.Count > 0)
    {
        int contadorSeguidores = 0;
        
        <div class="userList box">
            <h3>@Html.GetText("PERFIL", "LESIGUEN",  Model.NumProfileFollowers.ToString())</h3>
            <ul>
                @foreach (ProfileModel perfil in Model.ProfileFollowers)
                {
                    if (contadorSeguidores == 4)
                    {
                        break;
                    }
                    
                    string nombreCompleto = Html.ObtenerNombreCompletoDeFichaIdentidad(perfil);
                    
                    <li class="resourceType persona">
                        <a href="@perfil.UrlPerson" title="@nombreCompleto">
                            @if(!string.IsNullOrEmpty(perfil.UrlFoto))
                            {
                                <img title="@nombreCompleto" alt="@nombreCompleto" src="@Html.GetBaseUrlContent()@perfil.UrlFoto" />
                            }
                        </a>
                    </li>
                    
                    contadorSeguidores++;
                    
                }
            </ul>
            <p class="vertodos">
                <a onclick="javascript:AgregarFiltroPerfil('seguidores')">@Html.GetText("COMMON", "VERTODOS")</a>

            </p>
        </div>
    }

    @if (Model.ProfileFollowed != null && Model.ProfileFollowed.Count > 0)
    {
        int contadorSeguidos = 0;
        
        <div class="userList box">
            <h3>@Html.GetText("PERFIL", "SIGUE", Model.NumProfileFollowed.ToString())</h3>
            <ul>
                @foreach (ProfileModel perfil in Model.ProfileFollowed)
                {
                    if (contadorSeguidos == 4)
                    {
                        break;
                    }
                    
                    string nombreCompleto = Html.ObtenerNombreCompletoDeFichaIdentidad(perfil);
                    
                    <li class="resourceType persona">
                        <a href="@perfil.UrlPerson" title="@nombreCompleto">
                            @if(!string.IsNullOrEmpty(perfil.UrlFoto))
                            {
                                <img title="@nombreCompleto" alt="@nombreCompleto" src="@Html.GetBaseUrlContent()@perfil.UrlFoto" />
                            }
                        </a>
                    </li>
                    
                    contadorSeguidos++;
                }
            </ul>
            <p class="vertodos">
                <a onclick="javascript:AgregarFiltroPerfil('sigue-a')">@Html.GetText("COMMON", "VERTODOS")</a>
            </p>
        </div>
    }
</div>
