@model CMSAdminComponenteEditarViewModel.PropiedadComponente

@{
    string idiomaPanel = (string)ViewData["idiomaPanel"];
    string idPanel = "propiedad" + ((short)Model.TipoPropiedadCMS);
    if (!string.IsNullOrEmpty(idiomaPanel))
    {
        idPanel += "_" + idiomaPanel;
    }

    string nombrePropiedad = Html.GetText("COMADMINCMS", "PROPIEDAD_" + Model.TipoPropiedadCMS);

    bool marcarCheckSI = false;
    if (!string.IsNullOrEmpty(Model.Value) && bool.Parse(Model.Value))
    {
        marcarCheckSI = true;
    }
}
<div id="contenedorPrincipal_@idPanel">
    <p id="parrafo_@idPanel"><strong>@nombrePropiedad</strong></p>
    <ul class="radioList">
        <li>
            <input type="radio" name="@idPanel" class="radio" id="@idPanel" @(marcarCheckSI ? "checked=\"checked\"" : "")>
            <label for="@idPanel">Sí</label>
        </li>
        <li>
            <input type="radio" name="@idPanel" class="radio" id="@(idPanel)NO" @(!marcarCheckSI ? "checked=\"checked\"" : "")>
            <label for="@(idPanel)NO">No</label>
        </li>
    </ul>
</div>