@model GadgetModel

@if (Model is GadgetHtmlModel)
{
    <div class="group @Model.ClassName">
        @if (!Html.GetOcultarPersonalizacion())
        {
            <h2>@Model.Title</h2>
        }
        @MvcHtmlString.Create(((GadgetHtmlModel)Model).Html)
    </div>
}
else if (Model is GadgetResourceListModel)
{
    GadgetResourceListModel gadgetListado = (GadgetResourceListModel)Model;
    if (gadgetListado.Resources == null || gadgetListado.Resources.Count == 0)
    {
        <div class="group resources grupoPaginado gruppoGadget @Model.ClassName" id="@gadgetListado.Key" style="display:none"></div>
    }
    else
    {
        string claseGadget = "group resources grupoPaginado gruppoGadget";

        if (gadgetListado.Resources.Count == 1 && gadgetListado.Resources.First().TypeDocument == ResourceModel.DocumentType.Encuesta)
        {
            claseGadget = "group resources encuestas ultimaEncuesta";
        }

        <div class="@claseGadget @Model.ClassName" id="@gadgetListado.Key">
            <div class="group-title">
                <h2>@Model.Title</h2>
            </div>

            @if (gadgetListado.ResourcesPagers != null)
            {
                string classSiguiente = "siguiente";
                if (gadgetListado.ResourcesPagers.Count == 0)
                {
                    classSiguiente += " desactivado";
                }
                <div class="paginadorSiguienteAnterior">
                    <ul>
                        <li id="btnAnterior_@Model.Key" class="anterior desactivado">
                            <a onclick="paginadorGadget_Anterior('@Html.GetUrlPagina()', '@gadgetListado.Key')"></a>
                        </li>
                        <li id="btnSiguiente_@Model.Key" class="@classSiguiente">
                            <a onclick="paginadorGadget_Siguiente('@Html.GetUrlPagina()', '@gadgetListado.Key')"></a>
                        </li>
                    </ul>
                </div>
            }

            <div class="contexto resource-list activo">
                @foreach (ResourceModel ficha in gadgetListado.Resources)
                {
                    @Html.PartialView(gadgetListado.ViewNameResources, ficha)
                }
            </div>

            @if (gadgetListado.ResourcesPagers != null)
            {
                <div class="contexto resource-list" style="display:none">
                    @foreach (ResourceModel ficha in ((GadgetResourceListModel)Model).ResourcesPagers)
                    {
                        @Html.PartialView(gadgetListado.ViewNameResources, ficha)
                    }
                </div>
            }
            @if (!string.IsNullOrEmpty(gadgetListado.UrlViewMore))
            {
                <div class="verMasGadgets">
                    <p>
                        <a href="@gadgetListado.UrlViewMore" target="_blank">@Html.GetText("COMBUSQUEDAAVANZADA", "VERMAS")</a>
                    </p>
                </div>
            }
        </div>
    }
}
else if (Model is GadgetCommunitiesListModel)
{
    GadgetCommunitiesListModel gadgetComunidad = (GadgetCommunitiesListModel)Model;

    if (gadgetComunidad.Communities != null || gadgetComunidad.Communities.Count > 0)
    {
        <div id="@Model.Key" class="group resources comunidades">
            <div class="group-title">
                <h2>@Model.Title</h2>
            </div>
            <div class="resource-list">
                @foreach (CommunityModel comunidad in gadgetComunidad.Communities)
                {
                    <div class="resource">
                        <div class="box description">
                            <div class="group title">
                                <h3><a href="@comunidad.Url">@comunidad.Name</a></h3>
                                <div class="logoComunidad">
                                    <a href="@comunidad.Url">
                                        <img style="width:54px;border-width:0px;" src="@comunidad.Logo" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
else if (Model is GadgetCMSModel)
{
    if (((GadgetCMSModel)Model).CMSComponent == null)
    {
        <div class="group cmscomponent @Model.ClassName" id="@Model.Key" style="display:none"></div>
    }
    else
    {
        CMSComponent componente = ((GadgetCMSModel)Model).CMSComponent;
        <div class="@Model.ClassName" id="@Model.Key">
            @{
                if (componente != null)
                {
                    @Html.PartialView(componente.ViewName, componente)
                }
            }
        </div>
                    }


                }
