@model AdministrarComunidadUtilidades

<h4>@Html.GetText("COMADMIN", "TIPOSRECURSOS")</h4>
<p>@Html.GetText("COMADMIN", "ROLES")</p>
<table cellspacing="5" cellpadding="0" align="center" id="tablaPermisos">
    <thead>
        <tr>
            <th width="300px" align="left">
                <span id="lblTipo">@Html.GetText("COMADMIN", "TIPO")</span>
            </th>
            <th width="333px" align="left" colspan="3">
                <span id="lblDisponiblePara">@Html.GetText("COMADMIN", "DISPONIBLEPARA")</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr id="FicheroServidor" class="permiso">
            @{
                bool tipoArchivo = false;
                bool tipoVideo = false;
                bool tipoImagen = false;
                int permisosArchivoDigital = -1;

                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.FicheroServidor) > 0)
                {
                    tipoArchivo = true;
                    permisosArchivoDigital = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.FicheroServidor).TipoPermiso;
                }
                else if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Video) > 0)
                {
                    tipoVideo = true;
                    permisosArchivoDigital = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Video).TipoPermiso;
                }
                else if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Imagen) > 0)
                {
                    tipoImagen = true;
                    permisosArchivoDigital = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Imagen).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "ARCHIVO")</td>
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosArchivoDigital == 2 ? "checked=\"checked\"" : "") name="checkUsuarioArchivo" id="checkUsuarioArchivo" />
                <label for="checkUsuarioArchivo">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosArchivoDigital >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorArchivo" id="checkSupervisorArchivo" />
                <label for="checkSupervisorArchivo">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosArchivoDigital >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorArchivo" id="checkAdministradorArchivo" />
                <label for="checkAdministradorArchivo">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>
        <tr>
            <td>
                <span style="margin-left: 20px;">
                    <input type="radio" @Html.Raw(tipoArchivo ? "checked=\"checked\"" : "") value="FicheroServidor" name="tipoArchivo" id="radioButtonCualquier" />
                    <label for="radioButtonCualquier">@Html.GetText("COMADMIN", "CUALQUIERTIPO")</label>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="margin-left: 20px;">
                    <input type="radio" @Html.Raw(tipoVideo ? "checked=\"checked\"" : "") value="Video" name="tipoArchivo" id="radioButtonVideos" />
                    <label for="radioButtonVideos">@Html.GetText("COMADMIN", "VIDEOS")</label>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="margin-left: 20px;">
                    <input type="radio" @Html.Raw(tipoImagen ? "checked=\"checked\"" : "") value="Imagen" name="tipoArchivo" id="radioButtonImagenes" />
                    <label for="radioButtonImagenes">@Html.GetText("COMADMIN", "IMAGENES")</label>
                </span>
            </td>
        </tr>
        <tr id="ReferenciaADoc" class="permiso">
            @{
                int permisosReferenciaADoc = -1;
                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.ReferenciaADoc) > 0)
                {
                    permisosReferenciaADoc = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.ReferenciaADoc).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "REFERENCIA")</td>
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosReferenciaADoc == 2 ? "checked=\"checked\"" : "") name="checkUsuarioReferencia" id="checkUsuarioReferencia" />
                <label for="checkUsuarioReferencia">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosReferenciaADoc >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorReferencia" id="checkSupervisorReferencia" />
                <label for="checkSupervisorReferencia">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosReferenciaADoc >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorReferencia" id="checkAdministradorReferencia" />
                <label for="checkAdministradorReferencia">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>
        <tr id="Hipervinculo" class="permiso">
            @{
                int permisosHipervinculo = -1;
                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Hipervinculo) > 0)
                {
                    permisosHipervinculo = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Hipervinculo).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "DIRECCION")</td>
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosHipervinculo == 2 ? "checked=\"checked\"" : "") name="checkUsuarioDirección" id="checkUsuarioDirección" />
                <label for="checkUsuarioDirección">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosHipervinculo >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorDirección" id="checkSupervisorDirección" />
                <label for="checkSupervisorDirección">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosHipervinculo >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorDirección" id="checkAdministradorDirección" />
                <label for="checkAdministradorDirección">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>
        <tr id="Nota" class="permiso">
            @{
                int permisosNota = -1;
                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Nota) > 0)
                {
                    permisosNota = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Nota).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "NOTA")</td>
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosNota == 2 ? "checked=\"checked\"" : "") name="checkUsuarioNota" id="checkUsuarioNota" />
                <label for="checkUsuarioNota">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosNota >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorNota" id="checkSupervisorNota" />
                <label for="checkSupervisorNota">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosNota >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorNota" id="checkAdministradorNota" />
                <label for="checkAdministradorNota">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>
        @if (Model.WikiDisponible)
        {
            int permisosWiki = -1;
            if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Wiki) > 0)
            {
                permisosWiki = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Wiki).TipoPermiso;
            }
            <tr id="Wiki" class="permiso">
                <td>@Html.GetText("COMADMIN", "WIKI")</td>
                <td>
                    <input type="checkbox" class="chkUsu" @Html.Raw(permisosWiki == 2 ? "checked=\"checked\"" : "") name="checkUsuarioWiki" id="checkUsuarioWiki" />
                    <label for="checkUsuarioWiki">@Html.GetText("COMADMIN", "USUARIO")</label>
                </td>
                <td>
                    <input type="checkbox" class="chkSup" @Html.Raw(permisosWiki >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorWiki" id="checkSupervisorWiki" />
                    <label for="checkSupervisorWiki">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
                </td>
                <td>
                    <input type="checkbox" class="chkAdm" @Html.Raw(permisosWiki >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorWiki" id="checkAdministradorWiki" />
                    <label for="checkAdministradorWiki">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
                </td>
            </tr>
        }
        <tr id="Pregunta" class="permiso">
            @{
                int permisosPregunta = -1;
                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Pregunta) > 0)
                {
                    permisosPregunta = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Pregunta).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "PREGUNTA")</td>
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosPregunta == 2 ? "checked=\"checked\"" : "") name="checkUsuarioPregunta" id="checkUsuarioPregunta" />
                <label for="checkUsuarioPregunta">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosPregunta >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorPregunta" id="checkSupervisorPregunta" />
                <label for="checkSupervisorPregunta">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosPregunta >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorPregunta" id="checkAdministradorPregunta" />
                <label for="checkAdministradorPregunta">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>
        <tr id="Encuesta" class="permiso">
            @{
                int permisosEncuesta = -1;
                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Encuesta) > 0)
                {
                    permisosEncuesta = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Encuesta).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "ENCUESTA")
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosEncuesta == 2 ? "checked=\"checked\"" : "") name="checkUsuarioEncuesta" id="checkUsuarioEncuesta" />
                <label for="checkUsuarioEncuesta">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosEncuesta >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorEncuesta" id="checkSupervisorEncuesta" />
                <label for="checkSupervisorEncuesta">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosEncuesta >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorEncuesta" id="checkAdministradorEncuesta" />
                <label for="checkAdministradorEncuesta">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>
        <tr id="Debate" class="permiso">
            @{
                int permisosDebate = -1;
                if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Debate) > 0)
                {
                    permisosDebate = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Debate).TipoPermiso;
                }
            }
            <td>@Html.GetText("COMADMIN", "DEBATE")</td>
            <td>
                <input type="checkbox" class="chkUsu" @Html.Raw(permisosDebate == 2 ? "checked=\"checked\"" : "") name="checkUsuarioDebate" id="checkUsuarioDebate" />
                <label for="checkUsuarioDebate">@Html.GetText("COMADMIN", "USUARIO")</label>
            </td>
            <td>
                <input type="checkbox" class="chkSup" @Html.Raw(permisosDebate >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorDebate" id="checkSupervisorDebate" />
                <label for="checkSupervisorDebate">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
            </td>
            <td>
                <input type="checkbox" class="chkAdm" @Html.Raw(permisosDebate >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorDebate" id="checkAdministradorDebate" />
                <label for="checkAdministradorDebate">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
            </td>
        </tr>

        @if (ViewBag.TOPDisponible != null && ViewBag.TOPDisponible)
        {
            <tr id="VideoTOP" class="permiso">
                @{
                    int permisosTOP = -1;
                    if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.VideoTOP) > 0)
                    {
                        permisosTOP = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.VideoTOP).TipoPermiso;
                    }
                }
                <td>@Html.GetText("COMADMIN", "VIDEOTOP")</td>
                <td>
                    <input type="checkbox" class="chkUsu" @Html.Raw(permisosTOP == 2 ? "checked=\"checked\"" : "") name="checkUsuarioTOP" id="checkUsuarioTOP" />
                    <label for="checkUsuarioTOP">@Html.GetText("COMADMIN", "USUARIO")</label>
                </td>
                <td>
                    <input type="checkbox" class="chkSup" @Html.Raw(permisosTOP >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorTOP" id="checkSupervisorTOP" />
                    <label for="checkSupervisorTOP">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
                </td>
                <td>
                    <input type="checkbox" class="chkAdm" @Html.Raw(permisosTOP >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorTOP" id="checkAdministradorTOP" />
                    <label for="checkAdministradorTOP">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
                </td>
            </tr>
                    }

        @if (Model.PermisosDocumentacionSemantica != null && Model.PermisosDocumentacionSemantica.Count > 0)
        {
            int permisosSemantico = -1;
            if (Model.PermisosDocumentacion.Count(permiso => permiso.TipoDocumento == TiposDocumentacion.Semantico) > 0)
            {
                permisosSemantico = Model.PermisosDocumentacion.First(permiso => permiso.TipoDocumento == TiposDocumentacion.Semantico).TipoPermiso;
            }
            <tr id="Semantico" class="filaPlantilla permiso">
                <td>@Html.GetText("COMADMIN", "PLANTILLA")</td>
                <td>
                    <input type="checkbox" class="chkUsu" @Html.Raw(permisosSemantico == 2 ? "checked=\"checked\"" : "") name="checkUsuarioPlantilla" id="checkUsuarioPlantilla" />
                    <label for="checkUsuarioPlantilla">@Html.GetText("COMADMIN", "USUARIO")</label>
                </td>
                <td>
                    <input type="checkbox" class="chkSup" @Html.Raw(permisosSemantico >= 1 ? "checked=\"checked\"" : "") name="checkSupervisorPlantilla" id="checkSupervisorPlantilla" />
                    <label for="checkSupervisorPlantilla">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
                </td>
                <td>
                    <input type="checkbox" class="chkAdm" @Html.Raw(permisosSemantico >= 0 ? "checked=\"checked\"" : "") name="checkAdministradorPlantilla" id="checkAdministradorPlantilla" />
                    <label for="checkAdministradorPlantilla">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
                </td>
            </tr>
            if (Model.PermisosDocumentacionSemantica.Count > 0)
            {
                int numOntologias = Model.PermisosDocumentacionSemantica.Count;
                bool seleccionarTodosUsuario = (permisosSemantico >= 2 && Model.PermisosDocumentacionSemantica.Count(p => p.TipoPermiso >= 2) == numOntologias);
                bool seleccionarTodosSupervisor = (permisosSemantico >= 1 && Model.PermisosDocumentacionSemantica.Count(p => p.TipoPermiso >= 1) == numOntologias);
                bool seleccionarTodosAdministrador = (permisosSemantico >= 0 && Model.PermisosDocumentacionSemantica.Count(p => p.TipoPermiso >= 0) == numOntologias);

                <tr>
                    <td style="padding-left: 20px;font-style:italic;font-weight:bold;">@Html.GetText("COMMON", "SELECCIONARTODOS")</td>
                    <td>
                        <input type="checkbox" @Html.Raw(seleccionarTodosUsuario ? "checked=\"checked\"" : "") @Html.Raw(permisosSemantico < 2 ? "disabled" : "") class="chkUsu" id="chkOntoUsu_todos" />
                        <label style="font-style:italic;" for="chkOntoUsu_todos">@Html.GetText("COMADMIN", "USUARIO")</label>
                    </td>
                    <td>
                        <input type="checkbox" @Html.Raw(seleccionarTodosSupervisor ? "checked=\"checked\"" : "") @Html.Raw(permisosSemantico < 1 ? "disabled" : "") class="chkSup" id="chkOntoSup_todos" />
                        <label style="font-style:italic;" for="chkOntoSup_todos">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
                    </td>
                    <td>
                        <input type="checkbox" @Html.Raw(seleccionarTodosAdministrador ? "checked=\"checked\"" : "") @Html.Raw(permisosSemantico < 0 ? "disabled" : "") class="chkAdm" id="chkOntoAdm_todos" />
                        <label style="font-style:italic;" for="chkOntoAdm_todos">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
                    </td>
                </tr>
                foreach (AdministrarComunidadUtilidades.PermisoDocumentacionSemantica permisoOnto in Model.PermisosDocumentacionSemantica)
                {
                    string txtOntologia = permisoOnto.Ontologia.Replace(".owl", "");
                    int permisosOnto = permisoOnto.TipoPermiso;
                    <tr class="permisoOnto" id="@txtOntologia">
                        <td style="padding-left: 20px;">@permisoOnto.TipoDocumento</td>
                        <td>
                            <input type="checkbox" @Html.Raw(permisosOnto >= 2 && permisosSemantico >= 2 ? "checked=\"checked\"" : "") @Html.Raw(permisosSemantico < 2 ? "disabled" : "") class="chkUsu chkOntoUsu" id="chkOntoUsu_@txtOntologia">
                            <label for="chkOntoUsu_@txtOntologia">@Html.GetText("COMADMIN", "USUARIO")</label>
                        </td>
                        <td>
                            <input type="checkbox" @Html.Raw(permisosOnto >= 1 && permisosSemantico >= 1 ? "checked=\"checked\"" : "") @Html.Raw(permisosSemantico < 1 ? "disabled" : "") class="chkSup chkOntoSup" id="chkOntoSup_@txtOntologia">
                            <label for="chkOntoSup_@txtOntologia">@Html.GetText("COMADMIN", "SUPERVISOR")</label>
                        </td>
                        <td>
                            <input type="checkbox" @Html.Raw(permisosOnto >= 0 && permisosSemantico >= 0 ? "checked=\"checked\"" : "") @Html.Raw(permisosSemantico < 0 ? "disabled" : "") class="chkAdm chkOntoAdm" id="chkOntoAdm_@txtOntologia">
                            <label for="chkOntoAdm_@txtOntologia">@Html.GetText("COMADMIN", "ADMINISTRADOR")</label>
                        </td>
                        <td class="celda" @Html.Raw(permisosOnto >= 2 && permisosSemantico >= 2 ? "style=\"display: none\"" : "")>
                            <a class="lnkVerGruposOnto" @Html.Raw(permisoOnto.PrivacidadGrupos.Count > 0 ? "style=\"display:none\"" : "")>Añadir grupos</a>
                            <div @Html.Raw(permisoOnto.PrivacidadGrupos.Count > 0 ? "" : "style=\"display:none\"") class="gruposOnto">
                                Grupos específicos
                                @{
                                    string listaIDsGrupos = "";
                                    string htmlNombresGrupos = "";

                                    foreach (Guid grupoID in permisoOnto.PrivacidadGrupos.Keys)
                                    {
                                        listaIDsGrupos += "g_" + grupoID.ToString() + ", ";
                                        htmlNombresGrupos += "<li>" + permisoOnto.PrivacidadGrupos[grupoID] + "<a aux=\"" + grupoID.ToString() + "\" class=\"remove\">eliminar</a></li>";
                                    }
                                }
                                <p>
                                    <input type="text" id="filtroGrupos_@(txtOntologia)" name="filtroGrupos">
                                    <input type="hidden" id="filtroGrupos_@(txtOntologia)_Hack" class="valores privacidadGrupos" name="filtroGruposValores" value="@listaIDsGrupos">
                                </p>
                                <ul class="resultado">@Html.Raw(htmlNombresGrupos)</ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
