@model GroupPageViewModel

@{
    GroupCardModel grupo = Model.Group;
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    CommunityModel Comunidad = Html.GetComunidad();

    Html.SetBodyClass("layout02");

    if (grupo.AllowSendMessage)
    {
        Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/ckeditor.js?v=" + Html.GetVersion());
        Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/adapters/jquery.js?v=" + Html.GetVersion());
    }
}

<div id="col01">
    <div id="community">
        <div class="community box">
            <p class="imageUser">
                <img src="@Html.GetBaseUrlStatic()/img/iconos/grupos/grupo.gif" />
            </p>
            <p>
                <em>@Html.Translate("Grupo")</em>
            </p>
        </div>
    </div>
</div>

<div id="col02" class="adminGroup">

    <div class="summaryBio">
        <h2 style="display: none;">@Html.Translate("Grupo")</h2>
        <div class="resource" style="height: auto;">
            <div class="box description">
                <div class="group title">
                    <h3>@grupo.Name</h3>
                </div>
                <div class="group content">
                    @Html.Raw(grupo.Description)
                </div>
                <div class="group etiquetas">
                    <div class="cloud">
                        <p class="literal">@Html.Translate("Etiquetas: ")</p>
                        <ul class="etiquetas">
                            @foreach (string tag in grupo.Tags)
                            {
                                <li><a resource="@grupo.UrlSearch#sioc_t:Tag=@tag" typeof="skos:Tag" property="skos:prefLabel" rel="" about="" href="@grupo.UrlSearch#sioc_t:Tag=@tag">@tag</a>@(grupo.Tags.Last() == tag ? "" : ",") </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="group acciones">
                    <ul>
                        @if (Model.Actions.AsignarAGrupo)
                        {
                            <li class="azul" onclick="javascript:AsignarAGrupo();"><a>@Html.GetText("GRUPO", "ASIGNARMIEMBRO")</a></li>
                        }
                        @if (Model.Actions.LeaveGroup)
                        {
                            <li><a onclick="javascript:AbandonarGrupo();">@Html.GetText("GRUPO", "ABANDONARGRUPO")</a></li>
                        }
                        @if (Model.Actions.RequestAccess)
                        {
                            <li class="azul"><a onclick="javascript:SolicitarPertenecerGrupo(this);">@Html.GetText("GRUPO", "PERTENECERGRUPO")</a></li>
                        }
                        @if (grupo.AllowSendMessage)
                        {
                            <li><a onclick="javascript:EnviarMensajeMiembrosGrupo('@grupo.Clave');">@Html.GetText("GRUPO", "ENVIARMENSAJE")</a></li>
                        }
                        @if (Model.Actions.Edit)
                        {
                            <li><a href="@Model.UrlEditGroup">@Html.GetText("GRUPO", "EDITAR")</a></li>
                        }
                        @if (Model.Actions.Delete)
                        {
                            <li><a onclick="javascript:MostrarEliminarGrupo()">@Html.GetText("GRUPO", "ELIMINAR")</a></li>
                        }
                    </ul>
                </div>
                @if (Model.Actions.Delete)
                {
                    <div style="display: none;" id="panEliminarGrupo">
                        <fieldset>
                            <div id="panels" class="stateShowForm" style="display: block;">
                                <div style="display: block;" id="action" class="box form activeForm">
                                    <p>
                                        ¿Estás seguro de eliminar el grupo?
                                        <a onclick="javascript:EliminarGrupo();" class="submit principal">Sí</a>
                                        <a onclick="$('#panEliminarGrupo').hide()" class="submit principal">No</a>
                                    </p>
                                    <p style="display: block;" class="cerrar">
                                        <a title="cerrar formulario" onclick="$('#panEliminarGrupo').hide()">cerrar x</a>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
                @if (Model.Actions.AddMember)
                {
                    <div style="display: none;" id="panAgregarMiembros">
                        <fieldset>
                            <div id="divContDespEdit">
                                <div id="panels" class="stateShowForm" style="display: block;">
                                    <div style="display: block;" id="action" class="box form activeForm">
                                        <p style="display: block;" class="cerrar">
                                            <a title="cerrar formulario" onclick="$('#panAgregarMiembros').hide()">cerrar x</a>
                                        </p>
                                        <fieldset class="filtroRapido">
                                            <legend id="litInstrucciones">Asignar miembro al grupo</legend>
                                            <div>
                                                <input type="text" id="txtFiltro" class="filtroFaceta ac_input" autocomplete="off" />
                                                <span class="searchButton"></span>
                                            </div>
                                        </fieldset>
                                        <div style="display: none;" class="contactos" id="selector">
                                            <div style="display: none;" id="loading" class="loading">
                                                <p></p>
                                            </div>
                                            <div id="panContactos">
                                            </div>
                                        </div>
                                        <input type="text" class="oculto" id="txtHackInvitados" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div id="panContenedorInvitados">

                            <ul class="icoEliminar"></ul>
                        </div>
                        <input type="button" onclick="javascript: AceptarMiembros();" value="Aceptar" style="float: right;" id="btnAceptarAgregarMiembros" />
                    </div>
                    
                    <script>
                        $('#txtFiltro').bind('keydown', function (evento) {
                            if ((evento.which == 9) || (evento.keyCode == 9) || (evento.which == 13) || (evento.keyCode == 13)) {
                                return false;
                            }
                        });
                        $(document).ready(function () {
                            $('#txtFiltro').autocomplete(
                            null,
                            {
                                servicio: new WS($('#inpt_urlServicioAutocompletar').val(), WSDataType.jsonp),
                                @if (grupo.GroupType==GroupCardModel.GroupTypes.Organization)
                                {
                                    @:metodo: 'AutocompletarMiembrosOrganizacion',
                                }
                                else
                                {
                                    @:metodo: 'AutoCompletarLectoresEditores',
                                }
                                delay: 0,
                                multiple: true,
                                scroll: false,
                                selectFirst: false,
                                minChars: 1,
                                width: 300,
                                cacheLength: 0,
                                NoPintarSeleccionado: true,
                                txtValoresSeleccID: 'txtHackInvitados',
                                extraParams: {
                                    grupo: '@grupo.ShortName',
                                    identidad: '@IdentidadActual.KeyIdentity',
                                    identidadMyGnoss: '@IdentidadActual.KeyMetaProyectIdentity',
                                    identidadOrg: '@(IdentidadActual.KeyOrganization == Guid.Empty ? "" : IdentidadActual.KeyIdentityOrg.ToString())',
                                    proyecto: '@Comunidad.Key',
                                    organizacion: '@(IdentidadActual.KeyOrganization == Guid.Empty ? "" : IdentidadActual.KeyOrganization.ToString())',
                                    bool_esPrivada: '@(Comunidad.AccessType == CommunityModel.TypeAccessProject.Private || Comunidad.AccessType == CommunityModel.TypeAccessProject.Reserved ? "True" : "False")',
                                    bool_edicion: 'True',
                                    bool_traerperfiles: true,
                                    bool_traergrupos: 'False'
                                }
                            }
                            );
                            $('#txtFiltro').result(function (event, data, formatted) {
                                crearInvitado(null, data[0], data[1]);
                            });
                        });
                    </script>
                }
                <div style="display: none;" id="desplegable_@grupo.Clave">
                    <div style="display: none;" class="stateShowForm" id="panels">
                        <div class="loading" id="loading">
                            <p>Cargando formulario, un momento por favor</p>
                        </div>
                        <div id="menssages">
                            <div class="ok"></div>
                            <div class="ko"></div>
                        </div>
                        <div class="box form activeForm" id="action">
                            <div id="@grupo.Clave"></div>
                        </div>
                        <div class="box form activeForm" id="aux_@grupo.Clave"></div>
                        <p class="cerrar"><a onclick="CerrarPanelAccion('desplegable_@grupo.Clave')" title="cerrar formulario">cerrar x</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form autocomplete="off" id="divFiltros">
        <fieldset>
            <legend>@Html.GetText("COMMON", "FILTRAR")</legend>
            <input type="hidden" id="urlFilter" />
            <span style="margin-right: 20px;" class="filtroTexto">
                <input type="text" style="width: 350px; padding: 4px;" id="txtFiltrarMiembros" name="txtFiltrarMiembros">
                <input class="encontrar" type="button" value="buscar" />
            </span>
        </fieldset>
    </form>
    <div id="panContPagina">
        @Html.PartialView("_ContenedorPerfiles", Model)
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        $('#panContPagina').on('click', '#NavegadorPaginas_Pag a', function () {
            var numPag = $(this).attr('aux');
            $('#numPagina').val(numPag);
            Filtrar();
        });
        $('#col02.adminGroup #divFiltros').on('click', 'input.encontrar[type="button"]', function (event) {
            Filtrar();
        });
        $('#col02.adminGroup #divFiltros').on('keydown', 'input#txtFiltrarMiembros', function (event) {
            if (event.which || event.keyCode) {
                if ((event.which == 13) || (event.keyCode == 13)) {
                    return false;
                }
            } else {
                return true;
            };
        });
    });

    function Filtrar() {
        MostrarUpdateProgress();

        var numPage = 1;
        if ($('#numPagina').length > 0) { numPage = $('#numPagina').val(); }

        var dataPost = {
            Search: $('#txtFiltrarMiembros').val(),
            NumPage: numPage
        }
        $.post('@Model.UrlLoadMore', dataPost, function (data) {
            if (data.length > 0) {
                $('#panContPagina').html(data);
            }
            OcultarUpdateProgress();
        });
    }

    function SolicitarPertenecerGrupo(boton) {
        MostrarUpdateProgress();

        GnossPeticionAjax('@Model.UrlRequestAccess', null, true).done(function (data) {
            $(boton).remove();
            OcultarUpdateProgress();
        });
    }

    function AbandonarGrupo() {
        MostrarUpdateProgress();

        GnossPeticionAjax('@Model.UrlLeaveGroup', null, true);
    }

    function MostrarEliminarGrupo() {
        $('#panAgregarMiembros').hide();
        $('#panEliminarGrupo').show();
    }

    function EliminarGrupo() {
        MostrarUpdateProgress();
        GnossPeticionAjax('@Model.UrlDeleteGroup', null, true);
    }

    function AsignarAGrupo() {
        $('#panAgregarMiembros').show();
        $('#panEliminarGrupo').hide();
    }

    function crearInvitado(ficha, nombre, identidad) {
        $('#txtFiltro').val('');
        $('#selector').css('display', 'none');
        contenedor = $('#panContenedorInvitados');
        if (contenedor.html().trim().indexOf('<ul') == 0) { contenedor.html(contenedor.html().replace('<ul class=\"icoEliminar\">', '').replace('</ul>', '')); }
        contenedor.html('<ul class=\"icoEliminar\">' + contenedor.html() + '<li>' + nombre + '<a class="remove" onclick="javascript:eliminarInvitado(null,this,\'' + identidad + '\');">' + textoRecursos.Eliminar + '</a></li>' + '</ul>');

        if (ficha != null) {
            ficha.style.display = 'none';
        }
        $('#txtHackInvitados').val($('#txtHackInvitados').val() + "," + identidad);
    }

    function eliminarInvitado(fichaId, nombre, identidad) {
        contenedor = $('#panContenedorInvitados');
        contenedor.children()[0].removeChild(nombre.parentNode);
        $('#txtHackInvitados').val($('#txtHackInvitados').val().replace(',' + identidad, ''));
    }

    function AceptarMiembros() {
        MostrarUpdateProgress();
        $('#panAgregarMiembros').hide();

        var miembros = {};
        var txtMiembros = $('#txtHackInvitados').val();
        if (txtMiembros.length > 0) {
            var listaMiembros = txtMiembros.split(',');
            var contMiembros = 0;
            for (var i = 0; i < listaMiembros.length; i++) {
                if (listaMiembros[i].trim() != "") {
                    miembros[contMiembros] = listaMiembros[i];
                    contMiembros++;
                }
            }
        }

        var dataPost = {
            Members: miembros
        }

        GnossPeticionAjax('@Model.UrlAddMember', dataPost, true).done(function (data) {
            $('#panContenedorInvitados').html('');
            $('#txtHackInvitados').val('');
            if (data.length > 0) {
                for (var i in data) {
                    if (data[i].updateTargetId.indexOf("fichaPerfil_") == 0) {
                        var htmlFicha = data[i].html;

                        $('#panContPagina #panPersonas').prepend(htmlFicha);
                    }
                }
            }
            OcultarUpdateProgress();
        });
    }

    function EnviarMensajeMiembrosGrupo(grupoID) {
        $('#panAgregarMiembros').hide();
        AccionEnviarMensajeMVC('@grupo.UrlGroup', grupoID);
    }

    function EliminarIdentidadDeGrupo(identidad) {
        MostrarUpdateProgress();

        var dataPost = {
            IdentidadID: identidad
        }

        GnossPeticionAjax('@Model.UrlRemoveMember', dataPost, true).done(function (data) {
            $('#perfilGrupo_' + identidad).remove();
            OcultarUpdateProgress();
        })
    }


</script>


