@{
    Html.SetBodyClass("layout03");
}

<div id="col02">
    <h2>@Html.GetText("NUEVOPASSWORD", "TITULO")</h2>
    <div id="panPasword">

        @{    
            if (Request.Params["expired"] != null && Request.Params["expired"].Equals("true"))
            {
            <div class="box">
                @Html.Raw(Html.GetText("CAMBIARPASSWORD", "PASSWORDCADUCADA"))
            </div>
            }
        }
        <div class="box">
            <div class="fieldsetContent">
                <p>@Html.GetText("CAMBIARPASSWORD", "PASSWORDANTERIOR")</p>
                <p>
                    <input id="txtOldPassword" type="password" value="" class="text" />
                </p>
                <p>@Html.GetText("CAMBIARPASSWORD", "PASSWORDNUEVA")</p>
                <p>
                    <input id="txtNewPassword" type="password" class="text" />
                </p>
                <p>@Html.GetText("CAMBIARPASSWORD", "PASSWORDNUEVACONFIRMAR")</p>
                <p>
                    <input id="txtConfirmedPassword" type="password" value="" onkeydown="if(event.which || event.keyCode){if ((event.which == 13) || (event.keyCode == 13)) {CambiarPassword(); return false;}} else {return true}; " class="text" />
                </p>
                <p id="warning" style="display: none;">Bloq Mayús activado</p>
            </div>
        </div>
        <div class="fieldset actionButtons">
            <fieldset>
                <p>
                    <input id="btnCambiarPassword" type="button" value="@Html.GetText("CAMBIARPASSWORD", "ACEPTAR")" onclick="CambiarPassword();" class="submit principal" />
                </p>
                <div style="display: none;" id="lblError" class="ok"></div>
            </fieldset>
        </div>
        <div style="display: none;" id="lblErrorExterno" class="ok"></div>
    </div>
</div>
<!--Final del contenedor Gris -->
<script type="text/javascript">

    function CambiarPassword() {
        $('#btnCambiarPassword').hide();
        MostrarUpdateProgress();
        var params = {
            OldPassword: $("#txtOldPassword").val(),
            NewPassword: $("#txtNewPassword").val(),
            ConfirmedPassword: $("#txtConfirmedPassword").val()
        }
        GnossPeticionAjax("@Html.GetUrlPagina()/change", params, false).done(function () {
            $('#lblError').removeClass("error");
            $('#lblError').addClass("ok");

            var transfer = getParam('transferto', location.href);
            if (transfer != undefined) {
                location.href = transfer;
            }

        }).fail(function () {
            $('#lblError').removeClass("ok");
            $('#lblError').addClass("error");
        }).always(function (html) {
            $('#lblError').html("<p>" + html + "</p>");
            $('#lblError').show();
            $('#btnCambiarPassword').show();
            OcultarUpdateProgress();
        });
    }

    function getParam(param, url) {
        /* Buscar a partir del signo de interrogación ? */
        url = String(url.match(/\?+.+/));
        /* limpiar la cadena quitándole el signo ? */
        url = url.replace("?", "");
        /* Crear un array con parametro=valor */
        url = url.split("&");
        /*
        Recorrer el array url
        obtener el valor y dividirlo en dos partes a través del signo =
        0 = parametro
        1 = valor
        Si el parámetro existe devolver su valor
        */
        x = 0;
        while (x < url.length) {
            p = url[x].split("=");
            if (p[0] == param) {
                return decodeURIComponent(p[1]);
            }
            x++;
        }
    }

    $(document).ready(function () {
        $('input[type=password]').keypress(function capLock(e) {
            kc = e.keyCode ? e.keyCode : e.which;
            sk = e.shiftKey ? e.shiftKey : ((kc == 16) ? true : false);
            if (((kc >= 65 && kc <= 90) && !sk) || ((kc >= 97 && kc <= 122) && sk))
                $('#warning').show();
            else
                $('#warning').hide();
        });
    });
</script>


