@using Es.Riam.Gnoss.Web.MVC.Models;
@if (Html.GetComunidad() != null)
{
    <div class="aaCabecera">
        @{
            HeaderModel cabecera = Html.GetCabecera();
            UserProfileModel perfil = Html.GetPerfil();
            CommunityModel Comunidad = Html.GetComunidad();
            UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
            CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;
        }
        @if (!IdentidadActual.IsGuestUser)
        {
            string nombreTipoPerfil = "";

            if (perfil.TypeProfile == ProfileType.Personal)
            {
                nombreTipoPerfil = "perfilPersonal";
            }
            else if (perfil.TypeProfile == ProfileType.Teacher)
            {
                nombreTipoPerfil = "perfilProfesor";
            }
            else if (perfil.TypeProfile == ProfileType.ProfessionalPersonal || perfil.TypeProfile == ProfileType.ProfessionalCorporate)
            {
                if (perfil.IsClassProfile)
                {
                    nombreTipoPerfil = "perfilAlumno";
                }
                else
                {
                    nombreTipoPerfil = "perfilProfesional";
                }
            }

            <div class="perfilUsuarioGnoss @nombreTipoPerfil" id="perfilUsuarioGnoss">
                <div class="wrapper">
                    <div>
                        <div id="usuarioConectado" class="usuarioConectado">
                            <p class="usuario enlaceDesplegable menuDesplegable">
                                <a href="@perfil.Url@Html.GetText("URLSEM", "HOME")" title="@perfil.Name" rel="listado-herramientas">
                                    @{
                                        string urlFoto = "";
                                        if (string.IsNullOrEmpty(perfil.Foto))
                                        {
                                            if (perfil.TypeProfile == ProfileType.ProfessionalCorporate)
                                            {
                                                urlFoto = "/" + Es.Riam.Util.UtilArchivos.ContentImagenes + "/" + Es.Riam.Util.UtilArchivos.ContentImagenesOrganizaciones + "/" + "anonimo_peque.png";
                                            }
                                            else
                                            {
                                                urlFoto = "/" + Es.Riam.Util.UtilArchivos.ContentImagenes + "/" + Es.Riam.Util.UtilArchivos.ContentImagenesPersonas + "/" + "anonimo_peque.png";
                                            }
                                        }
                                        else
                                        {
                                            urlFoto = perfil.Foto;
                                        }
                                    }
                                    <img alt="fotoPerfil" src="@Html.GetBaseUrlContent()@urlFoto" /><strong>@Html.AcortarTexto((string)perfil.Name, 10)</strong></a>
                            </p>

                            @if (Comunidad.GNOSSCommunity)
                            {
                                <div id="novedades" class="novedades">
                                    <p class="indentado">@Html.GetText("MENU", "NOVEDADESUSUCONECT")</p>
                                    <ul>
                                        @if (cabecera.HomeUserAvailable)
                                        {
                                            <li class="usuarioHome">
                                                <a title="@Html.GetText("COMMON", "HOME")" href="@perfil.Url@Html.GetText("URLSEM", "HOME")">@Html.GetText("COMMON", "HOME")</a>
                                            </li>
                                        }
                                        <li class="usuarioMensajes">
                                            <a title="@Html.GetText("MENU", "BANDEJAMEN")" href="@perfil.Url@Html.GetText("URLSEM", "MENSAJES")">@Html.GetText("MENU", "BANDEJAMEN")</a>
                                            <span style="display: none;" class="novedades" id="infoNumMensajes"><span class="indentado">nuevos</span></span>
                                            <span style="display: none" class="avisos" id="infNumMensajesSinLeer"><span class="indentado">sin leer</span></span>
                                        </li>
                                        <li class="usuarioComentarios">
                                            <a title="@Html.GetText("MENU", "COMENTARIOS")" href="@perfil.Url@Html.GetText("URLSEM", "COMENTARIOS")">@Html.GetText("MENU", "COMENTARIOS")</a>
                                            <span style="display: none;" class="novedades" id="infoNumComentarios"><span class="indentado">nuevos</span></span>
                                            <span style="display: none" class="avisos" id="infNumComentariosSinLeer"><span class="indentado">sin leer</span></span>
                                        </li>
                                        <li class="usuarioInvitaciones">
                                            <a title="@Html.GetText("MENU", "INVITACIONES")" href="@perfil.Url@Html.GetText("URLSEM", "INVITACIONES")">@Html.GetText("MENU", "INVITACIONES")</a>
                                            <span style="display: none;" class="novedades" id="infoNumInvitaciones"><span class="indentado">nuevos</span></span>
                                            <span style="display: none;" class="avisos" id="infNumInvitacionesSinLeer"><span class="indentado">sin leer</span></span>
                                        </li>
                                        @if (cabecera.SubscriptionsAvailable)
                                        {
                                            <li class="usuarioSuscripciones">
                                                <a title="@Html.GetText("MENU", "SUSCRIPCIONES")" href="@perfil.Url@Html.GetText("URLSEM", "SUSCRIPCIONES")">@Html.GetText("MENU", "SUSCRIPCIONES")</a>
                                                <span style="display: none;" class="novedades" id="infoNumSuscriopciones"><span class="indentado">nuevos</span></span>
                                                <span style="display: none;" class="avisos" id="infNumSuscripcionesSinLeer"><span class="indentado">sin leer</span></span>
                                            </li>
                                        }
                                        @if (cabecera.ContactsAvailable)
                                        {
                                            <li class="usuarioContactos">
                                                <a title="@Html.GetText("MENU", "CONTACTOS")" href="@perfil.Url@Html.GetText("URLSEM", "CONTACTOS")">@Html.GetText("MENU", "CONTACTOS")</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="desplegable listado-herramientas">
                                <p class="indentado">Herramientas</p>
                                <ul class="listado">
                                    @if (!Comunidad.CompactedMenu)
                                    {
                                        <li>
                                            <a href="@perfil.Url@Html.GetText("URLSEM", "EDITARPERFIL")">@Html.GetText("MENU", "EDITARPERFIL")</a>
                                        </li>
                                        <li>
                                            <a href="@perfil.UrlViewProfile">@Html.GetText("MENU", "VERPERFIL")</a>
                                        </li>
                                        @*<li>
                                            <a href="@perfil.Url.Replace("https://", "http://")@Html.GetText("URLSEM", "EDITARBIOSINTRO")">@Html.GetText("MENU", "EDITORBIOSCVS")</a>
                                        </li>*@
                                    if (cabecera.ChangePasswordVisible)
                                    {
                                            <li>
                                                <a href="@Html.GetBaseUrlIdioma()/@Html.GetText("URLSEM", "CAMBIARPASSWORD")">@Html.GetText("MENU", "CAMBIOCONTRAS")</a>
                                            </li>
                                    }
                                    string urlSolicitudes = "";
                                    if (IdentidadActual.PermitEditAllPeople)
                                    {
                                        urlSolicitudes = perfil.Url + Html.GetText("URLSEM", "SOLICITDESACCESOUSU");
                                    }
                                    else if (IdentidadActual.PermitEditAllOrganizations)
                                    {
                                        urlSolicitudes = perfil.Url + Html.GetText("URLSEM", "SOLICITDESACCESOORG");
                                    }
                                    else if (IdentidadActual.PermitEditAllCommunities)
                                    {
                                        urlSolicitudes = perfil.Url + Html.GetText("URLSEM", "SOLICITDESACCESOCOM");
                                    }
                                    if (!string.IsNullOrEmpty(urlSolicitudes))
                                    {
                                            <li class="administrar">
                                                <a href="@urlSolicitudes">@Html.GetText("MENU", "ADMINSOL")</a>
                                            </li>
                                        }
                                        if (perfil.OrganizationMenuAvailable)
                                        {
                                            <li class="administrar">@Html.GetText("MENU", "ADMINISTRARORG")</li>
                                            if (perfil.IsAdministrator)
                                            {
                                            <li style="display:none;">
                                                <a href="@perfil.Url@Html.GetText("URLSEM", "MENSAJESORG")">@Html.GetText("BANDEJAENTRADA", "BANDEJAENTRADA")</a>
                                            </li>
                                            <li>
                                                <a href="@perfil.Url@Html.GetText("URLSEM", "EDITARPERFILORG")">@Html.GetText("PERFIL", "PERFIL")</a>
                                            </li>
                                            }
                                            <li>
                                                <a href="@perfil.OrganizationPersonalSpaceUrl">@Html.GetText("PERFIL", "BASERECURSOS")</a>
                                            </li>
                                            <li>
                                                <a href="@perfil.Url@Html.GetText("URLSEM", "CONTRIBUCIONESORG")">@Html.GetText("COMMON", "CONTRIBUCIONES")</a>
                                            </li>
                                            if (perfil.IsAdministrator)
                                            {
                                            <li>
                                                <a href="@perfil.Url@Html.GetText("URLSEM", "CONTACTOSORG")">@Html.GetText("PERFIL", "CONTACTOS")</a>
                                            </li>
                                            <li>
                                                <a href="@perfil.AdminOrganizationUsersUrl" title="@Html.GetText("USUARIOS", "USUARIOS")">@Html.GetText("USUARIOS", "USUARIOS")</a>
                                            </li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (Comunidad.AccessType != CommunityModel.TypeAccessProject.Private && Comunidad.AccessType != CommunityModel.TypeAccessProject.Reserved)
                                        {
                                            <li>
                                                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "OBJETOGNOSSBUSCADOR")">@Html.GetText("QUEPUEDOHACER", "CREARWIDGET")</a>
                                            </li>
                                        }

                                        if (Comunidad.ProjectState != CommunityModel.StateProject.Closing && (Comunidad.ProjectState != CommunityModel.StateProject.Definition || IdentidadActual.IsProyectAdmin || IdentidadActual.IsProyectSupervisor))
                                        {
                                            if (permisosComunidad.Invite)
                                            {
                                                <li>
                                                    <a href=" @Comunidad.Url/@Html.GetText("URLSEM", "INVITARACOMUNIDAD")">@Html.GetText("QUEPUEDOHACER", "INVITAAMIGOS")</a>
                                                </li>
                                            }
                                        }

                                        if (permisosComunidad.Subscribe)
                                        {
	                                        <li class="suscribete">
	                                            <a href=" @Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARSUSCRIPCIONCOMUNIDAD")">@Html.GetText("QUEPUEDOHACER", "SUSCRIBETE")</a> 
	                                        </li>
                                        }

                                        if (!IdentidadActual.IsGuestIdentity)
                                        {
                                            <li>
                                                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "RECIBIRNEWSLETTER")">@Html.GetText("QUEPUEDOHACER", "NEWSLETTER")</a>
                                            </li>
                                            if (!IdentidadActual.IsGuestIdentity && !IdentidadActual.IsProyectAdmin)
                                            {
                                                <li>
                                                    <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ABANDONARCOMUNIDAD")">@Html.GetText("QUEPUEDOHACER", "ABANDONARLACOMUNIDAD")</a>
                                                </li>
                                            }
                                        }
                                        if (cabecera.ChangePasswordVisible)
                                        {
                                            <li>
                                                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "CAMBIARPASSWORD")">@Html.GetText("MENU", "CAMBIOCONTRAS")</a>
                                            </li>
                                        }
                                        string urlSolicitudes = "";
                                        if (IdentidadActual.PermitEditAllPeople)
                                        {
                                            urlSolicitudes = perfil.Url + Html.GetText("URLSEM", "SOLICITDESACCESOUSU");
                                        }
                                        else if (IdentidadActual.PermitEditAllOrganizations)
                                        {
                                            urlSolicitudes = perfil.Url + Html.GetText("URLSEM", "SOLICITDESACCESOORG");
                                        }
                                        else if (IdentidadActual.PermitEditAllCommunities)
                                        {
                                            urlSolicitudes = perfil.Url + Html.GetText("URLSEM", "SOLICITDESACCESOCOM");
                                        }
                                        if (!string.IsNullOrEmpty(urlSolicitudes))
                                        {
                                            <li class="administrar">
                                                <a href="@urlSolicitudes">@Html.GetText("MENU", "ADMINSOL")</a>
                                            </li>
                                        }
                                    }
                                    <li class="salir">
                                        <a href="@Html.GetUrlLogout()">@Html.GetText("MENU", "SALIR")</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        @if (!Comunidad.CompactedMenu)
                        {
                            <div id="espacios" class="espacios">
                                <p class="indentado">@Html.GetText("MENU", "ESPACIOSPARTUSUCONECT")</p>
                                <ul>

                                    @if (perfil.IsClassAdministrator && perfil.TypeProfile.Equals(ProfileType.Teacher))
                                    {
                                        <li class="usuarioClases"><a href="@perfil.Url@Html.GetText("URLSEM", "VERCLASESADMINISTRO")">@Html.GetText("ADMINISTRARCLASES", "MISCLASES")</a></li>
                                    }

                                    <li class="usuarioComunidades"><a class="enlaceDesplegable menuDesplegable" rel="listado-comunidades" href="@perfil.Url@Html.GetText("URLSEM", "MISCOMUNIDADES")">@Html.GetText("COMMON", "COMUNIDADES")</a><div class="desplegable listado-comunidades">
                                        <ul class="listado listadoMisContribuciones">
                                            <li class="usuarioContribuciones"><a href="@perfil.Url@Html.GetText("URLSEM", "MISCONTRIBUCIONES")">@Html.GetText("PERFIL", "MISCONTRIBUCIONES")</a></li>
                                            <li class="usuarioBorradores"><a href="@perfil.Url@Html.GetText("URLSEM", "BORRADORES")">@Html.GetText("BANDEJAENTRADA", "MISBORRADORES")</a></li>
                                        </ul>
                                        <ul class="listado">
                                        @{

                                            List<UserProfileModel.ProfileCommunitiesModel> masUsados = perfil.Communities.OrderByDescending(comunidadPerfil => comunidadPerfil.NumberOfConnections).Take(10).ToList();

                                            foreach (UserProfileModel.ProfileCommunitiesModel comunidadPerfil in masUsados.OrderBy(comunidadPerfil => comunidadPerfil.Name))
                                            {
                                                string clase = "abierta";
                                                if (comunidadPerfil.Type == 1 || comunidadPerfil.Type == 3) { clase = "cerrada"; }
                                                        <li class="@clase"><a href="@comunidadPerfil.Url" title="@comunidadPerfil.Name"><span class="icono"></span>@Html.AcortarTexto(comunidadPerfil.Name, 29)</a></li>
                                            }
                                        }
                                        </ul>
                                        @if (perfil.Communities.Count > 10)
                                        {
                                            <ul class="listado listadoAmpliado">
                                                @foreach (UserProfileModel.ProfileCommunitiesModel comunidadPerfil in (perfil.Communities).OrderBy(comunidadPerfil => comunidadPerfil.Name))
                                                {
                                                    string clase = "abierta";
                                                    if (comunidadPerfil.Type == 1 || comunidadPerfil.Type == 3) { clase = "cerrada"; }
                                                    <li class="@clase"><a href="@comunidadPerfil.Url" title="@comunidadPerfil.Name"><span class="icono"></span>@Html.AcortarTexto(comunidadPerfil.Name, 28)</a></li>
                                                }
                                            </ul>
                                        }
                                        <p class="mostrarListadoAmpliado"><a rel="Contraer -">@Html.GetText("MENU", "AMPLIAR")</a></p>
                                        <p style="display: none;" class="mostrarListadoTodos"><a href="@perfil.Url@Html.GetText("URLSEM", "MISCOMUNIDADES")">@Html.GetText("INICIO", "VERTODOS")</a></p>
                                    </div>
                                    </li>
                                    <li class="usuarioContribuciones"><a href="@perfil.Url@Html.GetText("URLSEM", "MISRECURSOS")">@Html.GetNombreEspacioPersonal()</a></li>
                                </ul>
                            </div>

                            <div id="otrasIdentidades" class="otrasIdentidades">
                                <p class="indentado">@Html.GetText("COMMON", "OTRASIDENTIDADES")</p>
                                <ul>
                                    <li class="masIdentidades"><a href="" class="enlaceDesplegable menuDesplegable" title="@Html.GetText("COMMON", "OTRASIDENTIDADES")">@Html.GetText("COMMON", "OTRASIDENTIDADES")</a></li>
                                </ul>
                                <div class="panelMasIdentidades desplegable">
                                    <ul>
                                        @{
                                            int contadorPerfilesPerfil = 0;

                                            if (perfil.TypeProfile != ProfileType.Personal)
                                            {
                                                IEnumerable<UserProfileModel> listaPerfilesPers = (perfil.UserProfiles).Where(perfilAux => perfilAux.TypeProfile == ProfileType.Personal);
                                                if (listaPerfilesPers.Count() > 0)
                                                {
                                                    UserProfileModel perfilPersonal = listaPerfilesPers.First();

                                            <li>
                                                <a href="@perfilPersonal.Url" title="@perfilPersonal.Name">
                                                    @if (!string.IsNullOrEmpty(perfilPersonal.Foto))
                                                    {
                                                        <img alt="@perfilPersonal.Name" src="@Html.GetBaseUrlContent()@perfilPersonal.Foto" />
                                                    }
                                                    <span>@perfilPersonal.Name</span>
                                                </a>
                                                <span style="display: none;" title="nuevos" class="novedades novPerfilOtraIdent" id="infoNov_@perfilPersonal.Key">
                                                    0<span class="indentado">nuevos</span>
                                                </span>
                                            </li>
                                                    contadorPerfilesPerfil++;
                                                }
                                            }

                                            if (perfil.TypeProfile != ProfileType.Teacher)
                                            {
                                                IEnumerable<UserProfileModel> listaPerfilesProf = ((List<UserProfileModel>)perfil.UserProfiles).Where(perfilAux => perfilAux.TypeProfile == ProfileType.Teacher);
                                                if (listaPerfilesProf.Count() > 0)
                                                {
                                                    UserProfileModel perfilProfesor = listaPerfilesProf.First();
                                            <li>
                                                <a class="profesor" href="@perfilProfesor.Url" title="@perfilProfesor.Name">
                                                    @if (!string.IsNullOrEmpty(perfilProfesor.Foto))
                                                    {
                                                        <img alt="@perfilProfesor.Name" src="@Html.GetBaseUrlContent()@perfilProfesor.Foto" />
                                                    }
                                                    <span>@perfilProfesor.Name</span>
                                                </a>
                                                <span style="display: none;" title="nuevos" class="novedades novPerfilOtraIdent" id="infoNov_@perfilProfesor.Key">
                                                    0<span class="indentado">nuevos</span>
                                                </span>
                                            </li>
                                                    contadorPerfilesPerfil++;
                                                }
                                            }

                                            foreach (UserProfileModel perfilActual in (perfil.UserProfiles))
                                            {
                                                //if (contadorPerfilesPerfil == 10) { break; }

                                                if (perfilActual.TypeProfile == ProfileType.Teacher || perfilActual.TypeProfile == ProfileType.Personal || perfilActual.Key == perfil.Key)
                                                {
                                                    continue;
                                                }
                                            <li>
                                                <a class="organizacion" href="@perfilActual.Url" title="@perfilActual.Name">
                                                    @if (!string.IsNullOrEmpty(perfilActual.Foto) && (contadorPerfilesPerfil < 3 || perfil.UserProfiles.Count == 4))
                                                    {
                                                        <img alt="@perfilActual.Name" src="@Html.GetBaseUrlContent()@perfilActual.Foto" />
                                                    }
                                                    <span>@perfilActual.Name</span>
                                                </a>
                                                <span style="display: none;" title="nuevos" class="novedades novPerfilOtraIdent" id="infoNov_@perfilActual.Key">
                                                    <span class="indentado">nuevos</span>
                                                </span>
                                            </li>
                                                contadorPerfilesPerfil++;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                                            }

                        <div id="identidadGNOSS" class="identidadGNOSS">

                            @if (!string.IsNullOrEmpty(Comunidad.BetaProject))
                            {
                                <li class="beta">@Comunidad.BetaProject</li>
                            }

                            <ul id="gnoss">
                                @foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
                                {
                                    string urlIdioma = "";
                                    if (cabecera.MultiLingualLinks != null && cabecera.MultiLingualLinks.ContainsKey(idioma.Key))
                                    {
                                        urlIdioma = cabecera.MultiLingualLinks[idioma.Key].Value;
                                    }

                                    if (Html.GetUtilIdiomas().LanguageCode == idioma.Key)
                                    {
                                    <li>
                                        <a class="activo" lang="@idioma.Key" href="@urlIdioma" title="@idioma.Value" ><span>@idioma.Key</span></a>
                                    </li>
                                    }
                                    else
                                    {
                                    <li>
                                        <a lang="@idioma.Key" href="@urlIdioma" title="@idioma.Value" ><span>@idioma.Key</span></a>
                                    </li>
                                    }
                                }


                                @if (Comunidad.GNOSSCommunity && !Html.GetEsEcosistemaSinMetaProyecto())
                                {
                                <li class="logo">
                                    <a rel="listado-gnoss" class="enlaceDesplegable" href="@perfil.Url@Html.GetText("URLSEM", "HOME")">@Html.GetText("COMMON", "EXPLORA")</a>
                                    <div class="desplegable listado-gnoss">
                                        <ul class="listado">
                                            <li><a href="@perfil.Url@Html.GetText("URLSEM", "HOME")">@Html.GetText("COMMON", "HOME")</a></li>
                                            <li><a href="@perfil.Url@Html.GetText("URLSEM", "INDICE")">@Html.GetText("COMMON", "INDICE")</a></li>
                                            <li><a href="@perfil.Url@Html.GetText("URLSEM", "COMUNIDADES")">@Html.GetText("COMMON", "COMUNIDADES")</a></li>
                                            <li><a href="@perfil.Url@Html.GetText("URLSEM", "BLOGS")">@Html.GetText("COMMON", "BLOGS")</a></li>
                                            <li><a href="@perfil.Url@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")">@Html.GetText("COMMON", "PERSONASYORGANIZACIONES")</a></li>
                                        </ul>
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                    
                    </div>
                </div>
            </div>
                                            }
                                            else if (Comunidad.ProyectType != CommunityModel.TypeProyect.CatalogoNoSocial && Comunidad.ProyectType != CommunityModel.TypeProyect.CatalogoNoSocialConUnTipoDeRecurso)
                                            {
            <form method="post" id="formLogin" action="@Html.GetUrlActionLogin()">
                <input type="text" name="usuario" title="@Html.GetText("INICIO", "USUARIO")" id="usuario" style="display: none;" />
                <input type="text" name="password" title="@Html.GetText("INICIO", "CONTRASEÑA")" id="password" style="display: none;" /> 
                <input type="text" name="clausulasRegistro" title="clausulasRegistro" id="clausulasRegistro" style="display: none;" />

                <div id="formularioLoginHeader" class="formularioLoginHeader">
                    <div class="wrap">
                        <div class="errores" style="display: none" id="errorLogin"></div>
                        <fieldset class="mediumLabels">
                            <legend>Login </legend>
                            <p>
                                <label for="txtUsuario">@Html.GetText("LOGIN", "NOMBREUSUARIOOCORREO")</label>
                                <input type="text" id="txtUsuario" class="text medium" />
                            </p>
                            <p>
                                <label for="txtContraseña">@Html.GetText("LOGIN", "CONTRASEÑA")</label>
                                <input type="password" id="txtContraseña" class="text medium" />
                            </p>

                            @if (IdentidadActual.IsGuestUser && !string.IsNullOrEmpty(UtilUsuario.TokenLoginUsuario) && IdentidadActual.NumberOfLoginAttemptsIP >= 2)
                            {
                                string srcCaptcha = Es.Riam.Gnoss.Util.General.Conexion.ObtenerUrlServicioLogin() + "/LoginCaptcha.aspx?token=" + HttpUtility.UrlEncode(Es.Riam.Web.Util.MachineKeyCryptography.Encriptar(UtilUsuario.TokenLoginUsuario));
                                <p id="panCaptcha">
                                    <label>
                                        @Html.GetText("LOGIN", "TEXTOCAPTCHA")
                                        <img id="imgCaptcha" src="@srcCaptcha"/>
                                    </label>
                                    <input name="captcha" type="captcha" id="captcha" class="text medium" onkeydown="if(event.which || event.keyCode){if ((event.which == 13) || (event.keyCode == 13)) {Entrar(); return false;}}" />
                                </p>
                            }
                        </fieldset>
                        <fieldset class="registroRedesSociales">
                            <legend></legend>
                            <p>
                                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMMON", "REGISTRARSE")</a>
                            </p>
                        </fieldset>
                        @if (cabecera.SocialNetworkRegister.Count > 0)
                        {
                            <fieldset class="registroRedesSociales">
                                <legend>@Html.GetText("COMMON", "OSILOPREFIERES")</legend>
                                <ul>
                                    @foreach (string nombre in cabecera.SocialNetworkRegister.Keys)
                                    {
                                        string classLi = "icon" + nombre;
                                        <li class="@classLi">@Html.GetText("LOGIN", "CONECTATECON") <a href="@cabecera.SocialNetworkRegister[nombre]">@nombre</a>
                                        </li>
                                    }
                                </ul>
                            </fieldset>
                        }
                        <fieldset>
                            <p>
                                <input type="button" value="@Html.GetText("COMMON", "INICIARSESION")" class="submit principal" id="btnEntrar" name="btnEntrar" />
                                &nbsp;<a class="login" href="@Comunidad.Url/@Html.GetText("URLSEM", "OLVIDEPASSWORD")">@Html.GetText("INICIO", "OLVIDOPASSWORD")</a>
                            </p>
                        </fieldset>
                        <div class="tools">
                            <p><a class="hidePanel" href="#formularioLoginHeader">cerrar </a></p>
                        </div>
                    </div>
                </div>
            </form>
                                            }

        @if (IdentidadActual.IsGuestUser)
        {
            <div id="identidad">
                <div class="wrapper">
                    <ul id="opciones">
                        <li><a href="#formularioLoginHeader" class="hideShowPanel">@Html.GetText("COMMON", "INICIARSESION")</a></li>
                        @if (Comunidad.ProyectType != CommunityModel.TypeProyect.CatalogoNoSocial)
                        {
                            if (Comunidad.AccessType == CommunityModel.TypeAccessProject.Restricted)
                            {
                                <li><a href="@Comunidad.Url/@Html.GetText("URLSEM", "SOLICITARACCESO")">@Html.GetText("COMINICIOLOGIN", "SOLICITARACCESO")</a></li>
                            }
                            else if (Comunidad.AccessType == CommunityModel.TypeAccessProject.Public)
                            {
                                <li><a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMINICIOLOGIN", "HACERSEMIEMBRO")</a></li>                         
                            }
                        }
                    </ul>
                    <ul id="gnoss">
                        @foreach (KeyValuePair<string, string> idioma in cabecera.Languajes)
                        {
                            string urlIdioma = "";
                            if (cabecera.MultiLingualLinks != null && cabecera.MultiLingualLinks.ContainsKey(idioma.Key))
                            {
                                urlIdioma = cabecera.MultiLingualLinks[idioma.Key].Value;
                            }

                            if (Html.GetUtilIdiomas().LanguageCode == idioma.Key)
                            {
                            <li>
                                <a class="activo" lang="@idioma.Key" href="@urlIdioma" title="@idioma.Value"><span>@idioma.Key</span></a>
                            </li>
                            }
                            else
                            {
                            <li>
                                <a lang="@idioma.Key" href="@urlIdioma" title="@idioma.Value"><span>@idioma.Key</span></a>
                            </li>
                            }
                        }                     

                        @if (Comunidad.GNOSSCommunity && !Html.GetEsEcosistemaSinMetaProyecto())
                        {
                        <li class="logo">
                            <a rel="listado-gnoss" class="enlaceDesplegable" href="@perfil.Url@Html.GetText("URLSEM", "HOME")">@Html.GetText("COMMON", "EXPLORA")</a>
                            <div class="desplegable listado-gnoss">
                                <ul class="listado">
                                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "HOME")">@Html.GetText("COMMON", "HOME")</a></li>
                                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "INDICE")">@Html.GetText("COMMON", "INDICE")</a></li>
                                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "COMUNIDADES")">@Html.GetText("COMMON", "COMUNIDADES")</a></li>
                                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "BLOGS")">@Html.GetText("COMMON", "BLOGS")</a></li>
                                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")">@Html.GetText("COMMON", "PERSONASYORGANIZACIONES")</a></li>
                                </ul>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>   
        }

        <div id="header">
            <div class="wrapper">
                <p class="indentado"><a>Ir al contenido principal</a></p>
                <div id="corporativo">
                    <div class="content" style="display: block; margin-top: 10px;">
                        @if (Comunidad.Key == new Guid("11111111-1111-1111-1111-111111111111"))
                        {
                        <div class="logo">
                            <div>
                                <h1>
                                    <a href="@Html.GetBaseUrlIdioma()/home"><img alt="Gnoss" title="Gnoss" src="@Html.GetBaseUrlStatic()/img/logo_gnoss.png" /></a>                 
                                </h1>
	                        </div>
                        </div>
                        }
                        else
                        {
                            <!-- Panel Logo -->
                            <div class="logoCustomRIAM">
                                <@(!Html.GetPintarH1().HasValue || Html.GetPintarH1().Value ? "h1" : "div")>
                                    <a href="@Comunidad.Url">
                                        @if (!string.IsNullOrEmpty(Comunidad.Logo))
                                        {
                                            <img src="@Comunidad.Logo" title="@Comunidad.Name" alt="@Comunidad.Name" />
                                        }
                                        else
                                        {
                                            @Comunidad.Name
                                        }
                                    </a>
                                <@(!Html.GetPintarH1().HasValue || Html.GetPintarH1().Value ? "/h1" : "/div")>

                                @if (!Comunidad.IsCatalog)
                                {
                                <p class="small">
                                    <span>
                                        @switch ((CommunityModel.TypeAccessProject)Comunidad.AccessType)
                                        {
                                            case CommunityModel.TypeAccessProject.Private:
                                            @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADPRIVADA"))
                                                break;
                                            case CommunityModel.TypeAccessProject.Public:
                                            @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADPUBLICA"))
                                                break;
                                            case CommunityModel.TypeAccessProject.Reserved:
                                            @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADRESERVADA"))
                                                break;
                                            case CommunityModel.TypeAccessProject.Restricted:
                                            @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADRESTRINGIDA"))
                                                break;
                                        }

                                        @if (Comunidad.CertificationLevels != null && Comunidad.CertificationLevels.Count > 0)
                                        {
                                            @Html.GetText("COMMON", "CON") <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ACERCADE")">@Html.GetText("COMUNIDADES", "CONTENIDOSCERTIFICADOS")</a>
                                        }
                                    </span>
                                    @if (Comunidad.ProjectState != CommunityModel.StateProject.Open)
                                    {
                                        string estado = "";

                                        if (Comunidad.ProjectState == CommunityModel.StateProject.Close)
                                        {
                                            estado = Html.GetText("COMADMIN", "CERRADO");
                                        }
                                        else if (Comunidad.ProjectState == CommunityModel.StateProject.CloseTemporaly)
                                        {
                                            estado = Html.GetText("COMADMIN", "CERRADOTMP");
                                        }
                                        else if (Comunidad.ProjectState == CommunityModel.StateProject.Closing)
                                        {
                                            estado = Html.GetText("COMADMIN", "CERRANDOSE");
                                        }
                                        else if (Comunidad.ProjectState == CommunityModel.StateProject.Definition)
                                        {
                                            estado = Html.GetText("COMADMIN", "DEFINICION");
                                        }

                                        <span style="display:block;">@Html.GetText("COMADMINCATEGORIAS", "COMUNIDAD") @Html.GetText("COMUNIDADES", "ENESTADO") @estado</span>

                                        if (Comunidad.ProjectState == CommunityModel.StateProject.CloseTemporaly)
                                        {
                                            <span style="display:block;">@Html.GetText("COMADMIN", "FECHAREAPERTURA") @Comunidad.OpenDate.ToShortDateString()</span>
                                        }
                                        else if (Comunidad.ProjectState == CommunityModel.StateProject.Closing)
                                        {
                                            <span style="display:block;">@Html.GetText("COMADMIN", "DIASPARAELCIERRE") @Math.Truncate((Comunidad.PeriodoDeGracia - DateTime.Now).TotalDays + 1)</span>
                                        }
                                    }
                                </p>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div id="buscador">
                    <form method="post" id="formBuscador" action="@Request.Url.AbsoluteUri">
                        <fieldset style="display: block">
                        <legend class="nota">buscador</legend>
                        <div class="fieldsetGroup">
                            <label for="ddlCategorias">@Html.GetText("METABUSCADOR", "ENCUENTRAEN")</label>
                            <select class="ddlCategorias" id="ddlCategorias">
                            @foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
                            {
                                if (combo.Selected)
                                {
                            <option value="@combo.ID" selected="selected">@combo.Name</option>
                                }
                                else
                                {
                            <option value="@combo.ID">@combo.Name</option>
                                }
                            }
                            </select>
                            @foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
                            {
                                <input type="hidden" value="ub_@combo.ID@Html.Raw("@")@combo.Url" class="inpt_tipo_busqueda" />
                            }
                            @foreach (HeaderModel.SearchHeaderModel.SearchSelectComboModel combo in cabecera.Searcher.ListSelectCombo)
                            {
                                if (!string.IsNullOrEmpty(combo.Autocomplete))
                                {
                                    <input type="hidden" value="oa_@combo.ID@Html.Raw("@")@combo.Autocomplete" class="inpt_OrigenAutocompletar" />
                                }
                                if (!string.IsNullOrEmpty(combo.FacetAutocomplete))
                                {
                                    <input type="hidden" value="fa_@combo.ID@Html.Raw("@")@combo.FacetAutocomplete" class="inpt_FacetasAutocompletar" />
                                }
                            }
                        </div>
                        <!-- #buscador //-->
                        <div class="fieldsetGroup searchGroup">
                            <label for="criterio" class="nota">Buscar en &nbsp;</label>
                            <input type="text" id="txtBusquedaPrincipal" class="text txtBusqueda autocompletar" />
                            <input type="button" title="@Html.GetText("METABUSCADOR", "ENCONTRAR")" class="encontrar" id="btnBuscarPrincipal" />
                        </div>

                        <!-- #buscador //-->
                        <div class="botonBuscar"></div>
                        <input type="submit" style="display: none;" id="enviarFormBuscador" value="enviar" title="enviar" />
                        </fieldset>
                    </form>
                </div>

                @if (ViewBag.PermisosPaginas != null)
                {
                    @Html.PartialView("_MenuAdministracion")
                }
                else if (Comunidad.Key != ProyectoAD.MetaProyecto && (!Html.GetOcultarMenusComunidad().HasValue || !Html.GetOcultarMenusComunidad().Value))
                {
                <div id="nav">
                    <ul class="principal">
                        @helper PintarPestanya(CommunityModel.TabModel pPestanya, bool pPintarEnlaces)
                        {
                            if (pPestanya.Visible)
                            {
                                string clasePest = "nivel01";
                                if (pPestanya.Active)
                                {
                                    clasePest += " activo";
                                }
                                if(pPestanya.Name == "Home")
                                {
                                    clasePest += " navHomeCom";
                                }
                            
                                <li class="@clasePest @pPestanya.">
                                    <a @Html.Raw(pPintarEnlaces?"href=\"" + pPestanya.Url + "\"":" disabled=\"disabled\"") @Html.Raw(pPestanya.OpenInNewWindow ? "target=\"_blank\"" : "")>@pPestanya.Name</a>
                                    @if (pPestanya.SubTab != null && pPestanya.SubTab.Count > 0)
                                    {
                                        <ul>
                                            @foreach (CommunityModel.TabModel pPestanyaInt in pPestanya.SubTab)
                                            {
                                                @PintarPestanya(pPestanyaInt, pPintarEnlaces);
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        }
                        @{
                            bool pintarEnlaces = true;
                            if (IdentidadActual.IsGuestIdentity && (Comunidad.ProjectState == CommunityModel.StateProject.Definition || Comunidad.ProjectState == CommunityModel.StateProject.Close || Comunidad.ProjectState == CommunityModel.StateProject.CloseTemporaly))
                            {
                                pintarEnlaces = false;
                            }

                            foreach (CommunityModel.TabModel pPestanya in Comunidad.Tabs)
                            {
                                @PintarPestanya(pPestanya, pintarEnlaces);
                            }
                        }
                    </ul>
                </div>
                            }

                @if ((!string.IsNullOrEmpty(Comunidad.TwitterLink) || !string.IsNullOrEmpty(Html.GetURLRSS()) || !string.IsNullOrEmpty(Html.GetURLRDF())) && (!Html.GetOcultarMenusComunidad().HasValue || !Html.GetOcultarMenusComunidad().Value))
                {

                <div id="formats" class="formats">
                    <span class="nota">formatos disponibles</span>
                    <ul title="formatos disponibles">
                        @if (!string.IsNullOrEmpty(Comunidad.TwitterLink))
                        {
                            <li class="twitter">
                                <a target="_blank" href="@Comunidad.TwitterLink" title="seguir en Twitter">seguir en Twitter</a>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Html.GetURLRSS()))
                        {
                            <li class="rss">
                                <a href="@Html.GetURLRSS()" title="descargar rss">
                                    <acronym title="Really Simple Syndication">rss</acronym>
                                </a>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Html.GetURLRDF()))
                        {
                            <li class="rdf">
                                <a id="descargarRDF" href="@Html.GetURLRDF()" title="descargar rdf">
                                    <acronym title="Resource Description Framework">rdf</acronym>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                }
            </div>
        </div>
    </div>
}