@using Es.Riam.Gnoss.Web.MVC.Models;
@{

    UserProfileModel perfil = Html.GetPerfil();

    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    string nombreTipoPerfil = "";

    string urlFoto = "../theme/resources/persona-default.png";
    if (string.IsNullOrEmpty(perfil.Foto))
    {
        if (perfil.TypeProfile == ProfileType.ProfessionalCorporate)
        {
            urlFoto = "/" + Es.Riam.Util.UtilArchivos.ContentImagenes + "/" + Es.Riam.Util.UtilArchivos.ContentImagenesOrganizaciones + "/" + "anonimo_peque.png";
        }
        else
        {
            urlFoto = "/" + Es.Riam.Util.UtilArchivos.ContentImagenes + "/" + Es.Riam.Util.UtilArchivos.ContentImagenesPersonas + "/" + "anonimo_peque.png";
        }
    }
    else
    {
        urlFoto = @Html.GetBaseUrlContent() + perfil.Foto;
    }
}

    
    
<aside id="menuLateralUsuario" class="menuLateral pmd-sidebar sidebar-default pmd-sidebar-right pmd-sidebar-right-fixed" role="navigation">

    <div class="header">
        <div class="wrap-header">
            <div class="img-usuario">
                <span style="background: url() no-repeat center"></span>
            </div>
            <div class="info-usuario">
                <p class="nombre">Usuario Usuario</p>
                <p>Equipo GNOSS</p>
            </div>
        </div>
        <span class="material-icons cerrar">close</span>
    </div>

    <div class="body">
        <p>Avisos</p>
        <ul class="pmd-sidebar-nav ulAvisos">
            <li class="liMensajes nuevos">
                <a href="javascript: void(0);">Mensajes</a> <span>2 nuevos</span>
            </li>
            <li class="liNotificaciones nuevos">
                <a href="javascript: void(0);">Notificaciones</a> <span>6 nuevos</span>
            </li>
        </ul>
        <p>Ver</p>
        <ul class="pmd-sidebar-nav">
            <li class="liPerfil">
                <a href="@perfil.Url@Html.GetText("URLSEM", "EDITARPERFIL")">@Html.GetText("MENU", "EDITARPERFIL")</a>
            </li>
            <li class="liEspacio">
                <a href="@perfil.UrlViewProfile">@Html.GetText("MENU", "VERPERFIL")</a>
            </li>
            <li class="liContribuciones">
                <a href="javascript: void(0);">Mis contribuciones</a>
            </li>
            <li class="liBorradores">
                <a href="javascript: void(0);">Mis borradores</a>
            </li>
            <li class="liContrasena">
                <a href="javascript: void(0);">Contraseña</a>
            </li>
            <li class="liCerrarSesion">
                <a href="@Html.GetUrlLogout()">@Html.GetText("MENU", "SALIR")</a>
            </li>
        </ul>
        <p>Identidades</p>
        <ul class="pmd-sidebar-nav ulIdentidades">
            <li>
                <a href="javascript: void(0);">Usuario - Equipo GNOSS</a>
            </li>
            <li>
                <a href="javascript: void(0);">Usuario - DKH</a>
            </li>
            <li>
                <a href="javascript: void(0);">Usuario - IneveryCrea</a>
            </li>
            <li>
                <a href="javascript: void(0);">Usuario - ADVEO</a>
            </li>
            <li class="ver-todas">
                <a href="javascript: void(0);" data-target="menuLateralIdentidades" data-placement="right" data-position="slidepush" class="pmd-sidebar-toggle">Ver todas</a>
            </li>
        </ul>
    </div>
</aside>
