@{
    CommunityModel Comunidad = Html.GetComunidad();

    PermisosPaginasAdministracionViewModel permisosPaginas = ViewBag.PermisosPaginas;

    if (permisosPaginas != null)
    {
        <div id="nav" class="administracion">
            <ul class="principal">
                <li id="hlAdminComBasica" class="nivel01 hasSubcategorias" style="display:none">
                    <a>Administración básica</a>
                    <ul>
                        @if (permisosPaginas.EsAdministradorProyecto)
                        {
                            <li class="nivel01"><a id="hlAdminComGeneral" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADGENERAL")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOMUNIDADGENERAL")</a></li>
                        }
                        @if (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Tesauro)))
                        {
                            <li class="nivel01"><a id="hlAdminComCategorias" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCATEGORIASCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCATEGORIASCOM")</a></li>
                            @*<li class="nivel01"><a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARFOTOSCATEGORIASCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARFOTOSCATEGORIASCOM")</a></li>*@
                        }
                        @if (permisosPaginas.EsAdministradorProyecto)
                        {
                            <li class="nivel01"><a id="hlAdminComUtilidades" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADUTILIDADES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOMUNIDADUTILIDADES")</a></li>
                            <li class="nivel01"><a id="hlAdminComFuentes" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADFUENTES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOMUNIDADFUENTES")</a></li>
                            <li class="nivel01"><a id="hlAdminComMiembros" href="@Comunidad.Url/@Html.GetText("URLSEM", "COMADMINCOMMIEMBROS")">@Html.GetText("COMADMINCOMUNIDAD", "COMADMINCOMMIEMBROS")</a></li>
                            <li class="nivel01"><a id="hlAdminComClausulas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCLAUSULASREGISTRO")">@Html.GetText("COMADMINCLAUSULASREGISTRO", "CLAUSULASREGISTRO")</a></li>
                        }
                        @if (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Pagina)))
                        {
                            <li class="nivel01"><a id="hlAdminComTextos" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCONTEXTOSCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCONTEXTOSCOM")</a></li>
                        }
                        @if (permisosPaginas.EsAdministradorProyecto)
                        {
                            <li class="nivel01"><a id="hlAdminComOpAvanzadas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINADVANCEDOPTIONS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINADVANCEDOPTIONS")</a></li>
                            <li class="nivel01"><a id="hlAdminComPermisos" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARPEPERMISOSPAGINAS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARPEPERMISOSPAGINAS")</a></li>
                            if (permisosPaginas.AdministracionEventosDisponible)
                            {
                                <li class="nivel01"><a id="hlAdminComEventos" href="@Comunidad.Url/@Html.GetText("URLSEM", "COMADMINCOMEVENTOS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINEVENTOS")</a></li>
                            }
                        }
                        @if (permisosPaginas.EsMetaAdministrador)
                        {
                            <li class="nivel01"><a id="hlAdminComOpMetaAdmin" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINMETAADMINOPTIONS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINMETAADMINOPTIONS")</a></li>
                        }
                    </ul>
                </li>
                @if (permisosPaginas.AdministracionSemanticaPermitido && (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Semantica))))
                {
                    <li id="hlAdminComSemantica" class="nivel01 hasSubcategorias" style="display:none">
                        <a>Administración semántica</a>
                        <ul>
                            <li class="nivel01"><a id="hlAdminComPlantillas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARPLANTILLASCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARPLANTILLASCOM")</a></li>
                            <li class="nivel01"><a id="hlAdminComTesauro" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINTESSEM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINTESSEM")</a></li>
                            <li class="nivel01"><a id="hlAdminComEntSecundarias" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINENTSECUND")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINENTSECUND")</a></li>
                            <li class="nivel01"><a id="hlAdminComGrafos" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINGRAFSIMPLE")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINGRAFSIMPLE")</a></li>
                            <li class="nivel01"><a id="hlAdminComFacetas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARFACETASCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARFACETASCOM")</a></li>
                            <li class="nivel01"><a id="hlAdminComOCs" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRAROBJETOSCONOCIMIENTOCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRAROBJETOSCONOCIMIENTOCOM")</a></li>

                        </ul>
                    </li>
                }
                @if (permisosPaginas.AdministracionPaginasPermitido)
                {
                    bool administrarPaginas = (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Pagina)));

                    if (administrarPaginas || permisosPaginas.CMSActivado)
                    {
                        <li id="hlAdminComPaginas" class="nivel01 hasSubcategorias" style="display:none">
                            <a>Administración páginas</a>
                            <ul>
                                @if (administrarPaginas)
                                {
                                    <li class="nivel01"><a id="hlAdminComPestanyas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARPESTANYASCOM")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARPESTANYASCOM")</a></li>
                                    <li class="nivel01"><a id="hlAdminComRedirecciones" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARREDIRECCIONES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARREDIRECCIONES")</a></li>
                                    <li class="nivel01"><a id="hlAdminComMapa" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARMAPA")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARMAPA")</a></li>
                                    <li class="nivel01"><a id="hlAdminComCharts" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARYCHARTS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCHARTS")</a></li>
                                }
                                @if (permisosPaginas.CMSActivado)
                                {
                                    @*<li class="nivel01"><a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOMUNIDADCMS")</a></li>*@
                                    <li class="nivel01"><a id="hlAdminComCMSListado" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMSLISTADOCOMPONENTES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOMUNIDADCMSLISTADOCOMPONENTES")</a></li>
                                    <li class="nivel01"><a id="hlAdminComCMSMultimedia" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMSMULTIMEDIA")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCOMUNIDADCMSMULTIMEDIA")</a></li>
                                }
                            </ul>
                        </li>
                    }
                }
                @if (permisosPaginas.AdministracionVistasPermitido && permisosPaginas.VistasActivadas)
                {
                    bool administrarVistas = (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Diseño)));
                    bool administrarTraducciones = (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Texto)));
                    if (administrarVistas || administrarTraducciones)
                    {
                        <li id="hlAdminComMenuVistas" class="nivel01 hasSubcategorias" style="display:none">
                            <a>Administración vistas</a>
                            <ul>
                                @if (administrarVistas)
                                {
                                    <li class="nivel01"><a id="hlAdminComVistas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARVISTAS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARVISTAS")</a></li>
                                }
                                @if (administrarTraducciones)
                                {
                                    <li class="nivel01"><a id="hlAdminComTraducciones" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARTRADUCCIONES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARTRADUCCIONES")</a></li>
                                }
                            </ul>
                        </li>
                    }
                }
                @if (permisosPaginas.AdministracionDesarrolladoresPermitido)
                {
                    bool administrarDiseño = (permisosPaginas.EsAdministradorProyecto || (permisosPaginas.PaginasPermisosUsuarios != null && permisosPaginas.PaginasPermisosUsuarios.Contains(TipoPaginaAdministracion.Diseño)));
                    if (administrarDiseño)
                    {
                        <li id="hlAdminComDesarrolladores" class="nivel01 hasSubcategorias" style="display:none">
                            <a>Administración desarrolladores</a>
                            <ul>
                                <li class="nivel01"><a id="hlAdminComAplicaciones" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARAPLICACIONES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARAPLICACIONES")</a></li>
                                <li class="nivel01"><a id="hlAdminComEstilos" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINESTILOS")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINESTILOS")</a></li>
                                <li class="nivel01"><a id="hlAdminComEstilosFTP" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINESTILOSFTP")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINESTILOSFTP")</a></li>
                                <li class="nivel01"><a id="hlAdminComConsultas" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCONSULTASPARQL")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARCONSULTASPARQL")</a></li>
                                @if (permisosPaginas.AdministracionVistasPermitido && permisosPaginas.VistasActivadas)
                                {
                                    <li class="nivel01"><a id="hlAdminComPasarProVistas" href="@Comunidad.Url/@Html.GetText("URLSEM", "PASARAPRODUCCIONVISTAS")">@Html.GetText("COMADMINCOMUNIDAD", "PASARAPRODUCCIONVISTAS")</a></li>
                                    <li class="nivel01"><a id="hlAdminComPasarPro" href="@Comunidad.Url/@Html.GetText("URLSEM", "PASARAPRODUCCION")">@Html.GetText("COMADMINCOMUNIDAD", "PASARAPRODUCCION")</a></li>
                                }
                                @if (permisosPaginas.AdministracionIntegracionContinua)
                                {
                                    if (permisosPaginas.AdministracionIntegracionContinuaIniciada)
                                    {
                                        <li class="nivel01"><a id="hlAdminListaCambios" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARLISTACAMBIO")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARLISTACAMBIO")</a></li>
                                        <li class="nivel01"><a id="hlAdminSubirCambiosRepositorio" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARDESPLIEGUES")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARDESPLIEGUES")</a></li>
                                        <li class="nivel01"><a id="hlAdminDespliegues" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRAINTEGRACIONCONTINUA")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRAINTEGRACIONCONTINUA")</a></li>

                                    }
                                    else
                                    {
                                        <li class="nivel01"><a id="hlAdminIniciar" href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARINTEGRACIONCONTINUA")">@Html.GetText("COMADMINCOMUNIDAD", "ADMINISTRARINTEGRACIONCONTINUA")</a></li>

                                    }
                                }
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </div>
            <script>
                $('#nav ul.principal li ul').parent().show();
            </script>
        }
    }
