@{
    CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;
}

@if (Comunidad.Key != ProyectoAD.MetaProyecto && !IdentidadActual.IsExpelled)
{ 

       @*if (IdentidadActual.IsGuestUser) 
        {
            
                <li class="botonRegistro">
                    @if (Comunidad.AccessType == CommunityModel.TypeAccessProject.Restricted)
                    { 
                        <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SOLICITARACCESO")">@Html.GetText("COMINICIOLOGIN", "SOLICITARACCESO")</a>
                    }
                    else
                    { 
                        <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMINICIOLOGIN", "REGISTRATEPARTICIPA")</a>
                    }
                </li>
            
        }
        else if (IdentidadActual.IsGuestIdentity)
        {
            if (Comunidad.AccessType == CommunityModel.TypeAccessProject.Restricted || Comunidad.AccessType == CommunityModel.TypeAccessProject.Public)
            {
                <div class="input-group-btn group-registro headerRegistro">
                    @if (Comunidad.AccessType == CommunityModel.TypeAccessProject.Restricted)
                    {
                        switch (IdentidadActual.CommunityRequestStatus)
                        {
                            case UserIdentityModel.CommunityRequestStatusEnum.NoRequest:
                                <ul class="options tools">
                                    <li class="botonRegistro">
                                        <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SOLICITARACCESO")">@Html.GetText("COMINICIOLOGIN", "SOLICITARACCESO")</a> 
                                    </li>
                                </ul>
                                break;
                            case UserIdentityModel.CommunityRequestStatusEnum.RequestPending:
                                <ul class="options">
                                    <li class="botonRegistro">
                                        <span>@Html.GetText("COMINICIOLOGIN", "SOLICITUDPENDIENTE")</span> 
                                    </li>
                                </ul>
                                break;
                            case UserIdentityModel.CommunityRequestStatusEnum.RequestedWithAnotherProfile:
                                <ul class="options">
                                    <li class="botonRegistro">
                                        <span>@Html.GetText("COMINICIOLOGIN", "SOLICITUDPENDIENTEOTROPERFIL")</span> 
                                    </li>
                                </ul>
                                break;
                            }
                    }
                    else if (Comunidad.AccessType == CommunityModel.TypeAccessProject.Public)
                    {  
                        <ul class="options tools">
                            <li class="botonRegistro">
	                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "HAZTEMIEMBRO")">@Html.GetText("COMINICIOLOGIN", "HAZTEMIEMBROPARTICIPA")</a> 
                            </li>
                        </ul>
                    }
                </div>
            }
        }*@
        if(!IdentidadActual.IsGuestIdentity && !IdentidadActual.IsGuestUser)
        {
            
                if (Comunidad.ProjectState != CommunityModel.StateProject.Closing && (Comunidad.ProjectState != CommunityModel.StateProject.Definition || IdentidadActual.IsProyectAdmin || IdentidadActual.IsProyectSupervisor))
                {
                    if (permisosComunidad.CreateWidget && !Comunidad.CompactedMenu)
                    {
                    <li class="crear dropdown">
                        <a href="@Comunidad.Url/@Html.GetText("URLSEM", "OBJETOGNOSSBUSCADOR")">@Html.GetText("QUEPUEDOHACER", "CREARWIDGET")</a>
                    </li>
                    }
                    if (permisosComunidad.CreateResource || permisosComunidad.CreateQuestion || permisosComunidad.CreatePoll || permisosComunidad.CreateDebate)
                    {
                    <li class="crear dropdown">
                        <a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">@Html.GetText("QUEPUEDOHACER", "CREARRECURSO")</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 45px, 0px); top: 0px; left: 0px; will-change: transform;">
                            @if (Comunidad.ProjectState != CommunityModel.StateProject.Closing && (Comunidad.ProjectState != CommunityModel.StateProject.Definition || IdentidadActual.IsProyectAdmin || IdentidadActual.IsProyectSupervisor))
                            {

                            if (permisosComunidad.CreateResource)
                            {
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SUBIRRECURSO")">@Html.GetText("QUEPUEDOHACER", "CREARRECURSO")</a>
                            }
                            if (permisosComunidad.CreateQuestion)
                            {
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SUBIRPREGUNTA")/@Guid.NewGuid()/15">@Html.GetText("QUEPUEDOHACER", "CREAPREGUNTA")</a>
                            }
                            if (permisosComunidad.CreateDebate)
                            {
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SUBIRENCUESTA")/@Guid.NewGuid()/16">@Html.GetText("QUEPUEDOHACER", "CREADEBATE")</a>
                            }
                            if (permisosComunidad.CreatePoll)
                            {
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SUBIRDEBATE")/@Guid.NewGuid()/18">@Html.GetText("QUEPUEDOHACER", "CREAENCUESTA")</a>
                            }


                            }
                        </div>
                    </li>
                    }
                    @*if (permisosComunidad.Invite && !Comunidad.CompactedMenu)
                    {
                        string hrefInvitarMiembros = Comunidad.Url + "/" + Html.GetText("URLSEM", "INVITARACOMUNIDAD");
                        string classInvitarMiembros = "";
                        if (permisosComunidad.MaxMembersExceeded)
                        {
                            hrefInvitarMiembros = "#maxinvitaciones";
                            classInvitarMiembros = "hideShowPanel";
                        }
                
                    <li class="invitar">
                        <a href="@hrefInvitarMiembros" class="@classInvitarMiembros" rel="manage create">@Html.GetText("QUEPUEDOHACER", "INVITAAMIGOS")</a>
                    </li>
                    }*@
                }
@*                @if(permisosComunidad.EditBio)
                {
                <li class="editarBio">
                    <a href="@Comunidad.Url/@Html.GetText("URLSEM", "EDITARBIOS")">@Html.GetText("QUEPUEDOHACER", "EDITABIOGRAFIA")</a>
                </li>
                }*@
                @*@if (Comunidad.ProjectState != CommunityModel.StateProject.Closing && (Comunidad.ProjectState != CommunityModel.StateProject.Definition || IdentidadActual.IsProyectAdmin || IdentidadActual.IsProyectSupervisor))
                {
                    if (permisosComunidad.Subscribe && !Comunidad.CompactedMenu)
                    {
                    <li class="suscribete">
                        <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARSUSCRIPCIONCOMUNIDAD")">@Html.GetText("QUEPUEDOHACER", "SUSCRIBETE")</a>
                    </li>
                    }
                }
                @if (Comunidad.GNOSSCommunity || IdentidadActual.IsProyectAdmin)
                {
                <li class="gestiona">
                    <a href="#manage" rel="create maxinvitaciones" class="hideShowPanel">@Html.GetText("QUEPUEDOHACER", "GESTIONA")</a>
                </li>
                }*@
            
          
               
                @*@if (permisosComunidad.MaxMembersExceeded)
                {
                <div id="maxinvitaciones" class="box ko maxinvitaciones">
                    <p><strong>@Html.GetText("QUEPUEDOHACER", "MAXINVITACIONES")</strong></p>
                </div>
                }*@
                @*@if (Comunidad.GNOSSCommunity || IdentidadActual.IsProyectAdmin)
                {
                <div id="manage" class="box manage">
                    <strong>@Html.GetText("QUEPUEDOHACER", "GESTIONACOMUNIDAD")</strong>
                    <ul>
                        @if (permisosComunidad.Manage)
                        {
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADGENERAL")">@Html.GetText("QUEPUEDOHACER", "ADMINISTRARCOMUNIDAD")</a>
                        </li>
                        }*@
                        @*@if (permisosComunidad.ManageCMS)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARCOMUNIDADCMS")" >@Html.GetText("COMADMINCMS", "ADMINISTRARCMS")</a>
                        </li>
                        }*@
                        @*@if (permisosComunidad.CreateGroup)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "GRUPOS")/@Html.GetText("URLSEM", "CREARGRUPO")" >@Html.GetText("GRUPO", "CREARGRUPO")</a>
                        </li>
                        }
                        @if (permisosComunidad.ManageRequestAccess)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARSOLICITUACCESOPROYECTO")" >@MvcHtmlString.Create(Html.GetText("QUEPUEDOHACER", "SOLICITUDESACCESO", Comunidad.SolicitudesPendientes.ToString()))</a>
                        </li>
                        }
                        @if (permisosComunidad.ManageRequestGroup)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "GRUPOS")/@Html.GetText("URLSEM", "ADMINISTRARSOLICITUDES")" >@MvcHtmlString.Create(Html.GetText("QUEPUEDOHACER", "SOLICITUDESPERTENECERGRUPO", Comunidad.SolicitudesGrupoPendientes.ToString()))</a>
                        </li>
                        }
                        @if (!Comunidad.CompactedMenu)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "RECIBIRNEWSLETTER")">@Html.GetText("QUEPUEDOHACER", "NEWSLETTER")</a>
                        </li>
                        }
                        @if (permisosComunidad.SendNewsletter)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "SUBIRRECURSO2")/@Guid.NewGuid()/11" >@Html.GetText("QUEPUEDOHACER", "ENVIARNEWSLETTER")</a>
                        </li>
                        } 
                        @if (permisosComunidad.ManageRSSFeeds)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "REVISARRECURSOSEXTERNOS")" >@MvcHtmlString.Create(Html.GetText("QUEPUEDOHACER", "FUENTESRSS", Comunidad.RecursosRSSPendientes.ToString()))</a>
                        </li>
                        }
                        @if (permisosComunidad.LeaveCommunity)
                        { 
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ABANDONARCOMUNIDAD")" >@Html.GetText("QUEPUEDOHACER", "ABANDONARLACOMUNIDAD")</a>
                        </li>
                        }
                    </ul>
                </div>
                }*@
                <!-- .box //-->
          
        }
            <!-- .col-4 //-->
    
}