@{
    UserProfileModel Perfil = Html.GetPerfil();
    CommunityModel Comunidad = Html.GetComunidad();
}

<div id="footer" style="display:none">
    @if (Comunidad != null)
    {
        if (string.IsNullOrEmpty(Comunidad.Copyright) && !Comunidad.IsCatalog)
        {
        <div class="cols-5">
            <div class="col-1">
                <div class="box">
                    <p class="footer-title">
                        @Html.GetText("FOOTERNUEVO", "ACERCADE")
                    </p>
                    <ul>
                        <li>
                            <a href="@Html.GetText("FOOTERNUEVO", "ENLACEQUEESGNOSS")">@Html.GetText("FOOTERNUEVO", "QUEESGNOSS")</a>
                        </li>
                        <li>
                            <a href="http://products.gnoss.com/comunidad/gnossproducts/recurso/Why-GNOSS/47603dc7-1c8f-4992-ac07-d53953788347">@Html.GetText("FOOTERNUEVO", "VENTAJASGNOSS")</a>
                        </li>
                        <li>
                            <a href="http://products.gnoss.com/comunidad/gnossproducts/solutions">@Html.GetText("FOOTERNUEVO", "SOLUCIONES")</a>
                        </li>
                        <li>
                            <a href="http://products.gnoss.com/comunidad/gnossproducts/recurso/Servicios-de-consultoria-y-soporte/eafb8972-7591-481e-82b1-a5d183515846">@Html.GetText("FOOTERNUEVO", "SERVICIOS")</a>
                        </li>
                        <li>
                            <a href="http://products.gnoss.com/comunidad/gnossproducts/busqueda-avanzada#skos:ConceptID=gnoss:4AC05978-54EC-417B-B397-37128C3A3A59">@Html.GetText("FOOTERNUEVO", "CASOSDEUSO")</a>
                        </li>
                        <li>
                            <a href="http://didactalia.net/comunidad/materialeducativo/didactalia/sobre-didactalia">@Html.GetText("FOOTERNUEVO", "DIDACTALIA")</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <div class="box">
                    <p class="footer-title">
                        @Html.GetText("FOOTERNUEVO", "COMOUSARGNOSS")
                    </p>
                    <ul>
                        <li>
                            <a href="http://101.gnoss.com">@Html.GetText("FOOTERNUEVO", "GNOSS101")</a>
                        </li>
                        <li>
                            <a href="http://red.gnoss.com/comunidad/ayudayfaqs">@Html.GetText("FOOTERNUEVO", "AYUDAYFAQS")</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <div class="box">
                    <p class="footer-title">
                        @Html.GetText("FOOTERNUEVO", "NEWSROOM")
                    </p>
                    <ul>
                        <li>
                            <a href="http://noticias.gnoss.com">@Html.GetText("FOOTERNUEVO", "NOTICIAS")</a>
                        </li>
                        <li>
                            <a href="http://www.gnoss.com/blog/gnosslife">@Html.GetText("FOOTERNUEVO", "BLOGGNOSSLIFE")</a>
                        </li>
                        <li>
                            <a href="http://www.gnoss.com/comunidad/watermelon/recursos">@Html.GetText("FOOTERNUEVO", "BLOGWATERMELON")</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <div class="box">
                    <p class="footer-title">
                        @Html.GetText("FOOTERNUEVO", "HERRAMIENTAS")
                    </p>
                    <ul>
                        <li>
                            <a href="http://www.gnoss.com/herramientas-gnoss">@Html.GetText("FOOTERNUEVO", "AGNADIRGNOSS")</a>
                        </li>
                        <li>
                            <a href="http://www.gnoss.com/widgets-gnoss">@Html.GetText("FOOTERNUEVO", "WIDGETS")</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1 last">
                <div class="box">
                    <p>
                        @{
                            string textoImagen = Html.GetText("COMMON", "COMINTEGRADA");
                            if (Comunidad.IsGnossOrganiza)
                            {
                                textoImagen = Html.GetText("COMMON", "POWEREDBY");
                            }
                        }
                        @textoImagen
                        <a href="@Html.GetText("COMMON", "INICIOENLACE")">
                            <img style="width: 180px;" alt="GNOSS" src="@Html.GetBaseUrlStatic()/img/logo_gnoss.png"></a>
                    </p>
                </div>
            </div>
        </div>
                            }


    <div class="cols-1">
        <div class="cols-1">
            <div class="box">
                <ul>
                    <li>
                        <strong>
                            @if (!string.IsNullOrEmpty(Comunidad.Copyright))
                            {
                                @Comunidad.Copyright @DateTime.Now.Year.ToString();
                            }
                            else
                            {
                                <text>© RIAM I+L Lab </text> @DateTime.Now.Year.ToString();
                            }
                        </strong>
                    </li>


                    @if (!Comunidad.IsCatalog)
                    {
                        <li>
                            @if (!Comunidad.Key.Equals(ProyectoAD.MetaProyecto))
                            {
                                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "PRIVACIDADENLACE")">@Html.GetText("FOOTER", "PRIVACIDAD")</a>
                            }
                            else
                            {
                                <a href="@Perfil.Url/@Html.GetText("URLSEM", "PRIVACIDADENLACE")">@Html.GetText("FOOTER", "PRIVACIDAD")</a>
                            }
                        </li>
                    }

                    <li>
                        @if (!Comunidad.Key.Equals(ProyectoAD.MetaProyecto))
                        {
                            if (Comunidad.ClausesRegister)
                            {
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "CONDICIONESUSO")">@Html.GetText("FOOTER", "CONDICIONESDEUSOCOM")</a>
                            }
                            else
                            {
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "CONDICIONESUSO")">@Html.GetText("FOOTER", "CONDICIONESDEUSO")</a>
                            }
                        }
                        else
                        {
                            if (string.IsNullOrEmpty(Comunidad.Copyright))
                            {
                                //Si no hay copyright
                            <a href="@Perfil.Url/@Html.GetText("URLSEM", "CONDICIONESUSO")">@Html.GetText("FOOTER", "CONDICIONESDEUSO")</a>
                            }
                            else
                            {
                            <a href="@Perfil.Url/@Html.GetText("URLSEM", "CONDICIONESUSO")">@Html.GetText("FOOTER", "CONDICIONESDEUSOCOM")</a>
                            }
                        }
                    </li>



                    @if (Comunidad.CookieNotice)
                    {
                        <li>
                            @if (!string.IsNullOrEmpty(Comunidad.ExternalUrlCookieNotice))
                            {
                                <a href="@Comunidad.ExternalUrlCookieNotice" target="_blank">@Html.GetText("FOOTER", "POLITICACOOKIES")</a>
                            }
                            else
                            {
                                <a href="@Comunidad.Url/@Html.GetText("URLSEM", "POLITICACOOKIES")">@Html.GetText("FOOTER", "POLITICACOOKIES")</a>
                            }
                        </li>
                    }


                    @if (Comunidad.IsCatalog && !Comunidad.Key.Equals(ProyectoAD.MetaProyecto))
                    {
                        <li>
                            <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ACERCADE")">@Html.GetText("COMMON", "ACERCADE")</a>
                        </li>
                    }


                    @if ((string.IsNullOrEmpty(Comunidad.Copyright) && !Comunidad.IsCatalog) || !string.IsNullOrEmpty(Comunidad.ContactLink))
                    {
                        <li>
                            @{
                                string enlaceContacto = Html.GetText("FOOTER", "CONTACTOENLACE");
                                if (!string.IsNullOrEmpty(Comunidad.ContactLink))
                                {
                                    enlaceContacto = Comunidad.ContactLink;
                                }
                            }
                            <a href="@enlaceContacto" class="fin">@Html.GetText("FOOTER", "CONTACTO")</a>
                        </li>
                                }

@*
                    @if ((string.IsNullOrEmpty(Comunidad.Copyright) && !Comunidad.TipoProyecto.Equals(ComunidadModel.TipoProyectoMVC.Catalogo)))
                    {
                        <li>
                            <strong>
                                @Html.GetText("FOOTER", "ATENCIONCLIENTE")
                            </strong>
                        </li>
                    }
                    *@

@*<li id="panPowered" visible="false">
                        <a href="http://www.gnoss.com" id="poweredbygnoss">powered by <strong>gnoss</strong></a>
                    </li>*@

                    @if (!string.IsNullOrEmpty(Comunidad.Copyright))
                    {
                        <li class="gnossIntegrate">
                            <p>
                                Powered by 
                            </p>
                            <p>
                                <a target="_blank" href="http://gnoss.com/home">
                                    <img alt="GNOSS" style="width: 66px" src="@Html.GetBaseUrlStatic()/img/logo_gnoss.png" />
                                </a>
                            </p>
                        </li>
                    }
                    else if (Comunidad.IsCatalog)
                    {
                        <li class="gnossIntegrate">
                            <p>@Html.GetText("COMMON", "CATINTEGRADO")</p>
                            <p>
                                <a href="http://gnoss.com/home">
                                    <img alt="GNOSS" style="width:66px" src="@Html.GetBaseUrlStatic()/img/logo_gnoss.png"/>
                                </a>
                            </p>
                        </li>
                    }
                </ul>

                @*
                    @if (TipoPagina.Presentacion)
                        {
                        <div class="gnossIntegrate">
                            <p>@Html.GetText("COMMON", "COMINTEGRADA")</p>
                            <p>
                                <a target="_blank" href="http://gnoss.com/home">
                                    <img alt="GNOSS" style="width:66px" src="@Html.GetBaseUrlStatic()/img/logo_gnoss.png" />
                                </a>
                            </p>
                        </div>
                        }
                    *@

            </div>
        </div>
    </div>
    }
</div>
