@model ProcesadoTareasViewModel
@{
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
    CommunityModel Comunidad = Html.GetComunidad();
}
<div class="contenido">
    <div id="myFrame">
        <!--<img src="@Html.GetBaseUrlStatic()/img/25.gif" id="myImage" />-->
    </div>
    <div id="fade">
        Su petición está siendo procesada, por favor espere unos segundos.
    </div>
</div>



<style>
    #myFrame {
        margin: 1em 0;
        position: center;
    }

    #myImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }

    #fade {
        margin-top: 10%;
        color: darkblue;
        text-align: center;
        font-size: x-large;
    }
</style>
<script>
    window.onload = function () {
        MostrarUpdateProgress();
        array = JSON.parse('@Html.Raw(Json.Encode(Model.Mensajes))');
        PaginaSiguiente = @Html.Raw(Json.Encode(Model.PaginaSiguiente))
        UrlPeticion = @Html.Raw(Json.Encode(Model.UrlPeticion))
        BodyPeticion = @Html.Raw(Json.Encode(Model.BodyPeticion)) 
        PeticionAjax()
    }
    function PeticionAjax() {
        var feedback = $.ajax({
            type: "POST",
            contentType: 'application/x-www-form-urlencoded',
            data: decodeURIComponent(BodyPeticion),
            url: UrlPeticion
        }).success(function (data) {
            MostrarUpdateProgress();
            $("div[class='error general']").remove();
            if (data == 0) {
                window.location.replace(PaginaSiguiente);
            }else {
                setTimeout(function () { PeticionAjax(); }, 10000);
            }
        }).fail(function (data) {
            MostrarUpdateProgress();
            mostrarErrorGuardado()
            setTimeout(function () { PeticionAjax(); }, 10000);
        })
    }
    function mostrarErrorGuardado()
    {
        if ($("div[class='error general']").length==0)
        {
            $('.contenido').append('<div class="error general">Ha habido errores en la peticion, lo volvemos a intentar...</div>');
            MostrarUpdateProgress();
        }
    }

</script>