@model EditProfileViewModel

@{
    string nameCampoProvincia = "";
    
    string provinciaPerfil = "";

    if (Model.ProfilePersonal != null && Model.ProfilePersonal.Region != null)
    {
        provinciaPerfil = Model.ProfilePersonal.Region;
        nameCampoProvincia = "ProfilePersonal.";
    }
    if (Model.ProfileOrganization != null && Model.ProfileOrganization.Region != null)
    {
        provinciaPerfil = Model.ProfileOrganization.Region;
        nameCampoProvincia = "ProfileOrganization.";
    }

    nameCampoProvincia += "Region";
}

<p>
    <label for="@nameCampoProvincia" class="datoObligatorio">Provincia</label>
    @if (Model.RegionList != null && Model.RegionList.Count > 0)
    {
    <select class="select medium dato" id="Provincia" name="@nameCampoProvincia">
        <option value="@Guid.Empty">Provincia</option>
        @foreach (Guid provinciaID in Model.RegionList.Keys)
        { 
            <option value="@provinciaID" @(provinciaID.ToString()==provinciaPerfil?"selected=selected":"" )>@Model.RegionList[provinciaID]</option>
        }
    </select>
    }
    else
    {
        <input class="text medium" id="Provincia" value="@provinciaPerfil" name="@nameCampoProvincia" />
    }
</p>