@using Es.Riam.Gnoss.AD.EntityModel.Models;
@model List<IntegracionContinuaPropiedad>


@if (Model != null)
{
    List<IntegracionContinuaPropiedad> PropiedadesPaginas = Model.Where(p => p.TipoObjeto.Equals((short)TipoObjeto.Pagina)).ToList();
    List<IntegracionContinuaPropiedad> PropiedadesFacetas = Model.Where(p => p.TipoObjeto.Equals((short)TipoObjeto.Faceta)).ToList();
    List<IntegracionContinuaPropiedad> PropiedadesGadgets = Model.Where(p => p.TipoObjeto.Equals((short)TipoObjeto.Gadget)).ToList();
    List<IntegracionContinuaPropiedad> PropiedadesCMS = Model.Where(p => p.TipoObjeto.Equals((short)TipoObjeto.Componente)).ToList();

    <div id="panParametros">
        <form autocomplete="off">
            <p>Hemos detectado que algunas de las configuraciones pueden variar dependiendo del entorno, para poder automatizar la integración continua te permitimos administrar los cambios de estas configuraciones.</p>
            <div class="box formSteps">
                <div class="progress">
                    <div class="circle active @(PropiedadesPaginas.Count == 0 ? "empty" : (PropiedadesPaginas.Count(prop => !prop.Revisada) == 0 ? "done" : ""))">
                        <a rel="0" href="#">
                            <span class="label">1</span>
                            <span class="title">Paginas</span>
                        </a>
                    </div>
                    <span class="bar"></span>
                    <div class="circle @(PropiedadesFacetas.Count == 0 ? "empty" : (PropiedadesFacetas.Count(prop => !prop.Revisada) == 0 ? "done" : ""))">
                        <a rel="1" href="#">
                            <span class="label">2</span>
                            <span class="title">Facetas</span>
                        </a>
                    </div>
                    <span class="bar"></span>
                    <div class="circle @(PropiedadesGadgets.Count == 0 ? "empty" : (PropiedadesGadgets.Count(prop => !prop.Revisada) == 0 ? "done" : ""))">
                        <a rel="2" href="#">
                            <span class="label">3</span>
                            <span class="title">Gadgets</span>
                        </a>
                    </div>
                    <span class="bar"></span>
                    <div class="circle @(PropiedadesCMS.Count == 0 ? "empty" : (PropiedadesCMS.Count(prop => !prop.Revisada) == 0 ? "done" : ""))">
                        <a rel="3" href="#">
                            <span class="label">4</span>
                            <span class="title">Componentes CMS</span>
                        </a>
                    </div>
                    <span class="bar"></span>
                    <div class="circle">
                        <a rel="4" href="#">
                            <span class="label">5</span>
                            <span class="title">Finalizar configuración</span>
                        </a>
                    </div>
                </div>
            </div>
            <div rel="0" class="panPropiedades active">
                <a href="#" rel="1" class="formSteps siguiente">Gadgets >></a>
                <h2 style="margin-top:10px">Parametros de paginas</h2>
                @if (PropiedadesPaginas.Count > 0)
                {
                    <div style="margin-top:20px">
                        <h3>· Pendientes de validacion</h3>
                        <div class="pendientesValidacion @(PropiedadesPaginas.Count(prop => !prop.Revisada) == 0 ? "done" : "")" style="margin-bottom:20px">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesPaginas.Where(prop => prop.Revisada == false).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                            <input type="button" class="validarTodo" value="Validar todos" />
                        </div>
                        <h3>· Validados</h3>
                        <div class="propiedadesValidadas">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesPaginas.Where(prop => prop.Revisada == true).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                        </div>
                    </div>
                }
                else
                {
                    <div style="margin-top:20px">No hay parametros de páginas para configurar.</div>
                }
            </div>
            <div rel="1" class="panPropiedades">
                <a href="#" rel="0" class="formSteps anterior"><< Páginas</a>
                <a href="#" rel="2" class="formSteps siguiente">Gadgets >></a>
                <h2 style="margin-top:10px">Parametros de facetas</h2>
                @if (PropiedadesFacetas.Count > 0)
                {
                    <div style="margin-top:20px">
                        <h3>· Pendientes de validacion</h3>
                        <div class="pendientesValidacion @(PropiedadesFacetas.Count(prop => !prop.Revisada) == 0 ? "done" : "")" style="margin-bottom:20px">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesFacetas.Where(prop => prop.Revisada == false).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                            <input type="button" class="validarTodo" value="Validar todos" />
                        </div>
                        <h3>· Validados</h3>
                        <div class="propiedadesValidadas">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesFacetas.Where(prop => prop.Revisada == true).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                        </div>
                    </div>
                }
                else
                {
                    <div style="margin-top:20px">No hay parametros de gadgets para configurar.</div>
                }
            </div>
            <div rel="2" class="panPropiedades">
                <a href="#" rel="1" class="formSteps anterior"><< Facetas</a>
                <a href="#" rel="3" class="formSteps siguiente">Componentes CMS >></a>
                <h2 style="margin-top:10px">Parametros de gadgets</h2>
                @if (PropiedadesGadgets.Count > 0)
                {
                    <div style="margin-top:20px">
                        <h3>· Pendientes de validacion</h3>
                        <div class="pendientesValidacion @(PropiedadesGadgets.Count(prop => !prop.Revisada) == 0 ? "done" : "")" style="margin-bottom:20px">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesGadgets.Where(prop => prop.Revisada == false).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                            <input type="button" class="validarTodo" value="Validar todos" />
                        </div>
                        <h3>· Validados</h3>
                        <div class="propiedadesValidadas">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesGadgets.Where(prop => prop.Revisada == true).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                        </div>
                    </div>
                }
                else
                {
                    <div style="margin-top:20px">No hay parametros de gadgets para configurar.</div>
                }
            </div>
            <div rel="3" class="panPropiedades">
                <a href="#" rel="2" class="formSteps anterior"><< Gadgets</a>
                <a href="#" rel="4" class="formSteps siguiente">Finalizar configuración >></a>
                <h2 style="margin-top:10px">Parametros de componentes del CMS</h2>
                @if (PropiedadesCMS.Count > 0)
                {
                    <div style="margin-top:20px">
                        <h3>· Pendientes de validacion</h3>
                        <div class="pendientesValidacion @(PropiedadesCMS.Count(prop => !prop.Revisada) == 0 ? "done" : "")" style="margin-bottom:20px">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesCMS.Where(prop => prop.Revisada == false).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                            <input type="button" class="validarTodo" value="Validar todos" />
                        </div>
                        <h3>· Validados</h3>
                        <div class="propiedadesValidadas">
                            <ol class="table">
                                @foreach (var propiedad in PropiedadesCMS.Where(prop => prop.Revisada == true).OrderBy(prop => prop.ObjetoPropiedad))
                                {
                                    @Html.PartialView("_FichaPropiedad", propiedad)
                                }
                            </ol>
                        </div>
                    </div>
                }
                else
                {
                    <div style="margin-top:20px">No hay parametros de componentes del CMS para configurar.</div>
                }
            </div>
            <div rel="4" class="panPropiedades">
                <a href="#" rel="3" class="formSteps anterior"><< Componentes CMS</a>
                <h2 style="margin-top:10px">Finalizar configuración</h2>
                <div style="margin-top:20px">
                    <input type="button" class="guardarTodo" id="Finalizar" value="Guardar configuración" />
                </div>
            </div>
            <div style="display:none;z-index:2000;" class="confirmar" id="divPreguntaConfirmacionEventos">
                <div class="pregunta">
                    <span id="lblPregunta_ConfirmacionEliminar"></span>
                    <input type="button" onclick="" id="lbSi_ConfirmacionEliminar" value="Sí" />
                    <input type="button" onclick="$('#divPreguntaConfirmacionEventos').hide();$('#mascaraBlanca').hide();" value="No" />
                </div>
            </div>
        </form>
    </div>
}