@model List<ProyectosUsuViewModel>


<div class="proyectosParticipa" style="margin-right:70px">
    <div class="filtroRapido" style="margin-bottom:10px">
        Filtrar:
        <input type="text" class="inputFiltro">
        <span style="float:right; margin-right:20px">
            <input type="checkbox" class="mostrarProyParticipa" />
            Mostrar solo comunidades en las que participa
        </span>
    </div>
    <div class="cabeceraProyectos">
        <div style="width: 350px; float: left;">
            Nombre
        </div>
        <div align="center" style="width: 100px; float: left;">
            Personal
        </div>
        <div align="center" style="width: 100px; float: left;">
            Corporativo
        </div>
    </div>
    @foreach (ProyectosUsuViewModel proyParticipa in Model)
    {
        bool participa = proyParticipa.Participa;
        bool administra = proyParticipa.Administra;

        <div class="proyectos" id="proyParticipa_@proyParticipa.Key">
            <div style="width: 350px; float: left;">
                <input class="chkProyecto" type="checkbox" @Html.Raw(participa ? "checked=\"checked\"" : "") @Html.Raw(administra ? "disabled=\"disabled\"" : "") onclick="javascript: marcarElementosSelProy(this, '@proyParticipa.Key')" id="chkProyecto|aeff3c4d-4945-494f-b7a4-901674fcf99e">
                <span class="nombreProy">@proyParticipa.Nombre</span>
                @if(administra){<span style="float:right">(Administrador)</span>}
            </div>
            <div align="center" style="width: 100px; float: left; @(!participa ? "display:none" : "")">
                <input type="radio" value="1" name="tipo_@proyParticipa.Key" @Html.Raw(proyParticipa.TipoParticipacion == 1 ? "checked=\"checked\"" : "")>
            </div>
            <div align="center" style="width: 100px; float: left;  @(!participa ? "display:none" : "")">
                <input type="radio" value="2" name="tipo_@proyParticipa.Key" @Html.Raw(proyParticipa.TipoParticipacion == 2 ? "checked=\"checked\"" : "")>
            </div>
        </div>
    }
    <a class="botonAceptar" >Aceptar</a>
</div>