@model AdministrarRamasViewModel
@{
    //Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/ckeditor.js?v=" + Html.GetVersion());
    //Html.GetListaJS().Add(Html.GetBaseUrlStatic() + "/ckeditor/adapters/jquery.js?v=" + Html.GetVersion());
    Html.GetListaCSS().Add(Html.GetBaseUrlStatic() + "/cssNuevo/administracion.css?v=" + Html.GetVersion());
}
<div class="content">
    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <p>Ha ocurrido el siguiente error</p>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Error</strong> @Model.Error
        </div>
    }
    else
    {
        if (string.IsNullOrEmpty(Model.Nombre))
        {
            <h1>@Html.GetText("COMADMINDINTEGRACIONCONTINUA", "CREARRAMA")</h1>
            <div class="block">
                @Html.PartialView("_CrearRama", Model)
            </div>
        }
        else
        {
            <h1>@Html.GetText("COMADMINDINTEGRACIONCONTINUA", "SUBIRCAMBIOSRAMA")</h1>
            <div class="block">
                @Html.PartialView("_SubirCambiosRama", Model)
            </div>
        }

    }
</div>
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>

