@{ 
    CommunityModel Comunidad = Html.GetComunidad();
}
<form id="formulario" action="javascript:void(0)" method="post">
    
    @if (string.IsNullOrEmpty(Model.Develop))
    {
        <span> Elige cuantos <strong>entornos</strong> contiene el proyecto</span>

        <select id="entornos" onchange="entornosChange()">
            <option id="2" selected>2</option>
            <option id="3">3</option>
        </select>
    }
    else
    {
        <span>Al tener los entornos creado se pone por defecto los 3 entornos.</span>

        <select id="entornos">
            <option id="3"selected>3</option>
        </select>
    }

    <br />
    <br />
    <div>
            <div id="nomEntornos">
                <p>Para poder hacer el despliegue en todos los entornos, necesitamos conocer la URL del API de despliegues en cada entorno. </p>
                <p>Para obtener esa url, tienes que acceder a la url /@Html.GetText("URLSEM", "ADMINISTRARINTEGRACIONCONTINUA")/@Html.GetText("URLSEM", "URLAPIDESPLIEGUES") de cada entorno. </p>
                <p>Por ejemplo, en el entorno actual, la URL es: <a href="@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARINTEGRACIONCONTINUA")/@Html.GetText("URLSEM", "URLAPIDESPLIEGUES")">@Comunidad.Url/@Html.GetText("URLSEM", "ADMINISTRARINTEGRACIONCONTINUA")/@Html.GetText("URLSEM", "URLAPIDESPLIEGUES")</a></p>
                
                   @if (string.IsNullOrEmpty(Model.Develop))
                   {
                    <div id="Develop" style="display:none" >
                        <span>URL de <strong>Develop</strong></span><input type="text" id="TxtDevelop" value="@Model.Develop" />
                    </div>
                   }
                   else
                   {
                    <div id="Develop">
                        <span>URL de <strong>Develop</strong>: @Model.Develop</span><input type="hidden" id="TxtDevelop" value="@Model.Develop" />
                    </div>
                   }           
                   @if (string.IsNullOrEmpty(Model.Release))
                   {
                        <div id="Release">
                            <span>URL de <strong>Release</strong></span><input type="text" id="TxtRelease" value="@Model.Release" />
                        </div>
                   }
                   else
                   {
                        <div id="Release">
                            <span>URL de <strong>Release</strong>: @Model.Release</span><input type="hidden" id="TxtRelease" value="@Model.Release" />
                        </div>
                   }  
                   @if (string.IsNullOrEmpty(Model.Master))
                   {
                        <div id="Master">
                            <span>URL de <strong>Master</strong></span><input type="text" id="TxtMaster" value="@Model.Master" />
                        </div>
                    }
                   else
                   {
                        <div id="Master">
                            <span>URL de <strong>Master</strong>: @Model.Master</span><input type="hidden" id="TxtMaster" value="@Model.Master" />
                        </div>
                    }                           
            </div>
            <br />
        <span> Elige que <strong>repositorio</strong> vas a utilizar</span>
        <select id="repositorios" onchange="repositoriosChange()">
            <option id="bitbucket" selected>bitbucket</option>
            <option id="github">github</option>
            <option id="bitbucketserver">bitbucketserver</option>
            <option id="gitlab">gitlab</option>
        </select>
        <br />
        <br />
        <div id="bitbucketGit">
            <p>Tenemos que crearnos una cuenta en las distintas opciones que os presentamos: Bitbucket, Github y BitbucketServer</p>
            <p>Para elegir la ruta del repositorio tenemos que situarnos en la página principal y escoger la URL del proyecto terminado con.git</p> 
            <p>Es necesario que una vez creado el repositorio, se creen 3 ramas, Develop, Release y Master</p>            
            <div id="URLRepo">
                <span>URL del <strong>Repositorio</strong></span><input type="text" id="TxtURL" value="" />
            </div>
            <br />
            <p>Es necesario crear una autentificación OAuth para poder hacer la integración por lo que tenéis que crear una en los repositorios de: Bitbucket y Github, para ello es necesario ir a la configuración del repositorio y hacer una autorización para </p>
            <p>Tambien hay que configurar para que cuando se cree esta autentificación OAuth nos redirija a la página donde tenemos el api de integración continua. Por ejemplo: <strong>URLApiIntegracionContinua/integracionContinua/api/autorizacion/authorize</strong></p>
            
            <div id="oAuth">
                <span>Clave del <strong>Repositorio </strong></span><input type="text" id="TxtRepoClave" value=""/>
                <br />
                <span>Secret del <strong>Repositorio </strong></span><input type="text" id="TxtRepoSecret" value=""/>
            </div>
        </div>
        <span><strong>Es necesario ingresar la primera vez con el usuario que ha creado el repositorio.</strong></span>
        <br />
        <div id="bitbucketServer" style="display:none">
            <div id="Autenti">
                <span><strong>Usuario</strong> de Repositorio</span><input type="text" id="TxtUser" value="" />
                <br />
                <span><strong>Contraseñas</strong> de Repositorio</span><input type="text" id="TxtPass" value="" />
            </div>
        </div>
        <input type="button" class="guardarTodo" id="Crear" value="Crear" />
    </div>
</form>

<script>
    function entornosChange() {
        var selected = $("#entornos").val();
        if (selected == 3) {
            $('#Develop').show();
        } else {
            $('#TxtDevelop').val('');
            $('#Develop').hide();
        }
    }
    function repositoriosChange() {
        var selected = $("#repositorios").val();
        if (selected == "bitbucketserver") {
            $('#bitbucketServer').show();
        } else {
            $('#TxtUser').val('');
            $('#TxtPass').val('');
            $('#bitbucketServer').hide();
        }
    }

</script>
<script>
    var OperativaAcciones = {
        init: function () {
            this.config();
            this.engancharComportamiento();
        },
        config: function () {
            this.urlPagina = document.location.href;
            return;
        },
        mostrarErrorGuardado: function (data) {
            if (data)
            {
                $('#formulario').after('<div class="error general">'+data+'</div>');
            } else
            {
                $('#formulario').after('<div class="error general">Ha habido errores en el guardado</div>');
            }

        },
        guardar: function () {
            var that = this;
            MostrarUpdateProgress();
            GnossPeticionAjax(
            that.urlPagina + '/Guardar',
            that.Options,
            true
            ).fail(function (data) {
                that.mostrarErrorGuardado(data);
            }).always(function () {
                OcultarUpdateProgress();
            });
        },
        engancharComportamiento: function () {
            var that = this;
            $('#Crear').click(function () {
                that.guardarTodo();
            });
            return;
        },
        guardarTodo: function () {
            var that = this;
            $('.ok.general').remove();
            $('.error').remove();
            if (!that.comprobarErroresGuardado()) {
                that.Options = {};
                that.obtenerDatos();
                that.guardar();
            }
            else {
                that.mostrarErrorNombreRama();
            }
        },
        mostrarErrorNombreRama: function(){
            $('#formulario').after('<div class="error general">Introducir datos de todos los campos.</div>');
        },
        obtenerDatos: function () {
            var that = this;
            var selected = $('#entornos').val();
            var repositorios = $('#repositorios').val();
            that.Options['Master'] = $("#TxtMaster").val();
            that.Options['Release'] = $("#TxtRelease").val();
            that.Options['RepoClave'] = $("#TxtRepoClave").val();
            that.Options['RepoSecret'] = $("#TxtRepoSecret").val();
            that.Options['URLRepo'] = $("#TxtURL").val();
            that.Options['Repositorio'] = repositorios;
            if (selected == 3) {
                that.Options['Develop'] = $("#TxtDevelop").val();
            }
            if (repositorios == 'bitbucketserver') {
                that.Options['User'] = $("#TxtUser").val();
                that.Options['Pass'] = $("#TxtPass").val();
            }
        },
        comprobarErroresGuardado: function () {
            var selected = $("#entornos").val();
            var repositorios = $("#repositorios").val();
            if (repositorios == 'bitbucketserver') {
                if (selected == 3) {
                    if ($("#TxtDevelop").val() == '' || $("#TxtRelease").val() == '' || $("#TxtMaster").val() == '' || $("#TxtURL").val() == '' || $("#TxtRepoClave").val() == '' || $("#TxtRepoSecret").val() == '' || $("#TxtURL").val() == '' || $("#TxtUser").val() == '' || $("#TxtPass").val() == '') {
                        return true;
                    } else{
                        return false;
                    }
                } else{
                    if ($("#TxtRelease").val() == '' || $("#TxtMaster").val() == '' || $("#TxtURL").val() == '' || $("#TxtRepoClave").val() == '' || $("#TxtRepoSecret").val() == '' || $("#TxtURL").val() == '' || $("#TxtUser").val() == '' || $("#TxtPass").val() == '') {
                        return true;
                    } else{
                        return false;
                    }
                }
            } else {
                if (selected == 3) {
                    if ($("#TxtDevelop").val() == '' || $("#TxtRelease").val() == '' || $("#TxtMaster").val() == '' || $("#TxtURL").val() == '' || $("#TxtRepoClave").val() == '' || $("#TxtRepoSecret").val() == '' || $("#TxtURL").val() == '') {
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    if ($("#TxtRelease").val() == '' || $("#TxtMaster").val() == '' || $("#TxtURL").val() == '' || $("#TxtRepoClave").val() == '' || $("#TxtRepoSecret").val() == '' || $("#TxtURL").val() == '') {
                        return true;
                    } else {
                        return false;
                    }
                }
            }
        },
    }
    $(document).ready(function () {
        OperativaAcciones.init();
    });
</script>
<style>
    input[type=text] {
        width: 20%;
        margin-left: 10px;
    }
    input[type=button]{
        float:initial;
    }

</style>


