@using Es.Riam.Gnoss.AD.EntityModel.Models;
@model IntegracionContinuaPropiedad

@{
    IntegracionContinuaPropiedad propiedad = Model;

    string tipoPropiedad = ((TipoPropiedad)propiedad.TipoPropiedad).ToString().Replace(((TipoObjeto)propiedad.TipoObjeto).ToString(), "");
}

<li class="row @(propiedad.Revisada ? "parametroValidado" : "")" id="">
    <section class="header">
        <span style="font-weight:bold">@propiedad.ObjetoPropiedad</span> (@tipoPropiedad)<span class="validado"> - Validado</span>
        <span class="action editar">Editar</span>
    </section>
    <section class="panEdicion">
        <div>
            <input type="hidden" name="Validado" value="@propiedad.Revisada.ToString()">
            <input type="hidden" name="NombreCorto" value="@(propiedad.ObjetoPropiedad)">
            <input type="hidden" name="TipoPropiedad" value="@((short)propiedad.TipoPropiedad)">
            <input type="hidden" name="TipoObjeto" value="@((short)propiedad.TipoObjeto)">
            <p>
                <span class="tipo" title="Mantener valor">Mantener valor</span>
                <input type="checkbox" name="MantenerValor" @(propiedad.MismoValor ? "checked" : "") />
            </p>
            <p>
                <span class="tipo">Valor origen<span class="conToolTip" title="Valor origen">?</span></span>
                <textarea name="ValorPropiedad" disabled >@propiedad.ValorPropiedad</textarea>
            </p>
            <p>
                <span class="tipo">Valor destino<span class="conToolTip" title="Valor destino">?</span></span>
                <textarea name="ValorPropiedadDestino" @(propiedad.MismoValor ? "disabled" : "")>@propiedad.ValorPropiedadDestino</textarea>
            </p>
            <p class="panValidar">
                <input type="button" class="btnValidar" value="Validar" />
            </p>
            <div class="error general" style="display:none;width: 755px;">El valor de destino no puede estar vacio</div>
        </div>
    </section>
</li>