@model HomeConectedViewModel
@{
    UserProfileModel perfil = Html.GetPerfil();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
    Html.SetBodyClass(" layout01 myGnoss homeMyGnoss "); 
}
<div id="col01">
    <div class="mgHerramientas">
        <h2>Herramientas</h2>
        @Html.PartialView("../Shared/ControlesMVC/_Novedades", "Home")
        <div class="group mgPerfil">
            <div class="head-group">
                <h4>Perfil y c.v.</h4>
            </div>
            <div class="body-group">
                <ul class="listado">
                    <li>
                        <a href="@perfil.Url@Html.GetText("URLSEM", "EDITARPERFIL")">@Html.GetText("MENU", "EDITARPERFIL")</a>
                    </li>
                    <li>
                        <a href="@perfil.Url@Html.GetText("URLSEM", "MIPERFIL")">@Html.GetText("MENU", "VERPERFIL")</a>
                    </li>

                    @*<li>
                        <a href="@perfil.Url.Replace("https://", "http://")@Html.GetText("URLSEM", "EDITARBIOSINTRO")">@Html.GetText("MENU", "EDITORBIOSCVS")</a>
                    </li>*@
                </ul>
            </div>
        </div>

        <div class="group mgComunidades">
            <div class="head-group">
                <h4>@Html.GetText("COMMON", "COMUNIDADES")</h4>
            </div>
            <div class="body-group">
                <div class="listado-comunidades">
                    <ul class="listado">
                    @{
                        int contadorComunidadesPerfil = 0;
                        foreach (UserProfileModel.ProfileCommunitiesModel comunidadPerfil in (perfil.Communities).OrderByDescending(comunidadPerfil => comunidadPerfil.NumberOfConnections))
                        {
                            if (contadorComunidadesPerfil == 10) { break; }
                            string clase = "abierta";
                            if (comunidadPerfil.Type == 1 || comunidadPerfil.Type == 3) { clase = "cerrada"; }
                            <li class="@clase"><a href="@comunidadPerfil.Url" title="@comunidadPerfil.Name"><span class="icono"></span>@comunidadPerfil.Name</a></li>
                            contadorComunidadesPerfil++;
                        }
                    }
                    </ul>
                    <ul style="display: none" class="listado listadoAmpliado">
                        @foreach (UserProfileModel.ProfileCommunitiesModel comunidadPerfil in (perfil.Communities).OrderBy(comunidadPerfil => comunidadPerfil.Name))
                        {
                            string clase = "abierta";
                            if (comunidadPerfil.Type == 1 || comunidadPerfil.Type == 3) { clase = "cerrada"; }
                            <li class="@clase"><a href="@comunidadPerfil.Url" title="@comunidadPerfil.Name"><span class="icono"></span>@comunidadPerfil.Name</a></li>
                        }
                    </ul>
                    <p class="mostrarListadoAmpliado"><a rel="Contraer -">Ampliar +</a></p>
                    <p style="display: none;" class="mostrarListadoTodos"><a href="@perfil.Url@Html.GetText("URLSEM", "MISCOMUNIDADES")">@Html.GetText("INICIO", "VERTODOS")</a></p>
                </div>

                <div class="group acciones">
                    <ul>
                        <li>
                            <a href="@perfil.Url@Html.GetText("URLSEM", "SOLICITARCOMUNIDAD")">@Html.GetText("COMMON", "SOLICITARCOMUNIDAD")</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="group mgAplicaciones">
            <div class="head-group">
                <h4>@Html.GetText("HOMEUSU", "MENUAPLICACIOMES")</h4>
            </div>
            <div class="body-group">
                <ul class="listado">
                    <li>
                        <a href="@perfil.Url@Html.GetText("URLSEM", "HERRAMIENTASGNOSS")" >@Html.GetText("FOOTER", "AGNADIRGNOSS")</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="group mgEspacioPersonal moduloDestacado">
            <div class="head-group">
                <h4>@Html.GetNombreEspacioPersonal()</h4>
            </div>
            <div class="body-group">
                <ul class="listado">
                    <li>
                        <a href="@perfil.Url@Html.GetText("URLSEM", "MISRECURSOS")">@Html.GetText("HOMEUSU", "TEXTOESPACIOPERSONAL", Html.GetNombreProyectoEcosistema());</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="group mgOrganizaciones moduloDestacado">
            <div class="head-group">
                <h4>@Html.GetText("HOMEUSU", "MENUORGANIZACIONES")</h4>
            </div>
            <div class="body-group">
                <ul class="listado">
                    <li>
                        <a href="@perfil.Url@Html.GetText("URLSEM", "REGISTROORGANIZACION")">Crea tu red para tu empresa, asociación o colectivo</a>
                    </li>
                </ul>
            </div>
        </div>

        @if (IdentidadActual.IsTeacher)
        {
            <div class="group mgOrganizaciones moduloDestacado">
                <div class="head-group">
                    <h4>@Html.GetText("HOMEUSU", "MENUCLASES")</h4>
                </div>
                <div class="body-group">
                    <ul class="listado">
                        <li>
                            <a href="@perfil.Url@Html.GetText("URLSEM", "REGISTROCLASE")">@Html.GetText("ADMINISTRARCLASES", "TEXTOCREARCLASE")</a>
                        </li>
                    </ul>
                </div>
            </div>
        }

    </div>
</div>
<div id="col02">
    <h2>@Html.GetText("CONTROLESLIVE", "TITULOCONTROLEVENTOS")</h2>
    <p class="tituloComponente"></p>
    <div class="resource-list social-events-list widthTabs">
        @if (Model.RecentActivity.RecentActivityItems.Count > 0)
        {
            @Html.PartialView("ControlesMVC/_ActividadReciente", Model.RecentActivity)
        }
    </div>
</div>
<div id="col03">
    <div class="mgHerramientas">
        <div class="group mgAplicaciones moduloDestacado">
            <div class="head-group">
                <h4>@Html.GetText("HOMEUSU", "MENUEXPLORA")</h4>
            </div>
            <div class="body-group">
                <ul class="listado">
                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "INDICE")">@Html.GetText("COMMON", "INDICE")</a></li>
                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "COMUNIDADES")">@Html.GetText("COMMON", "COMUNIDADES")</a></li>
                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "BLOGS")">@Html.GetText("COMMON", "BLOGS")</a></li>
                    <li><a href="@perfil.Url@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")">@Html.GetText("COMMON", "PERSONASYORGANIZACIONES")</a></li>
                </ul>
            </div>
        </div>
    </div>
@*    <h2>Información relacional y contextos</h2>*@

@*    <div class="group mgInvitaciones">
        <div class="head-group">
            <h4>@Html.GetText("BANDEJAENTRADA", "INVITACIONES")</h4>
        </div>
        <div class="body-group">
            <fieldset>
                <div class="formulario-invitacion">
                    <script>
                        function enviarInvitacionGnoss(txtEmail)
                        {
                            if (validarEmail($('#txtInvitarCorreo').val())) {
                                MostrarUpdateProgress();
                                var urlSendInvitation = "/send-gnoss-invitation";
                                var dataPost = {
                                    ListEmail: $('#txtInvitarCorreo').val()
                                }

                                GnossPeticionAjax(urlSendInvitation, dataPost, true).done(function () {
                                    $('#divErrores').html("<div class='ok'>@Html.GetText("INVITACIONES", "INVITACIONOK")</div>");
                                }).fail(function () {
                                    $('#divErrores').html("<div style='display:block' class='ko'>@Html.GetText("INVITACIONES", "INVITACIONKO")</div>");
                                }).always(function () {
                                    $('#txtInvitarCorreo').val('')
                                    OcultarUpdateProgress();
                                });
                            }
                        }
                    </script>
                    <input type="text" class="texto" id="txtInvitarCorreo" />
                    <input type="button" onclick="enviarInvitacionGnoss($('#txtInvitarCorreo').val())" value="Invitar" class="enviarInvitacion" />
                </div>
            </fieldset>
        </div>
        <div id="divErrores">
        </div>
    </div>*@

    @*<div id="divContenedorRecomendacionesContactos">
        <div id="ctl00_CPH1_divRecomendacionesContactos">
            <div class="group mgGente">
                <div class="head-group">
                    <h4>Gente que podrías conocer <a id="ctl00_CPH1_hlIrARecomendaciones" href="/contactos-recomendados">ver todos</a></h4>
                </div>
                <div id="ctl00_CPH1_divListaRecUsuarios">
                    <div class="resource-list" id="divResultadosConRec">
                        <div>
                            <p>No hay resultados para esta búsqueda</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divContenedorRecomendacionesComunidades">
        <div>
            <div class="group mgComunidades">
                <div class="head-group">
                    <h4>Comunidades que podrían interesarte <a href="/comunidades-recomendadas">ver todas</a></h4>
                </div>
                <div id="ctl00_CPH1_divListaRecComunidades">
                    <div class="resource-list" id="divResultadosComRec">
                        <div>
                            <p>No hay resultados para esta búsqueda</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

