@model Es.Riam.Gnoss.Web.MVC.Models.OAuth.ConsumerModel
@{
    Html.SetTitle("Editar");
    string urlBase = this.Request.Url.ToString().ToLower();
    if(urlBase.LastIndexOf("/editar") > 0)
    {
        urlBase = urlBase.Substring(0,urlBase.LastIndexOf("/editar"));
        urlBase = string.Concat(urlBase, "/editar");
    }
   }
<div id="col01">
    <h2>Editar aplicaciónes</h2>

     @Html.ValidationSummary()
    <div class="box box01">
        <form action="@urlBase" method="post">
            @Html.Hidden("ConsumerId")
            Nombre de la aplicación:@Html.TextBox("Name") @Html.ValidationMessage("Name") <br />
            Descripción de la aplicación: @Html.TextBox("Description") @Html.ValidationMessage("Description")  <br />
            URL de Callback de la aplicación: @Html.TextBox("AplicationCallback")  @Html.ValidationMessage("AplicationCallback")  <br />
            <input type="submit" value="Guardar" /><br />
        </form>
    </div>
</div>
