@{
    ViewBag.Title = "AskURL";
    Layout = "~/Views/GnossTestView/_LayoutAskUrl.cshtml";
}

<h2>Introduzca la URL de la que desea depurar la vista</h2>

@using (Html.BeginForm("LoadURL", "Home", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label for="URL" class="control-label col-md-2">Url: </label>
            <div class="col-md-10">
                <div class="textbox">
                    @Html.TextBox("URL")
                </div>
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="SessionID" class="control-label col-md-2">SessionID: </label>
            <div class="col-md-10">
                <div class="textbox">
                    @Html.TextBox("SessionID")
                </div>
            </div>
        </div>
        <hr />
        <h4>Autenticación HTTP Básica</h4>
        <div class="form-group">
            <label for="User" class="control-label col-md-2">Usuario: </label>
            <div class="col-md-10">
                <div class="textbox">
                    @Html.TextBox("User")
                </div>
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="Password" class="control-label col-md-2">Password: </label>
            <div class="col-md-10">
                <div class="textbox">
                    @Html.Password("Password")
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorAskURL))
        {
        <div class="panel panel-danger">
            <div class="panel-heading">Error</div>
            <div class="panel-body">@ViewBag.ErrorAskURL</div>
        </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="submit" type="submit" value="Cargar página" class="btn btn-default">
                <input name="submit" type="submit" value="Recargar página" class="btn btn-default">
            </div>
        </div>
    </div>
}
