@model AdministrarUsuariosOrganizacionViewModel

@{
    string urlBaseAcciones = Model.UrlFilter;
}
<h2>
    @Html.GetText("USUARIOS", "COMUNIDADES")
</h2>

<form autocomplete="off" id="divFiltros">
    <fieldset>
        <legend>@Html.GetText("COMMON", "FILTRAR")</legend>
        <input type="hidden" id="urlFilter" value="@Model.UrlFilter" />
        <span style="margin-right: 20px;" class="filtroTexto">
            <input type="text" style="width: 260px; padding: 4px;" id="txtFiltrarMiembros" name="txtFiltrarMiembros" value="@Model.SearchFilter" aux="@Model.SearchFilter">
            <input class="encontrar" type="button" value="buscar" />
        </span>
        <span style="margin-right: 20px;" class="filtroCombo">
            <select style="width: 165px;" name="tipoFiltro" id="tipoFiltro">
                <option value="-1">@Html.GetText("USUARIOS", "COMUNIDADESTODAS") (@Model.Organization.NumCommunitiesOrg)</option>
                <option @Html.Raw(Model.TypeFilter == 0 ? "selected=\"selected\"" : "") value="0">Administramos (@Model.Organization.NumCommunitiesAdminOrg)</option>
                <option @Html.Raw(Model.TypeFilter == 1 ? "selected=\"selected\"" : "") value="1">Participamos (@(Model.Organization.NumCommunitiesOrg - Model.Organization.NumCommunitiesAdminOrg))</option>
            </select>
        </span>
        <span class="filtroOrden" style="font-size: 13px;">
            @Html.GetText("COMMON", "ORDENADOPOR") @Html.GetText("COMMON", "NOMBREM")
            <a id="aOrdenDescendente" class="@(Model.OrderAsc ? "" : "activo" )"></a>
            <a id="aOrdenAscendente" class="@(Model.OrderAsc ? "activo" : "" )"></a>
            <input type="hidden" name="ordenFiltros" id="ordenFiltros" value="@(Model.OrderAsc ? "ASC" : "DESC" )" />
        </span>
    </fieldset>
</form>
<div id="panContenidoMiembros">
    <div class="listadoPersonas">
        <div class="resource-list">
            @foreach (CommunityModel comunidad in Model.Proyectos)
            {
                <div class="resource" id="@comunidad.Key">
                    <div class="box description">
                        <!-- Titulo del proyecto y tipo de proyecto (publico, privado... etc) -->
                        <div class="group title">
                            <h3>
                                <a href="@comunidad.Url">@comunidad.Name</a>
                            </h3>
                            <div class="logoComunidad">
                                <a href="@comunidad.Url">
                                    <img alt="@comunidad.Name" src="@comunidad.Logo" />
                                </a>
                            </div>
                        </div>
                        <div class="acciones">
                            <ul>
                                <li><a onclick="DesplegarAccionMVC('@urlBaseAcciones/load-asign-users/@comunidad.Key', this, 'desplegable_@comunidad.Key', '');">Asignar usuarios a comunidad</a></li>
                                <li><a onclick="DelplegarEliminarProyecto(this, '@comunidad.Key');" style="cursor:pointer;">Abandonar la comunidad</a></li>
                            </ul>
                        </div>
                        <div class="group utils-2">
                            <p>
                                @switch ((CommunityModel.TypeAccessProject)comunidad.AccessType)
                                {
                                    case CommunityModel.TypeAccessProject.Private:
                                        @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADPRIVADA"))
                                        break;
                                    case CommunityModel.TypeAccessProject.Public:
                                        @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADPUBLICA"))
                                        break;
                                    case CommunityModel.TypeAccessProject.Reserved:
                                        @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADRESERVADA"))
                                        break;
                                    case CommunityModel.TypeAccessProject.Restricted:
                                        @Html.Raw(Html.GetText("COMUNIDADES", "COMUNIDADRESTRINGIDA"))
                                        break;
                                }
                                <a href="@comunidad.Url/@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")/@Html.GetText("URLSEM", "PERSONAS")">@comunidad.NumberOfPerson @Html.GetText("COMMON", "PERSONAS")</a><span>, </span><a href="@comunidad.Url/@Html.GetText("URLSEM", "PERSONASYORGANIZACIONES")/@Html.GetText("URLSEM", "ORGANIZACIONES")">@comunidad.NumberOfOrganizations @Html.GetText("COMMON", "ORGANIZACIONES")</a><span> y </span><a href="@comunidad.Url/@Html.GetText("URLSEM", "RECURSOS")">@comunidad.NumberOfResources @Html.GetText("COMMON", "RECURSOS")</a>
                            </p>
                        </div>

                        @if (comunidad.Categories != null && comunidad.Categories.Count > 0)
                        {
                            <div class="group categorias">
                                <p class="literal">@Html.GetText("LISTARECURSOS", "CATEGORIAS") </p>
                                <ul id="listCat">
                                    @foreach (CategoryModel categoria in comunidad.Categories)
                                    {
                                        <li><a href="@comunidad.UrlSearch/@Html.GetText("URLSEM", "CATEGORIA")/@categoria.Name/@categoria.Key">@categoria.Name</a>@(categoria != comunidad.Categories.Last() ? "," : "")</li>
                                    }
                                </ul>
                            </div>
                        }
                        @if (comunidad.Tags != null && comunidad.Tags.Count > 0)
                        {
                            <div class="group etiquetas">
                                <p class="literal">@Html.GetText("LISTARECURSOS", "ETIQUETAS") </p>
                                <ul class="listTags">
                                    @foreach (string tag in comunidad.Tags)
                                    {
                                        <li><a href="@comunidad.UrlSearch/@Html.GetText("URLSEM", "TAG")/@tag">@tag</a>@(tag != comunidad.Tags.Last() ? "," : "")</li>
                                    }
                                </ul>
                            </div>
                        }                        
                        <div style="display: none;" id="desplegable_@comunidad.Key">
                            <div style="display: none;" class="stateShowForm" id="panels">
                                <div class="loading" id="loading">
                                    <p>@Html.GetText("CONTROLDESPLEGAR", "CARGANDO")</p>
                                </div>
                                <div id="menssages">
                                    <div class="ok"></div>
                                    <div class="ko"></div>
                                </div>
                                <div class="box form activeForm" id="action"></div>
                                <p class="cerrar"><a clickJS="CerrarPanelAccion('desplegable_@comunidad.Key')" title="@Html.GetText("CONTROLDESPLEGAR", "CERRARFORM")">@Html.GetText("CONTROLDESPLEGAR", "CERRARX")</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.PartialView("_Paginador", Model)
</div>

<div id="panEliminarProy" class="eliminarProy" style="margin-right:70px">
    <div>
        Si continúas, la organización abandonará la comunidad.
    </div>
    <a class="botonAceptar">Aceptar</a>
</div>